body, html {
  overflow-x: hidden; }

/**New classes**/
.page-heading {
  color: #b7202e;
  font-size: 48px;
  font-family: 'Marcellus-Regular';
  line-height: 60px;
  text-align: center; }

.page-heading38 {
  color: #b7202e;
  font-size: 38px;
  font-family: 'Marcellus-Regular';
  line-height: 48px;
  text-align: center; }

/*Base classes End*/
@media (max-width: 1024px) {
  .page-heading {
    font-size: 40px;
    line-height: 60px; }

  .page-heading38 {
    font-size: 30px;
    line-height: 35px; } }
@media (max-width: 768px) {
  .page-heading {
    font-size: 34px;
    line-height: 50px; }

  .page-heading38 {
    font-size: 24px;
    line-height: 32px; } }
@media (max-width: 767px) {
  .page-heading {
    font-size: 36px;
    line-height: 42px; } }
@media (max-width: 550px) {
  .page-heading {
    font-size: 30px;
    line-height: 42px; }

  .page-heading38 {
    font-size: 22px;
    line-height: 30px; } }
@media (max-width: 480px) {
  .page-heading {
    font-size: 26px;
    line-height: 38px; } }
@media (max-width: 375px) {
  .page-heading {
    font-size: 24px;
    line-height: 30px; } }
@media (max-width: 320px) {
  .page-heading {
    font-size: 22px;
    line-height: 28px; } }
.exam-top-main {
  margin: 0; }
  .exam-top-main .exambanner {
    float: left;
    width: 100%;
    display: block;
    height: 450px;
    overflow: hidden;
    background-size: 100%;
    background-repeat: no-repeat;
    background-image: url(/assets/kjsscsr/img/examination/senior-college/overview-banner.jpg); }
    .exam-top-main .exambanner.overview-banner, .exam-top-main .exambanner.examstructure-banner, .exam-top-main .exambanner.resultanalys-banner {
      background-image: url(/assets/kjsscsr/img/examination/senior-college/overview-banner.jpg); }
    .exam-top-main .exambanner.forms-banner {
      background-image: url(/assets/kjsscsr/img/examination/senior-college/forms-banner.jpg); }
    .exam-top-main .exambanner.convocation-banner {
      background-image: url(/assets/physiotherapy/branding-imgs/examination/convocation-banner.jpg); }
    .exam-top-main .exambanner.classimprv-banner {
      background-image: url(/assets/kjsscsr/img/examination/senior-college/class-improvement-banner.jpg); }
    .exam-top-main .exambanner.ordinance-banner {
      background-image: url(/assets/kjsscsr/img/examination/senior-college/ordinance-rules-banner.jpg); }
    .exam-top-main .exambanner.faqs-banner {
      background-image: url(/assets/kjsscsr/img/examination/senior-college/faqs-banner.jpg); }
    .exam-top-main .exambanner img {
      width: 100%;
      visibility: hidden; }
  .exam-top-main .main_menu {
    margin: -165px 0px 45px 0px; }
  .exam-top-main .menu span.toggle {
    display: none; }
  .exam-top-main .menu nav.navbar {
    padding: 0px;
    margin: 0px;
    border-bottom: 10px solid #eeefef; }
    .exam-top-main .menu nav.navbar .nav li ul.dropdown-menu {
      position: absolute !important;
      margin-top: 9px;
      border-radius: 0;
      padding: 0; }
      .exam-top-main .menu nav.navbar .nav li ul.dropdown-menu li {
        width: 100%;
        float: left;
        display: block;
        text-align: left;
        border-bottom: 1px solid #ddd;
        padding: 10px 5px 10px 20px;
        min-height: auto; }
        .exam-top-main .menu nav.navbar .nav li ul.dropdown-menu li:last-child {
          border-bottom: none; }
        .exam-top-main .menu nav.navbar .nav li ul.dropdown-menu li:before {
          display: none; }
        .exam-top-main .menu nav.navbar .nav li ul.dropdown-menu li a {
          color: #58595b;
          font-size: 16px;
          font-family: "Fira Sans", sans-serif;
          line-height: 20px;
          float: left;
          width: 100%;
          display: block;
          text-align: left; }
          .exam-top-main .menu nav.navbar .nav li ul.dropdown-menu li a:before {
            content: "\f111";
            font-family: fontAwesome;
            font-size: 6px;
            position: absolute;
            left: -12px;
            top: -0px; }
          .exam-top-main .menu nav.navbar .nav li ul.dropdown-menu li a:after {
            content: ""; }
  .exam-top-main .menu ul.nav.navbar-nav {
    float: left;
    width: 100%;
    display: block;
    background-color: #fafbfb; }
    .exam-top-main .menu ul.nav.navbar-nav li {
      width: calc(100% / 6);
      float: left;
      display: inline-block;
      padding: 30px 15px 30px 15px;
      position: relative;
      min-height: 150px; }
      .exam-top-main .menu ul.nav.navbar-nav li.dropdown a:after {
        content: "\f078";
        font-family: fontAwesome;
        font-size: 12px;
        position: absolute;
        bottom: -5px;
        left: 46%;
        border: none; }
      .exam-top-main .menu ul.nav.navbar-nav li:before {
        content: "";
        width: 1px;
        height: 110px;
        position: absolute;
        right: 0px;
        top: 20%;
        background: #eeefef; }
      .exam-top-main .menu ul.nav.navbar-nav li:last-child::before {
        display: none; }
      .exam-top-main .menu ul.nav.navbar-nav li.actives {
        background-color: #eeefef; }
        .exam-top-main .menu ul.nav.navbar-nav li.actives a {
          color: #000; }
          .exam-top-main .menu ul.nav.navbar-nav li.actives a img {
            opacity: 1; }
        .exam-top-main .menu ul.nav.navbar-nav li.actives:after {
          content: "";
          width: 100%;
          height: 10px;
          background-color: #000;
          position: absolute;
          bottom: -13px;
          left: 0px; }
      .exam-top-main .menu ul.nav.navbar-nav li:hover {
        background-color: #eeefef; }
        .exam-top-main .menu ul.nav.navbar-nav li:hover a {
          color: #000; }
          .exam-top-main .menu ul.nav.navbar-nav li:hover a img {
            opacity: 1; }
      .exam-top-main .menu ul.nav.navbar-nav li .red-icon {
        display: none; }
      .exam-top-main .menu ul.nav.navbar-nav li .grey-icon {
        opacity: 0.5;
        width: auto;
        float: none; }
      .exam-top-main .menu ul.nav.navbar-nav li a {
        font-family: FiraSans-Medium;
        font-size: 18px;
        color: #58595b;
        line-height: 27px;
        width: 100%;
        text-align: center;
        display: block;
        float: left;
        position: relative;
        text-decoration: none; }
        .exam-top-main .menu ul.nav.navbar-nav li a span.img {
          float: left;
          width: 100%;
          text-align: center;
          margin: 0px 0px 12px 0px;
          min-height: 60px; }

.color-trans {
  color: transparent; }

.cmtriangle-tabslist .nav-item {
  margin-bottom: -4px; }
  .cmtriangle-tabslist .nav-item a {
    border-radius: 0;
    border: none;
    padding: 15px 20px 15px 30px;
    font-size: 16px;
    font-family: FiraSans-Medium;
    color: #58595b;
    opacity: 0.7;
    border-top: 1px solid transparent;
    border-left: 1px solid transparent;
    border-right: 1px solid transparent;
    border-bottom: 1px solid #ddd;
    width: 98%; }
    .cmtriangle-tabslist .nav-item a:hover {
      background-color: #fff;
      border: 1px solid transparent;
      background-color: #f5f6f6; }
    .cmtriangle-tabslist .nav-item a.active {
      color: #000;
      border-top: 1px solid transparent;
      border-left: 1px solid transparent;
      border-right: 1px solid transparent;
      background-color: #f5f6f6;
      color: #000;
      opacity: 1; }
      .cmtriangle-tabslist .nav-item a.active:after {
        content: "";
        width: 43px;
        height: 100%;
        position: absolute;
        background-image: url(/assets/default_asset/img/icons/grey-triangle.svg);
        right: -41px;
        top: 0px;
        background-size: 100%;
        background-repeat: no-repeat;
        background-position: center; }
      .cmtriangle-tabslist .nav-item a.active:before {
        color: #000;
        opacity: 1; }
    .cmtriangle-tabslist .nav-item a:before {
      font-family: fontAwesome;
      font-size: 6px;
      position: absolute;
      content: "\f111";
      color: #58595b;
      left: 15px;
      opacity: 0.7;
      top: 25px; }

.cmtritabs-content {
  border-left: 1px solid #e3e3e3;
  width: 100%;
  float: left;
  height: 100%; }
  .cmtritabs-content .card-body {
    padding: 10px 20px 0 20px; }

@media (min-width: 768px) {
  .tr-tabs .nav-tabs {
    display: flex;
    flex-flow: column nowrap;
    border-bottom: none; }
  .tr-tabs .nav-tabs .nav-item + .nav-item {
    margin-top: 0; }
  .tr-tabs .card {
    border: none; }
    .tr-tabs .card .card-body .card-header {
      display: block; }
    .tr-tabs .card .card-body .collapse {
      display: none; }
      .tr-tabs .card .card-body .collapse.show {
        display: block; }
  .tr-tabs .card .card-header {
    display: none; }
  .tr-tabs .card .collapse {
    display: block; } }
@media (max-width: 1200px) {
  .exam-top-main .main_menu {
    margin: -200px 0px 45px 0px; } }
@media (max-width: 1024px) {
  .exam-top-main .exambanner {
    height: 400px; }
  .exam-top-main .menu ul.nav.navbar-nav li:before {
    top: 15%;
    height: 115px; } }
@media (max-width: 800px) {
  .exam-top-main .exambanner {
    height: 340px; }
  .exam-top-main .menu nav.navbar {
    border-bottom: 5px solid #eeefef; }
  .exam-top-main .menu ul.nav.navbar-nav li {
    padding: 20px 0px 20px 0px; }
    .exam-top-main .menu ul.nav.navbar-nav li.actives::after {
      height: 5px;
      bottom: -5px; }
    .exam-top-main .menu ul.nav.navbar-nav li a {
      padding: 0 5px;
      font-size: 14px;
      line-height: 20px; } }
@media (max-width: 767px) {
  .tr-tabs .nav-tabs {
    display: none; }
  .tr-tabs .tab-pane.fade.selected {
    display: block !important;
    opacity: 1;
    margin-bottom: 30px; }
    .tr-tabs .tab-pane.fade.selected .collapse.show {
      display: flex;
      width: 100%; }
  .tr-tabs .tab-content > .tab-pane {
    display: block;
    display: block !important;
    opacity: 1;
    margin-bottom: 30px; }
  .tr-tabs .card-header {
    background: #fff;
    border-radius: 0; }
    .tr-tabs .card-header a {
      font-family: FiraSans-Medium;
      color: #58595b;
      font-size: 18px;
      text-decoration: none;
      width: 100%;
      display: block;
      padding-right: 15px; }
      .tr-tabs .card-header a:after {
        background-image: url(/assets/default_asset/img/red-plus.svg);
        background-size: 100%;
        content: "";
        width: 15px;
        height: 25px;
        background-repeat: no-repeat;
        background-position: 0px 5px;
        position: absolute;
        right: 0;
        top: -2px;
        z-index: 999; }
    .tr-tabs .card-header a[aria-expanded="true"] {
      text-decoration: none;
      color: #b7202e; }
      .tr-tabs .card-header a[aria-expanded="true"]:after {
        background-image: url(/assets/university/img/icons/minus.svg);
        top: 6px; }

  .cmtritabs-content {
    border-left: none; } }
@media (max-width: 575px) {
  .exam-top-main .color-trans {
    display: none; }
  .exam-top-main .exambanner {
    height: 200px; }
  .exam-top-main .main_menu {
    margin: -108px 0px 45px 0px; }
  .exam-top-main .menu span.toggle {
    width: 30px;
    height: 30px;
    display: block;
    /* border: 1px solid; */
    text-align: center;
    float: right;
    margin: 10px 0px 0px 0px;
    display: block;
    background-color: #fff;
    width: 55px;
    padding-top: 5px; }
    .exam-top-main .menu span.toggle i {
      font-size: 20px;
      display: block;
      color: #b7202e; }
  .exam-top-main .menu nav.navbar {
    padding: 0px;
    margin: 0px;
    width: 100%;
    border-bottom: none; }
    .exam-top-main .menu nav.navbar .nav li ul.dropdown-menu {
      margin-top: 0;
      width: 100%; }
  .exam-top-main .menu ul.nav.navbar-nav.togglethis li {
    display: block; }
  .exam-top-main .menu ul.nav.navbar-nav li {
    width: calc(100% / 1);
    padding: 10px 15px 10px 15px;
    min-height: auto;
    display: none; }
    .exam-top-main .menu ul.nav.navbar-nav li:before {
      display: none; }
    .exam-top-main .menu ul.nav.navbar-nav li.actives {
      display: block; }
      .exam-top-main .menu ul.nav.navbar-nav li.actives:after {
        height: 1px;
        bottom: 0px;
        left: 0px; }
    .exam-top-main .menu ul.nav.navbar-nav li.dropdown a:after {
      bottom: 20px;
      left: inherit;
      border: none;
      right: 8px; }
    .exam-top-main .menu ul.nav.navbar-nav li a {
      text-align: left; }
      .exam-top-main .menu ul.nav.navbar-nav li a span.img {
        display: none; }
    .exam-top-main .menu ul.nav.navbar-nav li .grey-icon {
      display: none; } }
@media (max-width: 480px) {
  .exam-top-main .exambanner {
    height: 160px; }
  .exam-top-main .main_menu {
    margin: -95px 0px 30px 0px; } }
@media (max-width: 375px) {
  .exam-top-main .main_menu {
    margin: -115px 0px 30px 0px; } }
/******************EXAMINATION PAGES*********************/
.page-heading {
  margin-bottom: 20px; }

.page-heading38 {
  margin-bottom: 30px; }

.page-subheading {
  color: #000;
  font-size: 24px;
  font-family: FiraSans-Medium;
  margin-bottom: 20px;
  line-height: 36px; }

.opacity-1 {
  opacity: 1 !important; }

.blue-link {
  word-break: break-all; }

.modal-backdrop.show {
  opacity: 0.8; }

.modal .close {
  opacity: 1; }
  .modal .close:hover, .modal .close:focus {
    outline: none;
    border: none; }

.exm-struct-main .eval-list {
  margin: 0; }
  .exm-struct-main .eval-list li {
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 20px;
    list-style-type: none;
    padding-left: 35px;
    position: relative; }
    .exm-struct-main .eval-list li::before {
      content: "";
      background: url(/assets/kjsscsr/img/examination/junior-college/tick-circle.svg) no-repeat;
      width: 25px;
      height: 25px;
      position: absolute;
      left: 0;
      top: 5px; }
.exm-struct-main .exam-tabs-sec {
  margin: 70px 0 70px 0; }
  .exm-struct-main .exam-tabs-sec .tabletxt {
    font-family: "Fira Sans", sans-serif;
    color: #000;
    font-size: 18px;
    width: 100%;
    float: left;
    line-height: 27px;
    font-weight: 300;
    margin-bottom: 30px; }
  .exm-struct-main .exam-tabs-sec .nav-tabs {
    float: none;
    margin: 0 auto;
    width: fit-content;
    margin-bottom: 25px;
    border-bottom: none; }
    .exm-struct-main .exam-tabs-sec .nav-tabs li {
      display: block;
      float: left;
      padding: 0px 20px 10px 20px; }
      .exm-struct-main .exam-tabs-sec .nav-tabs li:first-child {
        border-right: 1.5px solid #c9c9c9; }
      .exm-struct-main .exam-tabs-sec .nav-tabs li a {
        font-family: "FiraSans-Medium";
        font-size: 24px;
        color: #58595b;
        opacity: 0.7;
        padding: 0 0 10px 0;
        border: none; }
        .exm-struct-main .exam-tabs-sec .nav-tabs li a:hover {
          text-decoration: none; }
        .exm-struct-main .exam-tabs-sec .nav-tabs li a.active {
          opacity: 1;
          border-bottom: 3px solid; }
  .exm-struct-main .exam-tabs-sec .nav-tabs.sub_tab {
    border-bottom: 1px solid #ddd;
    display: block;
    float: left;
    width: 100%;
    padding: 15px 0 0px 0; }
    .exm-struct-main .exam-tabs-sec .nav-tabs.sub_tab li {
      float: left;
      padding: 0; }
      .exm-struct-main .exam-tabs-sec .nav-tabs.sub_tab li:first-child {
        border-right: none; }
      .exm-struct-main .exam-tabs-sec .nav-tabs.sub_tab li a {
        font-family: "FiraSans-Medium";
        font-size: 18px;
        color: #58595b;
        opacity: 0.7;
        padding: 15px 25px;
        margin-bottom: -1px;
        background-color: #fff;
        text-decoration: none;
        display: inline-block; }
        .exm-struct-main .exam-tabs-sec .nav-tabs.sub_tab li a.active {
          opacity: 1;
          border: 1px solid #ddd;
          border-bottom: 1px solid transparent;
          text-decoration: none; }
        .exm-struct-main .exam-tabs-sec .nav-tabs.sub_tab li a:focus {
          text-decoration: none; }
  .exm-struct-main .exam-tabs-sec .structabcontent,
  .exm-struct-main .exam-tabs-sec .tab-content {
    width: 100%;
    float: left; }
    .exm-struct-main .exam-tabs-sec .structabcontent .tab-pane,
    .exm-struct-main .exam-tabs-sec .tab-content .tab-pane {
      padding: 0; }
  .exm-struct-main .exam-tabs-sec table th b {
    font-weight: 300; }

.cls-improvmnt .bg-wrapper {
  box-shadow: 0 15px 20px 0 rgba(0, 0, 0, 0.16);
  background: #f5f6f6;
  width: 85%;
  float: none;
  margin: 0 auto;
  margin-bottom: 30px; }
.cls-improvmnt .bgheader {
  background: #fff;
  padding: 15px 30px; }
  .cls-improvmnt .bgheader .page-heading {
    margin-bottom: 0; }
.cls-improvmnt .bgcontent {
  padding: 30px 50px; }
.cls-improvmnt .imprv-list {
  position: relative;
  padding-left: 55px; }
  .cls-improvmnt .imprv-list li {
    font-family: "Fira Sans", sans-serif;
    color: #000;
    font-weight: 300;
    font-size: 18px;
    line-height: 27px;
    padding: 0 0 25px 20px; }
    .cls-improvmnt .imprv-list li:before {
      content: "";
      width: 52px;
      height: 52px;
      position: absolute;
      background-image: url(/assets/kjsscsr/img/examination/senior-college/class-improv-icons/1.svg);
      left: 0; }
    .cls-improvmnt .imprv-list li:nth-child(2):before {
      background-image: url(/assets/kjsscsr/img/examination/senior-college/class-improv-icons/2.svg); }
    .cls-improvmnt .imprv-list li:nth-child(3):before {
      background-image: url(/assets/kjsscsr/img/examination/senior-college/class-improv-icons/3.svg); }
    .cls-improvmnt .imprv-list li:nth-child(4):before {
      background-image: url(/assets/kjsscsr/img/examination/senior-college/class-improv-icons/4.svg); }
    .cls-improvmnt .imprv-list li:nth-child(5):before {
      background-image: url(/assets/kjsscsr/img/examination/senior-college/class-improv-icons/5.svg); }
    .cls-improvmnt .imprv-list li:nth-child(6):before {
      background-image: url(/assets/kjsscsr/img/examination/senior-college/class-improv-icons/6.svg); }

.instruct-sec {
  margin: 70px 0; }
  .instruct-sec .instruct-card {
    box-shadow: 0 15px 20px 0 rgba(0, 0, 0, 0.16);
    width: 100%;
    float: left;
    background-color: #f5f6f6;
    height: 100%; }
  .instruct-sec .card-head {
    background-color: #fff;
    padding: 20px; }
  .instruct-sec .card-img {
    position: relative;
    margin: 0 auto;
    border-radius: 50%;
    border: 1px solid #eee;
    text-align: center;
    width: 126px;
    padding: 20px;
    background-color: #fff; }
    .instruct-sec .card-img:hover {
      background-color: #f5f6f6; }
  .instruct-sec .card-title {
    font-weight: 400;
    font-size: 20px;
    font-family: "Fira Sans", sans-serif;
    line-height: 30px; }
  .instruct-sec .card-body {
    background-color: #f5f6f6;
    padding: 30px;
    margin-bottom: 20px;
    font-size: 18px; }
  .instruct-sec ul li {
    padding-left: 35px;
    position: relative;
    font-family: "Fira Sans", sans-serif;
    font-weight: 300;
    margin-bottom: 15px; }
  .instruct-sec .rightlist li:before {
    content: "\f00c";
    font-family: "FontAwesome";
    position: absolute;
    width: 25px;
    left: 0;
    opacity: 0.5;
    font-size: 18px;
    height: 25px; }
  .instruct-sec .wronglist li:before {
    content: "\f00d";
    font-family: "FontAwesome";
    position: absolute;
    width: 25px;
    left: 0;
    opacity: 0.5;
    font-size: 18px;
    height: 25px; }

.unfair-main {
  margin-bottom: 40px; }
  .unfair-main .note.num {
    position: relative;
    width: 100px;
    float: left; }
    .unfair-main .note.num span {
      font-size: 18px;
      text-align: center;
      position: absolute;
      display: block;
      left: 48%;
      font-family: "FiraSans-Medium";
      color: #000;
      display: block;
      top: 24px;
      line-height: 11px;
      left: 28px; }
  .unfair-main .unf-cont {
    font-size: 18px;
    line-height: 27px;
    color: #000;
    font-family: "Fira Sans", sans-serif;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: calc(100% - 120px);
    float: left; }
  .unfair-main .image {
    position: relative;
    width: 70px;
    text-align: center;
    margin: 0px auto; }
  .unfair-main .unfair-lists {
    width: 65%;
    margin: 30px auto; }
    .unfair-main .unfair-lists li {
      display: flex;
      margin: 0 0 20px 0; }

.exm-forms-main {
  margin: 0 0 70px 0; }
  .exm-forms-main .page-subheading {
    margin-bottom: 0; }
  .exm-forms-main .note.num {
    position: relative;
    width: 100%;
    float: left; }
    .exm-forms-main .note.num .image {
      position: relative;
      width: 70px;
      text-align: center;
      margin: 0px auto 10px auto; }
    .exm-forms-main .note.num span {
      font-size: 18px;
      text-align: center;
      position: absolute;
      display: block;
      left: 49%;
      font-family: "FiraSans-Medium";
      color: #000;
      display: block;
      top: 24px;
      line-height: 11px; }
  .exm-forms-main .forms-card {
    box-shadow: 0 15px 20px 0 rgba(0, 0, 0, 0.16);
    width: 100%;
    float: left;
    padding: 30px;
    border-bottom: 2px solid transparent;
    margin-bottom: 40px; }
    .exm-forms-main .forms-card:hover {
      border-bottom: 2px solid #b7202e; }
    .exm-forms-main .forms-card p {
      margin: 10px 0; }
    .exm-forms-main .forms-card img {
      width: 15%;
      margin: 0 auto;
      display: block;
      margin-bottom: 20px; }

.exmconvo-main .convo-intro {
  margin: 30px -15px 40px -15px; }
.exmconvo-main .convforms-box {
  background: #f5f6f6;
  margin-top: 30px;
  padding: 30px; }
  .exmconvo-main .convforms-box .page-subheading {
    margin-bottom: 10px; }
  .exmconvo-main .convforms-box p {
    margin: 0 0 10px; }
.exmconvo-main .img-gallery {
  margin-bottom: 70px; }

.img-shadow {
  box-shadow: -15px 3px 20px 0 rgba(0, 0, 0, 0.16); }

.oth-box {
  margin-bottom: 70px; }
  .oth-box .page-subheading {
    margin-bottom: 10px; }
  .oth-box p {
    margin-bottom: 10px; }
    .oth-box p:last-child {
      margin-bottom: 0; }

/**********************LIBRARY PAGES****************************/
.subheading {
  color: #000; }

.library .top_section .box {
  margin: 0 !important; }
.library .top_section .box .left p {
  margin-bottom: 15px; }
.library .top_section .right-imgbox {
  margin-top: 50px; }
.library .library_look .slider .img-fluid {
  width: 100%;
  max-height: 540px;
  object-fit: cover; }

.physio-libov {
  margin: 0 0 70px 0;
  float: left;
  width: 100%; }
  .physio-libov .subheading {
    margin: 20px 0; }
  .physio-libov .hrs-box {
    border: solid 1px #fcc905;
    padding: 15px;
    width: fit-content;
    margin-bottom: 20px; }
    .physio-libov .hrs-box p {
      margin-bottom: 10px; }
      .physio-libov .hrs-box p:last-child {
        margin-bottom: 0; }
  .physio-libov .brown-box {
    background-color: #a25723;
    padding: 40px 35px;
    color: #fff;
    float: left;
    width: 100%; }
    .physio-libov .brown-box .subheading {
      margin: 0 0;
      color: #fff; }
    .physio-libov .brown-box .hrs-box {
      padding: 0;
      border: none;
      margin: 20px 0; }
      .physio-libov .brown-box .hrs-box p {
        color: #fff; }
    .physio-libov .brown-box .btn {
      padding: 0; }
      .physio-libov .brown-box .btn .outline-grey-btn {
        color: #fff;
        background: #a25723;
        border: 1px solid #fff;
        margin: 10px 0 0 0;
        display: block; }

.collection-main {
  margin: 0 0 70px 0; }
  .collection-main.campaign .counter .title {
    margin-bottom: 0; }
  .collection-main.campaign .counter-Txt {
    border-right: 1px solid #ddd;
    padding-bottom: 25px; }
    .collection-main.campaign .counter-Txt:nth-child(n + 4) {
      margin: 0px 0px 20px 0px; }
  .collection-main .coln-descps {
    width: 70%;
    margin: 0 auto; }
  .collection-main .img-box {
    min-height: 100px; }
    .collection-main .img-box img {
      width: 100px;
      margin-bottom: 10px; }

.library .wrapper .img.overview {
  background-image: url(/assets/physiotherapy/branding-imgs/library/library_banner.jpg) !important;
  background-position: bottom; }

.lib-cmresources .shadow_box {
  box-shadow: rgba(0, 0, 0, 0.09) 0px 5px 16px 0px;
  margin-bottom: 50px;
  padding: 30px; }
.lib-cmresources .contentbox {
  padding: 0px 30px; }
  .lib-cmresources .contentbox p {
    margin-bottom: 10px; }
    .lib-cmresources .contentbox p:last-child {
      margin-bottom: 0; }
.lib-cmresources .simple-link {
  margin-top: 10px; }
.lib-cmresources .guideline_box {
  border: 1px solid #e1e1e1;
  float: left;
  width: 100%;
  padding: 0;
  margin-bottom: 30px;
  position: relative;
  overflow: hidden;
  background-color: #fff; }
.lib-cmresources .count {
  background-color: #ed1c24;
  width: 40px;
  height: 40px;
  text-align: center;
  font-family: "FiraSans-Medium";
  font-size: 14px;
  color: #f5f9f2;
  padding-top: 17px;
  border-radius: 30px;
  position: absolute;
  z-index: 9;
  left: -15px;
  top: -15px;
  padding-left: 8px; }
.lib-cmresources .content {
  min-height: 100px;
  border-left: 4px solid #fff;
  display: table;
  border-left: 4px solid #fff;
  min-height: 100px;
  padding: 0; }
  .lib-cmresources .content:hover {
    border-left: 4px solid #ed1c24; }
  .lib-cmresources .content p {
    display: table-cell;
    vertical-align: middle;
    float: none;
    padding-right: 10px;
    padding-left: 30px;
    font-size: 16px;
    text-align: left; }

.physio-libservices .mainherotitle-38 {
  margin-bottom: 30px; }
.physio-libservices .pfc .grey_path {
  background-color: #f7faf6;
  width: 100%;
  position: relative;
  left: 15px;
  padding: 20px 0px 20px 50px;
  margin-bottom: 20px;
  float: left;
  border-left: 4px solid #009640; }
.physio-libservices .pfc .shadow_box {
  padding: 0; }
.physio-libservices .pfc .contentbox {
  padding: 30px 0; }
  .physio-libservices .pfc .contentbox p {
    padding: 0px 0px 10px 50px; }
    .physio-libservices .pfc .contentbox p:last-child {
      padding: 0px 0px 0 50px; }
.physio-libservices .pfc .timings {
  font-size: 18px;
  line-height: 27px;
  color: #000;
  font-family: "Fira Sans", sans-serif;
  margin-bottom: 10px;
  width: 100%;
  float: left; }
  .physio-libservices .pfc .timings i {
    margin-right: 10px; }
  .physio-libservices .pfc .timings .fullwidth {
    margin-bottom: 10px; }
.physio-libservices .lib-borrow .border_bg {
  margin-bottom: 40px; }
  .physio-libservices .lib-borrow .border_bg:after {
    content: "";
    color: #000;
    width: 85%;
    border: 0.5px solid #c1c1c1;
    position: absolute;
    top: 0px;
    z-index: -1;
    top: 47%;
    left: 10%; }
.physio-libservices .lib-borrow .img-leftbox {
  text-align: center;
  width: 16%;
  position: relative;
  top: 55px;
  left: -15px;
  float: left; }
  .physio-libservices .lib-borrow .img-leftbox img {
    width: 85%;
    border: 5px solid #f5f5f5;
    border-radius: 80%;
    background-color: #f5f5f5;
    margin: 0 auto;
    float: none;
    margin-bottom: 10px; }
.physio-libservices .lib-borrow .bg {
  padding: 20px;
  background-color: #fcf6f0;
  box-shadow: 0px 5px 8.2px 0.8px rgba(0, 0, 0, 0.11);
  height: 100%; }
  .physio-libservices .lib-borrow .bg.blue-bg {
    background-color: #f1f7f9; }
  .physio-libservices .lib-borrow .bg .subheading {
    font-size: 22px; }
  .physio-libservices .lib-borrow .bg p {
    margin-bottom: 10px;
    padding-left: 20px; }
.physio-libservices .lib-fines .guideline_box .content {
  border-left: 3px solid #ddd; }
  .physio-libservices .lib-fines .guideline_box .content:hover {
    border-left: 3px solid #ddd; }
  .physio-libservices .lib-fines .guideline_box .content p {
    font-size: 18px;
    padding: 20px; }
.physio-libservices .lib-fines .guideline_box:hover {
  box-shadow: 0px 5px 8.2px 0.8px rgba(0, 0, 0, 0.11); }
.physio-libservices .lib-returns {
  margin: 50px 0 0 0;
  position: relative; }
  .physio-libservices .lib-returns .subtext {
    font-size: 22px;
    line-height: 30px;
    width: 100%;
    float: left;
    margin-bottom: 20px; }
  .physio-libservices .lib-returns .boxgrid-wrapper.row {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-row-gap: 15px;
    grid-column-gap: 0; }
    .physio-libservices .lib-returns .boxgrid-wrapper.row:first-child {
      border-bottom: 1px solid #ddd; }
    .physio-libservices .lib-returns .boxgrid-wrapper.row .col:first-child {
      border-right: 1px solid #ddd; }
    .physio-libservices .lib-returns .boxgrid-wrapper.row .col:hover {
      background-color: #b7202e;
      transition: background-color 1s; }
      .physio-libservices .lib-returns .boxgrid-wrapper.row .col:hover p,
      .physio-libservices .lib-returns .boxgrid-wrapper.row .col:hover .subheading {
        color: #fff; }
  .physio-libservices .lib-returns .rcards {
    width: 100%;
    float: left;
    padding: 30px 10px; }
    .physio-libservices .lib-returns .rcards p {
      margin-bottom: 10px; }
  .physio-libservices .lib-returns .colorwrapper::before {
    content: "";
    position: absolute;
    width: 20%;
    left: 0;
    background-color: #f5f6f6;
    height: 100%;
    z-index: 0; }
  .physio-libservices .lib-returns .returns-left {
    padding: 90px;
    padding-left: 20px;
    background: #f5f6f6;
    display: flex;
    flex-direction: column;
    justify-content: center; }
.physio-libservices .res-newlib {
  padding: 70px 0;
  margin: 50px 0;
  position: relative; }
  .physio-libservices .res-newlib .rnewcolorwrapper:after {
    background-color: rgba(76, 175, 80, 0.05);
    position: absolute;
    width: 100%;
    right: 0;
    height: 75%;
    content: "";
    z-index: -1;
    top: 0; }
  .physio-libservices .res-newlib .res-cards {
    background: #fff;
    padding: 30px;
    margin-top: 40px;
    height: 100%;
    border-top: 2px solid #b7202e;
    box-shadow: 0px 5px 8.2px 0.8px rgba(0, 0, 0, 0.11); }
    .physio-libservices .res-newlib .res-cards .fullwidth {
      margin: 15px 0; }

.lib-facilities .lib-global {
  margin-bottom: 40px;
  margin-bottom: 70px;
  width: 100%; }
.lib-facilities .subheading {
  color: #000 !important; }
.lib-facilities .schemes.left {
  border-right: 1px solid #ddd;
  padding-right: 30px; }
.lib-facilities .schemes.right {
  padding-left: 40px; }

/*****Principal Words Page & Introduction Page*****/
.princi-words-main.student-committes {
  margin: 0 0 50px 0;
  width: 100%;
  float: left; }
.princi-words-main .introsec {
  margin: 50px 0; }
.princi-words-main .page-heading {
  text-align: left; }
.princi-words-main .page-subheading {
  color: #58595b; }
  .princi-words-main .page-subheading.subtext {
    margin-top: 30px;
    margin-bottom: 10px; }
.princi-words-main .princi-desgn {
  font-size: 24px;
  line-height: 36px; }
.princi-words-main .princi-name {
  margin-bottom: 0;
  margin-top: 10px; }
.princi-words-main .infrastructures {
  background: #f5f6f6;
  padding: 50px 0;
  position: relative; }
  .princi-words-main .infrastructures:before {
    position: absolute;
    content: "";
    background: #f5f6f6;
    width: 100px;
    height: 100%;
    left: -90px;
    top: 0;
    z-index: -1; }
  .princi-words-main .infrastructures:after {
    position: absolute;
    content: "";
    background: #f5f6f6;
    width: 100px;
    height: 100%;
    right: -90px;
    top: 0;
    z-index: -1; }
  .princi-words-main .infrastructures .contentsec {
    padding: 30px;
    background: #fff; }
.princi-words-main .student-card {
  margin: 40px 0 0 0;
  padding: 30px;
  background: #fff;
  box-shadow: 0px 0px 10px #00000029;
  height: 100%; }
  .princi-words-main .student-card img {
    margin-bottom: 20px; }

/**************Local Management Page**********/
.mangment-main {
  margin: 50px 0 20px 0;
  width: 100%;
  float: left; }
  .mangment-main .member-name {
    font-size: 18px;
    line-height: 27px;
    font-family: FiraSans-Medium; }
  .mangment-main .person {
    margin-bottom: 20px;
    width: 80%; }
  .mangment-main .member-card {
    margin-bottom: 30px;
    text-align: center; }

/********************Commitees page******************/
.committes-main.redressal .comitee-box {
  display: block;
  height: 130px; }
.committes-main.redressal .links-area {
  text-align: left;
  padding-left: 30px;
  padding-top: 10px; }
.committes-main .main-area {
  margin: 50px 0; }
.committes-main .comitee-box {
  background: #eeefef;
  padding: 20px;
  width: 100%;
  float: left;
  justify-content: center;
  align-items: center;
  display: flex;
  margin-bottom: 30px;
  height: 100px; }
  .committes-main .comitee-box img {
    float: left;
    margin-right: 20px;
    width: 42px;
    height: 42px; }
  .committes-main .comitee-box:hover {
    box-shadow: 0 17px 20px 0 rgba(0, 0, 0, 0.16);
    transition: all ease 0.5s; }
.committes-main .contents-area {
  padding-right: 20px; }
.committes-main .links-area {
  text-align: right; }
.committes-main .blue-link {
  font-size: 18px; }
  .committes-main .blue-link:before {
    content: "";
    background-image: url(/assets/physiotherapy/branding-imgs/committees/pdf-icon.svg);
    width: 20px;
    height: 25px;
    position: absolute;
    background-repeat: no-repeat;
    left: -25px;
    top: 1px; }

/*******Curricular activities Page & Placements Page & co-curricular page**********/
.curricular-main .main-area {
  margin: 50px 0; }
.curricular-main .curricular-card {
  background: #f5f6f6;
  width: 100%;
  float: left;
  margin-bottom: 40px; }
  .curricular-main .curricular-card img {
    width: 100%; }
.curricular-main .curricular-subheading {
  margin-bottom: 10px;
  font-family: "Fira Sans", sans-serif;
  font-size: 22px;
  line-height: 32px;
  font-weight: 400; }
.curricular-main .card-togglebtn {
  float: right;
  background: #58595b;
  border-radius: 0;
  padding: 18px 20px;
  outline: none;
  border: none;
  box-shadow: none;
  right: -20px; }
  .curricular-main .card-togglebtn:after {
    background-image: url(/assets/default_asset/img/plus-white.svg);
    background-repeat: no-repeat;
    content: "";
    color: transparent;
    background-position: center;
    width: 40px;
    height: 36px;
    position: absolute;
    left: 0;
    top: 0; }
  .curricular-main .card-togglebtn:focus, .curricular-main .card-togglebtn:hover {
    outline: none;
    border: none;
    box-shadow: none; }
  .curricular-main .card-togglebtn i {
    color: #fff;
    display: none; }
.curricular-main .card-togglebtn[aria-expanded="true"]:after {
  background-image: url(/assets/default_asset/img/minus-white.svg); }
.curricular-main .descrip-area {
  width: 100%;
  float: left;
  padding: 20px 20px 0 20px; }
  .curricular-main .descrip-area p {
    padding-bottom: 30px; }
.curricular-main .pl-grey-patch {
  background: #f5f6f6;
  padding: 30px 0;
  position: relative;
  margin-top: 40px; }
  .curricular-main .pl-grey-patch:before {
    position: absolute;
    content: "";
    background: #f5f6f6;
    width: 100px;
    height: 100%;
    left: -90px;
    top: 0;
    z-index: -1; }
  .curricular-main .pl-grey-patch:after {
    position: absolute;
    content: "";
    background: #f5f6f6;
    width: 100px;
    height: 100%;
    right: -90px;
    top: 0;
    z-index: -1; }
.curricular-main .stepperimg {
  text-align: center;
  display: block;
  margin: 20px auto;
  width: 100%; }

/****Code of conduct page & Special Guidance Page & Experiential learning Page , Scholarships page****/
.code-conduct.splguidance .guidanceimg {
  display: block;
  margin: 20px auto; }
.code-conduct.splguidance .whitebox {
  background: #f5f6f6;
  box-shadow: none; }
.code-conduct.explearning-scholarships .scholarstudentimg {
  margin-bottom: -50px;
  width: 100%; }
.code-conduct.explearning-scholarships .others-scholarships {
  margin-top: 70px; }
.code-conduct.explearning-scholarships .explogoimg {
  margin: 0 auto 20px auto; }
.code-conduct.explearning-scholarships .page-subheading {
  font-size: 18px;
  line-height: 27px;
  border-bottom: none;
  padding: 0; }
.code-conduct.explearning-scholarships .whitebox {
  margin-bottom: 30px; }
.code-conduct.explearning-scholarships .studentimg {
  margin-bottom: -50px;
  width: 100%; }
.code-conduct .main-area {
  margin: 50px 0; }
.code-conduct .cc-greypatch {
  background: #f5f6f6;
  width: 100%;
  float: left;
  padding: 50px 0;
  position: relative; }
  .code-conduct .cc-greypatch:before {
    position: absolute;
    content: "";
    background: #f5f6f6;
    width: 100px;
    height: 100%;
    left: -90px;
    top: 0;
    z-index: -1; }
  .code-conduct .cc-greypatch:after {
    position: absolute;
    content: "";
    background: #f5f6f6;
    width: 100px;
    height: 100%;
    right: -90px;
    top: 0;
    z-index: -1; }
.code-conduct .page-subheading {
  border-bottom: 1px solid #ddd;
  padding-bottom: 10px;
  color: #58595b; }
.code-conduct .whitebox {
  background: #fff;
  padding: 30px;
  box-shadow: 0px 0px 10px #00000029;
  width: 100%;
  float: left;
  height: 100%; }
.code-conduct .days {
  font-size: 18px;
  line-height: 27px;
  font-family: FiraSans-Medium;
  color: #58595b; }
.code-conduct .girlimg {
  margin-bottom: -50px;
  width: 100%; }

/***Facilities page****/
.facilities-infra .fac-content {
  background: #f5f6f6;
  padding: 20px; }
.facilities-infra .page-subheading {
  margin: 0;
  font-size: 24px;
  line-height: 27px;
  font-family: "Fira Sans", sans-serif;
  font-weight: 400; }
.facilities-infra .main-area {
  margin: 50px 0 30px 0; }
.facilities-infra .facimg {
  width: 100%; }
.facilities-infra .facilities-card {
  margin-bottom: 40px; }
  .facilities-infra .facilities-card:hover .zoombox {
    opacity: 1; }
  .facilities-infra .facilities-card:hover .facimg {
    opacity: 0.5; }
.facilities-infra .thumbnail-plus:hover .page-subheading {
  text-decoration: underline; }
.facilities-infra .img-container {
  position: relative;
  height: 100%; }
.facilities-infra .zoombox {
  transition: 0.5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center; }
  .facilities-infra .zoombox .text {
    color: #b7202e;
    font-size: 40px;
    padding: 5px 15px; }

.modalswrapper .page-subheading {
  margin-bottom: 0;
  border-bottom: none; }
.modalswrapper .modalinmg {
  margin-bottom: 10px; }
.modalswrapper .modal-content {
  padding: 20px;
  background-color: #f5f6f6;
  border-radius: 0; }
.modalswrapper .modal-header {
  padding: 0;
  border-bottom: none; }
.modalswrapper .modal-body {
  padding: 0; }

@media (max-width: 1024px) {
  .code-conduct .girls-area {
    display: flex;
    align-items: flex-end; }
  .code-conduct .main-area {
    margin: 50px 0 30px 0; }
  .code-conduct .Llist-main li,
  .code-conduct p {
    font-size: 16px;
    line-height: 24px; }
  .code-conduct .page-subheading {
    line-height: 34px;
    font-size: 22px; }

  .curricular-main .curricular-subheading {
    font-size: 18px;
    line-height: 27px; }
  .curricular-main .descrip-area p {
    font-size: 16px;
    line-height: 24px; }

  .committes-main .thumbnailimg {
    width: 100%;
    max-height: 490px; }

  .mangment-main {
    margin: 50px 0 0 0; }
    .mangment-main p {
      font-size: 16px;
      line-height: 24px; }

  .princi-words-main .introsec {
    margin: 50px 0; }
  .princi-words-main .page-subheading {
    font-size: 22px;
    line-height: 30px;
    margin-bottom: 10px; }
  .princi-words-main .page-heading {
    margin-bottom: 10px; }
  .princi-words-main p {
    font-size: 16px;
    line-height: 24px; }
  .princi-words-main .infrastructures .contentsec {
    padding: 20px; }

  .collection-main.campaign .counter-Txt:nth-child(n + 4) {
    margin: 0px 0px 20px 0px; }

  .physio-libservices .lib-borrow .border_bg:after {
    top: 32%; }

  .cls-improvmnt .bg-wrapper {
    width: 100%; }

  .unfair-main .unfair-lists {
    width: 90%;
    margin: 20px auto 0 auto; }

  .exm-struct-main .eval-list li {
    font-size: 18px;
    line-height: 27px;
    margin-bottom: 10px; } }
@media (max-width: 991px) {
  .physio-libservices .lib-returns .colorwrapper::before {
    display: none; }
  .physio-libservices .lib-returns .returns-left {
    padding: 30px; } }
@media (max-width: 800px) {
  .committes-main p,
  .committes-main .blue-link {
    font-size: 16px;
    line-height: 24px; }

  .physio-libov {
    margin: 30px 0 70px 0; }

  .subheading {
    font-size: 20px;
    line-height: 30px; }

  .lib-cmresources {
    margin-bottom: 0; }
    .lib-cmresources .contentbox {
      padding: 0px 15px; }
      .lib-cmresources .contentbox p {
        font-size: 16px;
        line-height: 25px; }

  .physio-libservices {
    width: 100%;
    float: left;
    margin-top: 45px; }
    .physio-libservices p {
      font-size: 16px;
      line-height: 24px; }
    .physio-libservices .pfc .contentbox {
      padding: 20px 0; }
    .physio-libservices .pfc .timings {
      font-size: 16px; }
    .physio-libservices .pfc .grey_path {
      padding: 20px 0px 20px 15px; }

  .library .wrapper .img.overview {
    background-position: top;
    background-size: cover;
    height: 85%; }

  .iit-library {
    margin: 0; }

  .page-subheading {
    font-size: 20px;
    margin-bottom: 10px;
    line-height: 32px; }

  .exmconvo-main .convo-intro {
    margin: 10px -15px 40px -15px; }
  .exmconvo-main p {
    font-size: 16px;
    line-height: 24px; }
  .exmconvo-main .convforms-box {
    margin-top: 15px;
    padding: 20px; }

  .exm-struct-main .eval-list li {
    font-size: 16px;
    line-height: 24px; }
    .exm-struct-main .eval-list li:before {
      background-size: 80%; } }
@media screen and (max-width: 768px) {
  .physio-libov .library .library_look {
    margin: 0px 0px 60px 0px; }
  .physio-libov .brown-box {
    padding: 20px 20px; } }
@media (max-width: 767px) {
  .facilities-infra .main-area {
    margin: 30px 0 0 0; }
  .facilities-infra .page-subheading {
    font-size: 21px;
    line-height: 20px; }

  .code-conduct.splguidance .timings-attendance {
    margin-top: 0; }
  .code-conduct.explearning-scholarships .mtop40 {
    margin-top: 0; }
  .code-conduct.explearning-scholarships .studentimg {
    display: none; }
  .code-conduct.explearning-scholarships .cc-greypatch {
    margin: 30px 0 0 0; }
  .code-conduct.explearning-scholarships .scholarstudentimg {
    margin-bottom: 10px; }
  .code-conduct.explearning-scholarships .others-scholarships {
    margin: 0; }
  .code-conduct .main-area {
    margin: 30px 0 30px 0; }
  .code-conduct .page-heading {
    margin-bottom: 30px; }
  .code-conduct .page-subheading {
    font-size: 20px;
    list-style: 30px; }
  .code-conduct .whitebox {
    height: auto;
    margin-bottom: 30px; }
  .code-conduct .girlimg {
    margin-bottom: 0;
    width: 30%;
    margin: 0 auto; }
  .code-conduct .cc-greypatch {
    padding: 30px 0;
    margin: 0 0 30px 0; }

  .curricular-main.co .pl-grey-patch {
    padding: 40px 0 20px 0; }
  .curricular-main.co .curricular-subheading {
    margin: 10px 0 20px 0; }
  .curricular-main.co .mtop30 {
    margin-top: 0; }
  .curricular-main .main-area {
    margin: 30px 0 0 0; }
  .curricular-main .pl-grey-patch {
    padding: 10px; }
  .curricular-main p {
    font-size: 16px;
    line-height: 24px; }

  .committes-main .page-heading {
    margin-bottom: 20px; }
  .committes-main .main-area {
    margin: 30px 0 0 0; }
  .committes-main .comitee-box {
    height: auto;
    display: block !important; }
  .committes-main .thumbnailimg {
    display: none; }
  .committes-main .width-70,
  .committes-main .width-30 {
    width: 100%; }
  .committes-main .links-area {
    text-align: left;
    padding: 15px 0 0 25px; }

  .princi-words-main .introsec {
    margin: 30px 0; }
    .princi-words-main .introsec .page-subheading {
      font-size: 18px;
      line-height: 27px; }
  .princi-words-main .mt-5,
  .princi-words-main .my-5 {
    margin-top: 1rem !important; }
  .princi-words-main p {
    font-size: 16px;
    line-height: 24px; }
  .princi-words-main .princi-desgn {
    font-size: 18px;
    line-height: 30px; }
  .princi-words-main .princi-pic {
    margin-top: 20px; }
  .princi-words-main .infrastructures {
    padding: 30px 15px;
    margin-top: 0; }
  .princi-words-main .student-card {
    height: auto; }
  .princi-words-main.student-committes {
    margin: 0 0 10px 0; }

  .physio-libov {
    margin: 30px 0 50px 0; }
    .physio-libov .brown-box {
      margin-top: 30px; }

  .lib-cmresources .left_img_cont,
  .lib-cmresources .right_img_cont {
    width: 100%;
    float: left;
    display: block;
    text-align: center; }
    .lib-cmresources .left_img_cont img,
    .lib-cmresources .right_img_cont img {
      width: 50% !important;
      margin: 0 auto;
      margin-bottom: 30px; }

  .physio-libservices .lib-fines {
    margin: 0; }
    .physio-libservices .lib-fines .guideline_box .content p {
      font-size: 16px; }
  .physio-libservices .pfc .contentbox {
    padding: 20px 15px; }
    .physio-libservices .pfc .contentbox p {
      padding: 0px 15px 10px 15px; }
      .physio-libservices .pfc .contentbox p:last-child {
        padding: 0px 15px 10px 15px; }
  .physio-libservices .pfc .grey_path {
    left: 0; }
  .physio-libservices .res-newlib .res-cards {
    height: auto; }
  .physio-libservices .res-newlib .rnewcolorwrapper:after {
    height: 100%; }
  .physio-libservices .lib-borrow {
    margin-bottom: 0; }
    .physio-libservices .lib-borrow .bg {
      height: auto;
      margin-bottom: 30px; }
    .physio-libservices .lib-borrow .border_bg:after {
      top: 14%;
      width: 95%;
      left: 20px; }
    .physio-libservices .lib-borrow .img-leftbox {
      width: 100%;
      top: 0;
      left: auto;
      margin-bottom: 20px; }
      .physio-libservices .lib-borrow .img-leftbox img {
        width: 20%; }

  .iit-library img {
    max-height: 300px;
    object-fit: cover; }

  .lib-facilities .lib-global {
    margin-bottom: 50px; }
    .lib-facilities .lib-global img {
      max-height: 300px;
      object-fit: cover;
      margin: 20px 0; }
  .lib-facilities .schemes.left {
    border-right: none;
    padding-right: 0; }
  .lib-facilities .schemes.right {
    margin-top: 30px;
    padding-left: 15px; }

  .exm-forms-main {
    margin: 0 0 30px 0; }
    .exm-forms-main p {
      font-size: 16px;
      line-height: 24px; }
    .exm-forms-main .forms-card {
      padding: 20px;
      text-align: center; }

  .instruct-sec {
    margin: 30px 0 30px 0; }
    .instruct-sec .instruct-card {
      height: auto;
      margin-bottom: 40px; }

  .page-heading {
    margin-bottom: 10px; }

  .exm-struct-main .evals-right img {
    margin-bottom: 20px; }
  .exm-struct-main .exam-tabs-sec {
    margin: 40px 0 40px 0; }

  .exmconvo-main .convforms-box {
    margin: 15px 0 40px 0; }
  .exmconvo-main .img-gallery {
    margin: 40px -15px 40px -15px; }
    .exmconvo-main .img-gallery img {
      margin-bottom: 30px; }
  .exmconvo-main .oth-box {
    margin-bottom: 40px; }
    .exmconvo-main .oth-box img {
      margin-bottom: 20px; } }
@media (max-width: 575px) {
  .code-conduct .Llist-main li,
  .code-conduct p {
    padding-right: 20px; }
  .code-conduct .girlimg {
    width: 50%; }
  .code-conduct .page-heading {
    margin-bottom: 20px; }

  .mangment-main {
    margin: 30px 0 0 0; }

  .collection-main {
    margin: 40px 0 0px 0;
    width: 100%;
    float: left; }
    .collection-main .img-box {
      display: none; }
    .collection-main.campaign .counter .counter-Txt {
      margin: 0px 0px 30px 0px; }
      .collection-main.campaign .counter .counter-Txt:nth-child(n + 4) {
        margin: 0px 0px 30px 0px; }
      .collection-main.campaign .counter .counter-Txt:nth-child(2), .collection-main.campaign .counter .counter-Txt:nth-child(6) {
        border-right: none; }
    .collection-main .coln-descps {
      width: 80%;
      margin: 0 auto;
      font-size: 16px;
      line-height: 24px; }

  .physio-libov {
    margin: 50px 0 50px 0; }

  .lib-cmresources .simple-link {
    word-break: break-all; }
  .lib-cmresources .left_img_cont img,
  .lib-cmresources .right_img_cont img {
    width: 100% !important; }
  .lib-cmresources .shadow_box {
    padding: 20px; }

  .physio-libservices .pfc .grey_path {
    padding: 20px 10px 20px 15px; }
  .physio-libservices .res-newlib {
    margin: 30px 0 30px 0;
    padding: 40px 0; }
    .physio-libservices .res-newlib .res-cards {
      padding: 20px; }
      .physio-libservices .res-newlib .res-cards .simple-link {
        word-break: break-all; }
  .physio-libservices .lib-returns .rcards {
    padding: 20px 0px; }
  .physio-libservices .lib-returns .boxgrid-wrapper.row {
    grid-template-columns: repeat(1, 1fr);
    grid-row-gap: 0; }
    .physio-libservices .lib-returns .boxgrid-wrapper.row .col {
      border-right: none !important;
      border-bottom: 1px solid #ddd; }
      .physio-libservices .lib-returns .boxgrid-wrapper.row .col:last-child {
        border-bottom: 0; }
  .physio-libservices .lib-borrow {
    margin: 0; }
    .physio-libservices .lib-borrow .bg p {
      padding-left: 0; }
    .physio-libservices .lib-borrow .bg:last-child {
      margin-bottom: 0; }
    .physio-libservices .lib-borrow .bg:first-child {
      margin-bottom: 30px; }
    .physio-libservices .lib-borrow .border_bg:after {
      display: none; }
    .physio-libservices .lib-borrow .img-leftbox img {
      width: 30%; }

  .unfair-main {
    margin-bottom: 10px; }
    .unfair-main .mt-3,
    .unfair-main .my-3 {
      margin-top: 0rem !important; }
    .unfair-main p {
      font-size: 16px;
      line-height: 24px; }
    .unfair-main .unf-cont {
      font-size: 16px;
      line-height: 24px;
      width: calc(100% - 30px); }
    .unfair-main .note.num {
      width: 30px; }
      .unfair-main .note.num .image {
        display: none; }
      .unfair-main .note.num span {
        top: 10px;
        left: 0px; }

  .cls-improvmnt {
    margin: 0; }
    .cls-improvmnt .bgheader {
      padding: 15px; }
    .cls-improvmnt .bgcontent {
      padding: 20px 20px; }
    .cls-improvmnt .imprv-list li {
      font-size: 16px;
      line-height: 24px;
      padding: 0 0 20px 0px; }
      .cls-improvmnt .imprv-list li:before {
        background-size: 75%;
        background-repeat: no-repeat; } }
@media (max-width: 480px) {
  .exm-struct-main .eval-list li {
    font-size: 16px;
    line-height: 24px; }
    .exm-struct-main .eval-list li:before {
      background-size: 70%;
      left: 5px; }
  .exm-struct-main .exam-tabs-sec .common-table th {
    font-size: 16px; }
  .exm-struct-main .exam-tabs-sec .tabletxt {
    font-size: 14px;
    margin-bottom: 10px; }
  .exm-struct-main .exam-tabs-sec .nav-tabs {
    margin-top: 20px;
    margin-bottom: 10px; }
    .exm-struct-main .exam-tabs-sec .nav-tabs.sub_tab {
      margin-top: 0; }
  .exm-struct-main .exam-tabs-sec .nav-tabs li a {
    font-size: 18px; }
  .exm-struct-main .exam-tabs-sec .nav-tabs.sub_tab li a {
    padding: 10px 8px;
    font-size: 16px; } }

/*# sourceMappingURL=app.css.map */
