.faqopenclose .panel-body {
  padding-top: 0px
}

.admisssion-faq .faq-left ul {
  margin-left: -20px
}

.admisssion-faq {
  /* background: #f7f7f7; */
  padding-top: 50px
}

.admisssion-faq .faqcd {
  padding: 10px;
  margin-top: 30px
}

.admisssion-faq .blue-bg {
  background: #162343
}

.admisssion-faq .faq-left .actve {
  background-color: #f7f7f7
}

.admisssion-faq .faq-left li a {
  width: 100%;
  padding: 20px 0px 20px 30px;
  margin: 0px;
  font-family: ProximaNova-Semibold;
  font-size: 17px;
  color: #808080;
}

.admisssion-faq li {
  font-family: ProximaNova-Semibold;
  font-size: 19px;
  text-transform: capitalize;
  color: #fff;
  text-align: left;
  line-height: 30px;
  padding: 10px;
  list-style: none;
  padding-left: 41px;
  border-bottom: 1px solid #eaeaea;
}

.admisssion-faq .faq-left {
  /* padding-top: 20px;
  padding-bottom: 20px; */
  padding-left: 20px;
  background: #fff;
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
  /* border: 1px solid #ececec;
  box-shadow: 3px 0px 6px rgba(105, 97, 97, 0.1), 0 3px 6px rgba(0, 0, 0, 0.1); */
}

.admisssion-faq .red-bgclr {
  margin-top: 35px;
  background: #690d26;
  padding-top: 15px;
  padding-bottom: 10px;
  width: 100%
}

.admisssion-faq .red-bgclr a {
  font-family: proxima-nova-bold;
  font-size: 26px;
  color: #fff;
  text-align: left;
  line-height: 30px;
  padding: 23px;
  padding-left: 24px;
  text-transform: none
}

.admisssion-faq .red-bgclr p {
  font-family: proxima-nova-bold;
  font-size: 26px;
  color: #fff;
  text-align: left;
  padding-left: 24px;
  padding-top: 0px;
  text-transform: none
}

.admisssion-faq .red-bg {
  background: #690d26;
  margin-top: 30px
}

.admisssion-faq .dir-btn p {
  font-family: proxima-nova-bold;
  font-size: 24px;
  text-transform: capitalize;
  color: #fff;
  text-align: left;
  line-height: 30px;
  padding: 23px;
  padding-left: 24px
}

.admisssion-faq span:after {
  background: url(../img/homepage/yellowarrow.png) no-repeat 0% 0%;
  width: 77px;
  height: 68px;
  overflow: hidden;
  position: absolute;
  right: 66px;
  margin-top: -4px;
  content: '';
  line-height: 30px
}

.admisssion-faq .fa-question-circle,
.admisssion-faq .fa-graduation-cap {
  color: #f89518
}

.admisssion-faq .fa-file-text-o,
.admisssion-faq .fa-inr {
  color: #f89518
}

.admisssion-faq .fa {
  width: 6px;
  font-size: 14px;
  margin-left: 8px;
}

.pdmtm {
  margin-bottom: 40px
}

.pts-faq .con-haed h3 {
  color: #414242;
  font-size: 22px;
  font-family: ITCFranklinGothicStd-Book;
  text-align: center
}

.pts-faq .fakbtm {
  margin-bottom: 6%
}

.pts-faq img {
  margin: 20px auto;
  height: 46px
}

.pts-faq h2 {
  font-size: 34px;
  margin-top: 0px;
  font-family: ITCFranklinGothicStd-Book
}

.faqopenclose hr {
  border-top: 1px solid #a59898;
  margin-top: 9px
}

.faqopenclose h4 {
  font-size: 24px;
  font-family: proxima-nova-bold;
  color: #162443;
  position: relative;
  margin-top: 0;
  margin-bottom: 0;
  text-transform: capitalize
}

.faqopenclose p.subhead {
  color: #690d26;
  font-weight: bold;
  font-family: proxima-nova-bold;
  font-size: 20px
}

.faqopenclose p.subhead-2 {
  color: green;
  font-weight: bold;
  font-family: proxima-nova-bold;
  font-size: 20px
}

.faqopenclose .fa-question-circle {
  color: #6b0d25;
  padding-right: 35px
}

.faqopenclose .accordion-content p {
  padding: 0px 15px
}

.faqopenclose .tp-margin {
  margin-top: 3%
}

.faqopenclose .faqtop .glyphicon-plus {
  transition: all ease 0.5s;
  position: relative;
  top: 0px;
  color: #162443;
  float: right
}

.admisssion-faq .faqopenclose h3 {
  font-size: 28px;
  color: #162443;
  background-color: #eeeeee00;
  margin-top: 0px;
  font-family: proxima-nova-bold;
  border-bottom: 1px solid #ccc;
  padding-left: 44px;
  line-height: 45px
}

.faqopenclose .con-haed:before {
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  margin: 0px 0px 0px 10px;
  text-decoration: none;
  content: "\f045";
  position: absolute;
  left: 34px;
  content: "";
  background-image: url(../img/news-media/info.png);
  width: 18px;
  height: 18px;
  background-size: 100%;
  top: 13px
}

.faqopenclose .accordion {
  margin: 35px auto
}

.faqopenclose .accordion-toggle {
  cursor: pointer;
  margin: 0;
  position: relative;
  background: #eee;
  padding-top: 30px;
  padding-bottom: 2px;
  box-shadow: 3px 0px 6px rgba(105, 97, 97, 0.1), 0 3px 6px rgba(0, 0, 0, 0.1);
  padding: 20px 15px;
  line-height: 28px;
  color: #0F1D3D;
  font-family: ProximaNova-Semibold;
  font-size: 19px;
  padding-right: 40px
}

.faqopenclose .accordion-toggle.active:before {
  display: none
}

.faqopenclose .accordion-content {
  display: none;
  margin-bottom: 2%;
  background: #fff;
  padding-top: 20px;
  padding-bottom: 20px
}

.faqopenclose .glyphicon-plus:before {
  content: "\002b";
  content: "\f054";
  font-family: FontAwesome;
  font-size: 15px;
  content: "\f053"
}

.faqopenclose .faqtop p {
  transform: rotate(0deg)
}

.faqopenclose .faqtop p.active i {
  transform: rotate(-90deg)
}

.faqopenclose .accordion-toggle.active {
  color: #0F1D3D;
  font-family: proxima-nova-bold
}

.faqopenclose .accordion h3 {
  color: #0F1D3D;
  font-family: proxima-nova-bold
}

.faqopenclose .container {
  margin-left: -2%
}

.admisssion-faq .faq-left li a:before {
  content: '\f0da';
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  text-decoration: none;
  content: "\f045";
  position: absolute;
  left: 0;
  content: "";
  background-image: url(../assets/kjsieit/images/info.png);
  width: 18px;
  height: 18px;
  background-size: 100%;
  background-repeat: no-repeat;
  margin-top: 5px
}

/* .faq-left .active {
  background: #f7f7f7;
} */
.new_faq.admisssion-faq .faq-left li.active a {
  color: #9b2928;
}

.new_faq.admisssion-faq .faq-left li.active ul li a {
  color: #333;
}

.customfaq .panel-primary .panel-body.mobp .tab-content .panel-heading .panel-title {
  cursor: pointer;
  margin: 0;
  position: relative;
  /* background: #eee; */
  padding-top: 30px;
  padding-bottom: 2px;
  /* box-shadow: 3px 0px 6px rgba(105,97,97,0.1), 0 3px 6px rgba(0,0,0,0.1); */
  padding: 5px 15px;
  line-height: 28px;
  color: #0F1D3D;
  font-family: ProximaNova-Semibold;
  font-size: 19px;
  padding-right: 40px;
}

.customfaq .panel-primary .panel-body.mobp .tab-content .con-haed h3 {
  font-size: 28px;
  color: #162443;
  background-color: #eeeeee00;
  margin-top: 0px;
  font-family: proxima-nova-bold;
  border-bottom: 1px solid #ccc;
  padding-left: 44px;
  line-height: 45px;
  margin-bottom: 35px;
}

.customfaq .panel-group .panel {
  box-shadow: 3px 0px 6px rgba(105, 97, 97, 0.1), 0 3px 6px rgba(0, 0, 0, 0.1);
}

.customfaq .panel-primary .panel-body.mobp .tab-content hr {
  display: none;
}

.customfaq .panel-primary .panel-body.mobp .tab-content .con-haed h3 i {
  display: none;
}

.customfaq .panel-primary .panel-body.mobp .tab-content .con-haed:before {
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  margin: 0px 0px 0px 10px;
  text-decoration: none;
  content: "\f045";
  position: absolute;
  left: 34px;
  content: "";
  background-image: url(../assets/kjsieit/images/info.png);
  width: 22px;
  height: 22px;
  background-size: 100%;
  top: 25px;
}

.customfaq .panel-primary .panel-body.mobp .tab-content .panel-heading .panel-title a {
  color: #0F1D3D;
  font-family: ProximaNova-Semibold;
  font-size: 19px;
  padding-right: 40px;
  text-decoration: none;
}

.customfaq .panel-primary .panel-body.mobp .tab-content .panel-heading .panel-title a i {
  float: right;
  margin-top: 5px;
}

/* .customfaq .panel-primary .panel-body.mobp .tab-content .panel-heading .panel-title a::after {
  content: '\f067';
  font-size: 15px;
  float: right;
  font-family: FontAwesome;
} */
.customfaq .panel-primary .panel-body.mobp .tab-content .panel-body p b {
  font-weight: 100;
}

.customfaq .panel-primary .panel-body.mobp .tab-content .panel-body p {
  font-family: Roboto-Light;
  font-size: 16px;
  line-height: 25px;
  color: #333;
}

.admisssion-faq ul.examination_faq_sub_menu li, .admisssion-faq ul.sub_menu li {
  padding-left: 0;
  padding-left: 55px;
  border-bottom: none;
}

.admisssion-faq ul.examination_faq_sub_menu li a:before, .admisssion-faq ul.sub_menu li a:before {
  content: none;
}

.admisssion-faq ul.examination_faq_sub_menu li a, .admisssion-faq ul.sub_menu li a {
  padding-left: 0;
  font-size: 16px;
  opacity: 0.8;
  font-weight: 100;
  text-decoration: none;
}

.customfaq .panel-group .panel+.panel {
  margin-top: 30px;
  box-shadow: 3px 0px 6px rgba(105, 97, 97, 0.1), 0 3px 6px rgba(0, 0, 0, 0.1);
  background: #eee;
  border: none;
}

.customfaq .panel-default>.panel-heading+.panel-collapse>.panel-body {
  background: #fff;
}

.customfaq .panel-default>.panel-heading+.panel-collapse>.panel-body ul {
  padding: 0;
}

.customfaq .panel-default>.panel-heading+.panel-collapse>.panel-body ul li {
  border-bottom: none;
  padding: 0;
}

.seeall-none a {
  text-decoration: none;
}