.common_program .stickybar #exTab2 .nav-pills > li.active > a, .stickybar #exTab2 .nav-pills > li > a:focus, .stickybar #exTab2 .nav-pills > li > a:hover { background: #690d26; color: #fff; background-color: #162443; }
.common_program .stickybar .crlist li, .stickybar .paymentli li { list-style-type: disc !important; font-family: Roboto-Light; font-size: 16px; line-height: 30px; word-wrap: break-word; line-height: 27px; margin-bottom: 10px; }
.common_program { float: left; width: 100%; display: block; }
.common_program .bscprogramm .mt20 { margin-top: 50px; }
.common_program .bscprogramm .full-width { float: left; width: 100%; }
.common_program .bscprogramm .bigprogram { position: relative; margin-top: 0px; max-width: 70%; float: left; display: block; width: auto; margin-bottom: 15px; padding-right: 15px; font-family: Proxima-Nova-Bold; font-size: 28px; font-weight: bold; font-style: normal; font-stretch: normal; line-height: 1.25; letter-spacing: normal; text-align: left; color: #9b2928; }
.common_program .bscprogramm p {    /* float: left; */
width: 100%; font-size: 18px; font-weight: 300; font-style: normal; font-stretch: normal; line-height: 27px; letter-spacing: normal; text-align: left; color: #333; font-family: Roboto-Light; }
.common_program .bscprogramm p.bold { font-family: ProximaNova-Semibold; font-size: 20px; color: #162443; }
.common_program .bscprogramm p.bolditalic { font-family: ProximaNova-Semibold; font-style: italic; }
.common_program .bscprogramm #container .stick-bg { background-color: transparent; height: 40px; }
.common_program .bscprogramm #container #nav a { font-family: ProximaNova-Semibold; font-size: 18px; color: #162442; padding: 12px 15px 7px 15px; text-transform: capitalize; float: left; display: block; line-height: 25px; color: #888888; }
.common_program .bscprogramm .tab-content { padding-top: 0; }
.common_program .bscprogramm .tab-pane { margin-bottom: 0; }
.common_program .bscprogramm .tab-pane h3.read_more.txtorange { border-bottom: 0; margin-bottom: 0; margin-bottom: 20px; font-size: 24px; line-height: 37px; text-transform: capitalize; font-family: ProximaNova-Semibold; color: #162443 !important; }
.common_program .bscprogramm h3 { border-bottom: 0; margin-bottom: 0; margin-top: 20px; border-bottom: 1px solid #e3e3e3; font-size: 24px; line-height: 60px; margin-bottom: 35px; text-transform: capitalize; font-family: ProximaNova-Semibold; color: #162443 !important; text-align: left;    /* padding: 0px 15px !important; */ float: left; width: 100%; }
.common_program .bscprogramm .maroom { box-shadow: 3px 0 6px rgba(105, 97, 97, 0.1), 0 3px 6px rgba(0, 0, 0, 0.1); background: #f8f8f8; background-color: rgba(245, 245, 245, 0.29); border: solid 1px #e3e3e3; box-shadow: none; float: left; padding: 30px 0px 0px 15px; }
.common_program .bscprogramm img { max-width: 100%; }
.common_program .bscprogramm .link_btn { margin-top: 10px; width: 150px; height: 45px; background: #691b26; line-height: 45px; padding: 0 28px 0 12px; border-radius: 4px; color: #fff !important; text-decoration: none; }
.common_program .bscprogramm .stick-bg #nav ul { float: left; }
.common_program .bscprogramm .fieldbottom p { font-family: Roboto-Regular; color: #162443; line-height: 20px; margin: 0px 0px 0px 0px; font-size: 18px; color: #888; }
.common_program .bscprogramm .fieldbottom p.procodep { color: #162443; }
.common_program .bscprogramm p.trisemisterp.txtbr { font-family: ProximaNova-Semibold; font-size: 20px; color: #162443; line-height: 35px; }
.common_program .bscprogramm p.big_bold { font-family: ProximaNova-Semibold; font-size: 22px; line-height: 35px; margin-bottom: 15px; }
.common_program .bscprogramm p.semi_bold { font-family: Roboto-Regular; font-size: 20px; line-height: 30px; }
.common_program .bscprogramm p.red_title { font-family: ProximaNova-Semibold; font-size: 20px; color: #d73c3a; line-height: 35px; }
.common_program .shortname { width: 30%; float: left; padding: 0 0 0 20px; margin: 0; border-left: 3px solid #b7b7b7; font-family: Proxima-Nova-Bold; font-size: 28px; font-weight: bold; font-style: normal; font-stretch: normal; line-height: 1.25; letter-spacing: normal; text-align: left; color: #162443; }
.common_program .stickybar { margin-top: 40px; }
.common_program .stickybar .bluebar { background: #e3e3e3; height: 6px; }
.common_program .stickybar .fieldbottom { margin-top: 10px; margin-bottom: 15px; }
.common_program .stickybar #exTab2 .tab-content { background: #f9ece3; background: #f9ece3; border-top: 0px solid #690d26; padding: 30px 15px 30px 15px; box-shadow: 3px 0 6px rgba(105, 97, 97, 0.1), 0 3px 6px rgba(0, 0, 0, 0.1); box-shadow: none; border: 1px solid #e3e3e3; background-color: rgba(245, 245, 245, 0.29); border-top: 0px; }
.common_program .stickybar #exTab2 .nav-pills > li > a { border-radius: 0; padding: 10px 45px; font-family: proxima-nova-bold; font-size: 18px; text-transform: uppercase; color: #000; font-family: ProximaNova-Semibold; font-size: 18px; color: #162443; padding: 12px 15px 8px 15px; text-transform: capitalize; float: left; display: block; line-height: 22px; color: #888888; background: #f5f6f7; min-width: 170px; display: block; text-align: center; border: solid 1px #e3e3e3; border-bottom: none !important; }
.common_program .stickybar #exTab2 .nav-pills > li > a:hover { text-decoration: underline; }
.common_program .stickybar #exTab2 .nav-pills > li > a br { display: none; }
.common_program .stickybar .crlist { margin-left: 17px; }
.common_program .stickybar .readmore ul li { border-bottom: 1px solid #ccc; border-bottom: 1px solid #ccc; padding: 0px 0; margin-left: 0; margin-right: 38px; float: left; width: 100%; margin-bottom: 10px; }
.common_program .stickybar .readmore ul li:last-child { border: none; }
.common_program .stickybar .readmore ul li a { font-family: ProximaNova-Semibold !important; font-size: 18px; padding-left: 0; color: #005baa; line-height: 50px; position: relative; padding-left: 33px; text-align: left; float: left; display: block; }
.common_program .stickybar .readmore ul li a:hover { text-decoration: underline !important;/* position: relative; */ }
.common_program .stickybar .readmore ul li .fa { width: 20px; padding-left: 0; position: absolute; left: 0; top: 15px; }
.common_program .stickybar .stick-bg .nav-pills>li.active>a, .stickybar .stick-bg .nav-pills>li.active>a:focus, .stickybar .stick-bg .nav-pills>li.active>a:hover, .stickybar .stick-bg .nav-pills>li>a:hover { border: none; border-bottom-color: inherit;    /* color: #fff !important; */ border-radius: 0; background-color: #f5f6f7;    /* text-decoration: underline; */ }
.common_program .stickybar .stick-bg .nav-pills>li>a:hover { text-decoration: underline !important; }
.common_program .stickybar .stick-bg .fixed .nav-pills>li>a:hover { text-decoration: underline !important; }
.common_program ul { margin-top: 0; margin-bottom: 0; list-style: none; margin: 0; padding: 0; }
.common_program .editiorli ul { margin-left: 0px; }
.common_program .editiorli li { background-image: none; padding: 0; list-style-type: disc; line-height: 27px; font-family: Roboto-Light; font-size: 17px; text-align: left; }
.common_program .editiorli li li { list-style-type: circle !important; line-height: 27px !important; font-family: Roboto-Light !important; font-size: 17px !important; }
.common_program .diffentiator .icon { display: block; float: left; margin-right: 12px; position: relative; width: 60px; }
.common_program .diffentiator .listdetail { display: block; position: relative; margin-left: 74px; }
.common_program .diffentiator h2 { font-family: proxima-nova-bold; color: #690d26; color: #690d26; border-bottom: 0; font-size: 21px; line-height: 24px; margin-bottom: 10px; margin-top: 0; font-family: ProximaNova-Light; font-family: ProximaNova-Semibold; }
.common_program .diffentiator li.courselist { margin-right: auto; clear: none; float: left; width: 50%; margin-bottom: 10px; padding-right: 10px; height: 175px; background-image: none; line-height: 27px; font-family: Roboto-Light; font-size: 17px; list-style: none; }
.common_program .lists li { width: 100%; padding-left: 19px; min-height: auto; background-position: 0 8px; background-image: url(https://simsr.somaiya.edu/assets/simsr/img/Homepage/menu-arrow.png); font-size: 17px; line-height: 30px; font-family: FrutigerLTStd-Roman; border-bottom: 0; background-repeat: no-repeat; margin-bottom: 10px; list-style-type: disc; }
.common_program .lists li ul li { list-style-type: disc; font-family: FrutigerLTStd-Roman; font-size: 17px; line-height: 30px; word-wrap: break-word; background-image: none; padding: 0; margin: 0 0 0 20px; }
.common_program .bscprogramm #container ul.nav.nav-pills .active a { background-color: #162443; color: #fff !important; }
.common_program .bscprogramm #container .fixed ul.nav.nav-pills .active a { background-color: #fff; color: #162443 !important; }
.procodep, .common_program .bscprogramm .fieldbottom p.capital { font-family: ProximaNova-Semibold !important; }

/*other */
ul.breadcrumb { display: none; }
section.aboutpanel { padding: 0px 0; }
.common_program section { padding: 0px 0; }
.common_program ul.dot_list { margin: 0px; }
.common_program ul.dot_list li { font-family: Roboto-Regular; font-size: 18px; line-height: 28px; display: table; width: 23%; float: left; min-height: 50px; border-bottom: 1px solid #70707052;    /* margin-right: 1%; */ padding: 0px 0px 0px 0px; position: relative; margin: 0px 30px 40px 0px; }
.common_program ul.dot_list li:hover { border-bottom: 1px solid #162443; }
.common_program ul.dot_list li a, .common_program ul.dot_list li p { display: table-cell; vertical-align: middle; color: #333; position: relative; padding: 0px 0px 0px 20px; float: none; font-family: Roboto-Regular; font-size: 18px; }
.common_program ul.dot_list li i { color: #162443; font-size: 6px; position: absolute; left: 0px; top: 12px; margin-top: 8px; }
.common_program .diffcourse h4 { color: #162443; border-bottom: 0; font-size: 18px; line-height: 25px; margin-bottom: 10px; margin-top: 0; font-family: ProximaNova-Semibold; }
.common_program ul.dot_list li:before {    /* content: ""; */

  /* content: "111"; */
font-family: fontAwesome; font-size: 8px; position: relative; top: 22px; }
.common_program .fixed { position: fixed; top: 0px; left: 0px; width: 100%; background: #162443 !important;    /* height: 100px; */ z-index: 9999; box-shadow: 1px 1px 4px 1px #bdb6b6dd; border: none !important; height: auto !important; min-height: inherit !important; }
.common_program .fixed .nav li a { line-height: 35px !important; }
.readmore { padding: 0px 0px 0px 30px; }
.common_program .stickybar .readmore ul li a:after { content: "\f105"; position: absolute; right: -16px; font-family: fontAwesome; content: "\f054"; font-size: 12px; transition: all ease 0.5s; }
.common_program .stickybar .readmore ul li a:hover:after { right: -20px; }
.common_program .readmore ul { margin: 0px 0px 0px 0px; float: left; width: 100%; }
.common_program .diffentiator li.courselist p { font-size: 15px !important; line-height: 25px !important; font-family: Roboto-Light !important; color: #333; }
.common_program .seeall-none a { color: #005baa; font-family: ProximaNova-Semibold; font-size: 18px; text-decoration: none; }
.common_program .hvr:after, .hvr:after, .hvr:active:after { content: "\f054"; font-family: fontAwesome; font-family: FontAwesome; font-size: 14px; content: "\f105"; position: relative; transition: all ease 0.5s; right: -1%; text-decoration: none !important; content: "\f054"; }
.common_program .hvr:hover:after, .hvr:hover:after, .hvr:hover:active:after { right: -2%; text-decoration: underline; }
@media only screen and (max-width:1680px) {
  .common_program ul.dot_list li { width: 22%; }
}
@media only screen and (max-width:1680px) {
  .common_program ul.dot_list li { width: 30%; }
}
@media only screen and (max-width:1370px) {
  .common_program ul.dot_list li { margin: 0px 30px 35px 0px; }
}
@media only screen and (max-width:1024px) {
  .common_program .bscprogramm .bigprogram { width: 100%; max-width: 100%; }
  .common_program .shortname { width: 100%; padding: 0 0 0 0px; border-left: none; }
}
@media only screen and (max-width:990px) {
  .common_program ul.dot_list li { width: 45%; }
}
@media only screen and (max-width:768px) {
  .common_program .bscprogramm #container #nav a { font-size: 15px; }
}
@media only screen and (max-width:767px) {
  .common_program .stickybar { margin-top: 0px; }
  .common_program .bscprogramm h3 { padding: 0px 0px; }
  .common_program .bscprogramm .maroom { margin: 0px 0px; }
  .readmore { padding: 15px 0px 0px 0px; }
  .common_program .readmore ul { margin: 10px 15px 0px 15px; }
  .common_program .bscprogramm .tab-pane h3.read_more.txtorange { font-size: 22px; }
  .common_program .bscprogramm img { max-width: 100%; width: 75%; margin-bottom: 25px; float: none !important; }
  .common_program .mob_widget { position: relative; max-height: 58px;    /* margin-bottom: 20px; */ background: #162443; float: left; width: 100%; position: relative; }
  .common_program ul#navbarCollapse { position: absolute; top: 58px; left: 0px; z-index: 99; }
  .common_program ul#navbarCollapse li, .common_program ul#navbarCollapse li a { position: relative !important; top: 0px; left: 0px; z-index: 99; float: left; width: 100%; }
  .common_program .mob_widget .wid_btn { background: #283f71a6; }
  .common_program .mob_widget .wid_btn { top: -45px; background: #283f71a6; }
  .common_program .stickybar #exTab2 .nav-pills > li > a { background: #253a66; }
  .common_program #tabyear { padding-left: 0px; font-size: 20px; padding-top: 5px; }
  .common_program .stickybar #exTab2 .tab-content { padding: 0px 15px; }
  .common_program .diffentiator li.courselist-kjit { width: 100%; height: auto;}
  .common_program .stickybar #exTab2 .widnav li a { color: #fff!important;}
  .common_program .bscprogramm .diffentiator_it img { width: 100%; margin-bottom: 0;}
}
@media only screen and (max-width:660px) {
  .common_program .bscprogramm .bigprogram { font-size: 26px; width: 100%; max-width: 100%; }
  .common_program .shortname { font-size: 24px; }
  .common_program .bscprogramm p.bold { font-size: 18px; }
  .common_program .bscprogramm p { font-size: 16px; }
  .common_program ul.dot_list li { width: 45%; }
  .common_program .bscprogramm p.big_bold { font-size: 20px; line-height: 30px; }
  .common_program .bscprogramm .tab-pane h3.read_more.txtorange { margin-bottom: 5px; }
}
.common_program .editiorli ul.cpul { margin-left: 30px; }
@media only screen and (max-width:550px) {
  .common_program .diffentiator li.courselist { float: left; width: 100%; height: auto; }
  .common_program ul.dot_list li { width: 100%; margin: 0px 30px 20px 0px; }
  .common_program .bscprogramm h3 { margin: 0px 0px 30px 0px; }
}
