body * {
  outline: none; }

@font-face {
  font-family: FiraSans-Regular;
  src: url(../fonts/Fira-sans-paragraph/FiraSans-Regular.ttf); }
@font-face {
  font-family: FiraSans-Bold;
  src: url(../fonts/Fira-sans-paragraph/FiraSans-Bold.ttf); }
@font-face {
  font-family: FiraSans-Light;
  src: url(../fonts/Fira-sans-paragraph/FiraSans-Light.ttf); }
@font-face {
  font-family: FiraSans-Thin;
  src: url(../fonts/Fira-sans-paragraph/FiraSans-Thin.ttf); }
@font-face {
  font-family: FiraSans-SemiBold;
  src: url(../fonts/Fira-sans-paragraph/FiraSans-SemiBold.ttf); }
@font-face {
  font-family: FiraSans-Medium;
  src: url(../fonts/Fira-sans-paragraph/FiraSans-Medium.ttf); }
@font-face {
  font-family: Marcellus-Regular;
  src: url(../fonts/Marcellus/Marcellus-Regular.ttf); }
.carousel-fade .carousel-item {
  opacity: 0;
  transition-duration: .6s;
  transition-property: opacity; }

.carousel-fade .carousel-item.active, .carousel-fade .carousel-item-next.carousel-item-left, .carousel-fade .carousel-item-prev.carousel-item-right {
  opacity: 1; }

.carousel-fade .active.carousel-item-left, .carousel-fade .active.carousel-item-right {
  opacity: 0; }

.carousel-fade .carousel-item-next, .carousel-fade .carousel-item-prev, .carousel-fade .carousel-item.active, .carousel-fade .active.carousel-item-left, .carousel-fade .active.carousel-item-prev {
  transform: translateX(0);
  transform: translate3d(0, 0, 0); }

main.dharma {
  float: left;
  width: 100%; }
  main.dharma section.about {
    float: left;
    width: 100%;
    background-image: url(../img/tbudha.png);
    background-repeat: no-repeat;
    background-size: 65%;
    background-position: 0px -366px;
    padding: 50px 0px 140px 0px; }
    main.dharma section.about .content {
      padding: 70px 0px 0px 0px; }
    main.dharma section.about .title {
      font-family: "Marcellus-Regular";
      font-size: 38px;
      color: #b7202e;
      margin-bottom: 20px;
      float: left;
      width: 100%;
      color: #000; }
    main.dharma section.about p.para {
      font-size: 18px;
      line-height: 27px;
      color: #57585b;
      font-family: "Fira Sans", sans-serif;
      font-weight: 300;
      float: left;
      width: 100%;
      margin-bottom: 35px; }
    main.dharma section.about span.bold {
      font-family: FiraSans-Medium;
      float: left;
      width: auto;
      font-size: 22px;
      margin: 0px 0px 0px 0px;
      font-style: italic;
      padding: 0px 5px 0px 0px; }
    main.dharma section.about a.btns {
      background: #58595b;
      padding: 10px 35px;
      color: #fff !important;
      font-size: 18px;
      font-family: 'FiraSans-Medium';
      margin-bottom: 10px;
      line-height: initial;
      text-align: center;
      border: none;
      FLOAT: LEFT;
      DISPLAY: BLOCK;
      margin: 0px 0px 40px 0px; }
    main.dharma section.about .wrap {
      float: left;
      width: 100%;
      position: relative;
      height: 550px; }
    main.dharma section.about .wrap .one {
      position: absolute;
      left: 0px;
      top: 140px;
      z-index: 9; }
    main.dharma section.about .wrap .two {
      position: absolute;
      right: 20px;
      top: 0px; }
    main.dharma section.about .wrap .three {
      position: absolute;
      left: 50px;
      top: 0px;
      top: 358px;
      z-index: 0; }
    main.dharma section.about .wrap .four {
      position: relative;
      left: 368px;
      top: 200px; }
  main.dharma .offering_programme {
    float: left;
    width: 100%;
    margin: 0px 0px 0px 0px;
    background-position: right -102px;
    background-repeat: no-repeat;
    background-color: #f5f6f6;
    padding: 50px 0px 0px 0px;
    position: relative; }
  main.dharma .offering_programme .w50.boder .w50 ul.border {
    border: none !important;
    border-right: 1px solid rgba(0, 0, 0, 0.16) !important; }
  main.dharma .offering_programme .w50.boder .w50 ul {
    padding-left: 0px !important; }
  main.dharma .offering_programme .title {
    color: #B7202E;
    font-family: 'Marcellus-Regular';
    font-size: 38px;
    line-height: 45px;
    text-align: center;
    width: 100%; }
  main.dharma .offering_programme .w50 {
    float: left;
    width: 48% !important;
    display: block;
    padding: 0px !important; }
  main.dharma .offering_programme ul.list {
    background-color: #fff;
    padding: 0px 0px 20px 0px; }
  main.dharma .offering_programme ul.list .label {
    font-family: 'FiraSans-Medium';
    color: #58595b;
    background-color: #58595b;
    color: #fff;
    height: 40px;
    line-height: 40px;
    padding: 0px 15px;
    margin-bottom: 15px; }
  main.dharma .offering_programme ul.list li a {
    font-family: "Fira Sans", sans-serif;
    color: #006699;
    position: relative;
    padding: 0px 0px 0px 15px;
    text-decoration: underline;
    float: left;
    font-size: 16px;
    line-height: 24px; }
    main.dharma .offering_programme ul.list li a:hover {
      color: #004466 !important; }
  main.dharma .offering_programme ul.list li a:before {
    content: "";
    width: 15px;
    height: 15px;
    border-radius: 18px;
    /* background-color: #000; */
    display: block;
    position: absolute;
    content: "\f111";
    font-family: fontAwesome;
    font-size: 6px;
    color: #000;
    position: absolute;
    left: 0px;
    top: 0px; }
  main.dharma .offering_programme ul.list li a:hover {
    color: #004466 !important; }
  main.dharma .offering_programme a.float_link {
    position: absolute;
    right: 140px;
    font-family: "Fira Sans", sans-serif;
    color: #006699;
    font-size: 18px;
    text-decoration: underline;
    top: 68px; }
    main.dharma .offering_programme a.float_link:hover {
      color: #004466 !important; }
  main.dharma .offering_programme a.float_link:hover:after {
    right: -33px;
    transition: all ease 0.5s; }
  main.dharma .offering_programme a.float_link:after {
    content: "";
    background-image: url(../img/arrow.svg);
    width: 20px;
    height: 20px;
    position: absolute;
    right: -30px;
    top: 10px;
    background-size: 14px;
    background-repeat: no-repeat;
    transition: all ease 0.5s; }
  main.dharma .offering_programme a.float_link:hover:after {
    right: -33px;
    transition: all ease 0.5s; }
  main.dharma .offering_programme .img-sec {
    float: right;
    width: 100%;
    text-align: right;
    margin-top: -35px; }
  main.dharma .offering_programme .img-sec img {
    position: relative;
    top: 3px; }
  main.dharma .offering_programme .nav-tabs {
    border: none;
    display: none; }
  main.dharma .offering_programme .title {
    color: #B7202E;
    font-family: 'Marcellus-Regular';
    font-size: 38px;
    line-height: 45px;
    text-align: center;
    width: 100%;
    margin: 0px 0px 45px 0px; }
    main.dharma .offering_programme .title img {
      position: relative;
      top: 12px; }
  main.dharma .offering_programme ul.list {
    float: left;
    width: 95%;
    margin: 0px 15px 30px 0px;
    box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.16); }
    main.dharma .offering_programme ul.list li {
      float: left;
      width: 20%;
      width: 100%;
      padding: 0px 0px 20px 20px;
      position: relative; }
      main.dharma .offering_programme ul.list li ul {
        float: left;
        width: 100%;
        padding: 0px 0px 15px 10px; }
        main.dharma .offering_programme ul.list li ul li {
          float: left;
          width: 100%;
          color: #fff;
          font-family: "Fira Sans", sans-serif;
          font-size: 16px;
          line-height: 0px;
          margin: 0px 0px 0px 0px; }
          main.dharma .offering_programme ul.list li ul li:before {
            content: "\f105";
            font-family: fontAwesome;
            position: relative;
            left: -12px; }
          main.dharma .offering_programme ul.list li ul li a {
            font-family: "Fira Sans", sans-serif;
            color: #006699;
            position: relative;
            padding: 0px 0px 0px 15px;
            text-decoration: underline;
            float: left;
            font-size: 16px;
            line-height: 24px; }
        main.dharma .offering_programme ul.list li ul span {
          background-color: #F58220;
          border-radius: 15px 15px 15px 0px;
          padding: 10px;
          font-family: 'FiraSans-Medium';
          font-size: 18px;
          color: #fff;
          line-height: 28px;
          margin: 0px 0px 15px 0px;
          float: left;
          padding-left: 15px; }
      main.dharma .offering_programme ul.list li span {
        background-color: #F58220;
        border-radius: 15px 15px 15px 0px;
        padding: 10px;
        font-family: 'FiraSans-Medium';
        font-size: 18px;
        color: #fff;
        line-height: 28px;
        margin: 0px 0px 15px 0px;
        float: left;
        width: 80%;
        padding-left: 15px; }
  main.dharma .offering_programme .tab-content {
    background-color: #B7202E;
    float: left;
    width: 100%;
    display: block;
    margin: 0px 0px 0px 3px;
    padding: 30px 40px;
    z-index: 99; }
  main.dharma .offering_programme .tab-pane {
    background-color: #B7202E; }
    main.dharma .offering_programme .tab-pane .para {
      color: #fff;
      font-family: "Fira Sans", sans-serif;
      font-size: 16px;
      line-height: 28px;
      margin: 0px 0px 30px 0px; }
  main.dharma .offering_programme .nav li.nav-item {
    margin: 0px 3px;
    position: relative;
    top: 0px;
    border: none; }
    main.dharma .offering_programme .nav li.nav-item a {
      background-color: #ECE8E2;
      font-family: 'FiraSans-Medium';
      font-size: 16px;
      padding: 15px 30px 15px 30px;
      color: #B7202E;
      display: block;
      float: left; }
      main.dharma .offering_programme .nav li.nav-item a.active {
        background-color: #B7202E;
        color: #fff;
        border: 1px solid #b7202e;
        display: block;
        float: left; }
      main.dharma .offering_programme .nav li.nav-item a img {
        float: left;
        display: block; }
      main.dharma .offering_programme .nav li.nav-item a span {
        padding: 12px 0px 15px 15px;
        float: left;
        width: 53%; }
  main.dharma .offering_programme .cust-container {
    margin-left: 100px; }
  main.dharma .highlight {
    background-color: #f5f6f6;
    padding: 20px 0;
    float: left;
    width: 100%;
    background-color: #b7202e;
    margin: 0px 0px 0px 0px;
    background-color: #b7202e; }
    main.dharma .highlight .img {
      width: 132px;
      float: left; }
      main.dharma .highlight .img img {
        width: auto; }
    main.dharma .highlight .content {
      width: calc(100% - 145px);
      float: right;
      display: block;
      text-align: left;
      display: table; }
      main.dharma .highlight .content p.para {
        font-size: 16px;
        line-height: 28px;
        color: #58595b;
        color: #fff;
        display: table-cell;
        vertical-align: middle;
        height: 102px; }
  main.dharma section.why_dharma {
    float: left;
    width: 100%;
    margin: 0px 0px 70px 0px; }
    main.dharma section.why_dharma .carousel-indicators li {
      background: #58595b;
      width: 10px;
      height: 10px;
      margin: 0px 10px; }
    main.dharma section.why_dharma .carousel-indicators li.active {
      background-color: #ed1c24; }
    main.dharma section.why_dharma ul.carousel-indicators {
      bottom: -30px; }
    main.dharma section.why_dharma .title {
      font-family: "Marcellus-Regular";
      font-size: 38px;
      color: #b7202e;
      margin-bottom: 20px;
      float: left;
      width: 100%; }
    main.dharma section.why_dharma p.para {
      font-size: 18px;
      line-height: 27px;
      color: #57585b;
      font-family: "Fira Sans", sans-serif;
      font-weight: 300;
      float: left;
      width: 100%;
      margin: 0px 0px 25px 0px; }
    main.dharma section.why_dharma a.link {
      font-size: 18px;
      line-height: 27px;
      color: #006699;
      font-family: "Fira Sans", sans-serif;
      text-decoration: underline; }
    main.dharma section.why_dharma .graybox {
      box-shadow: 0 3px 20px 0 var(--black-16);
      background-color: #f5f6f6;
      padding: 70px; }
    main.dharma section.why_dharma .slider {
      padding: 70px 0px; }
      main.dharma section.why_dharma .slider .title {
        text-align: center; }
      main.dharma section.why_dharma .slider p.para {
        font-size: 18px;
        line-height: 27px;
        color: #000;
        font-family: "Fira Sans", sans-serif;
        font-weight: 300; }
      main.dharma section.why_dharma .slider p {
        font-size: 18px;
        line-height: 27px;
        color: #000;
        font-family: "Fira Sans", sans-serif;
        font-weight: 300; }
      main.dharma section.why_dharma .slider .btm {
        float: left;
        width: 100%; }
      main.dharma section.why_dharma .slider .btm .img {
        width: 20% !important;
        float: left;
        padding-right: 20px; }
        main.dharma section.why_dharma .slider .btm .img img {
          width: 60px !important;
          float: right; }
      main.dharma section.why_dharma .slider .btm p.para {
        text-align: left !important;
        width: 100% !important; }
      main.dharma section.why_dharma .slider .btm .content {
        float: right;
        width: 80%; }
      main.dharma section.why_dharma .slider .btm .content p.para.big {
        font-family: "Marcellus-Regular";
        font-size: 28px;
        color: #000000;
        margin-bottom: 0px;
        float: left;
        width: 100%; }
      main.dharma section.why_dharma .slider .wrap .img {
        text-align: center;
        float: left;
        width: 100%; }
        main.dharma section.why_dharma .slider .wrap .img .imgs {
          float: none;
          margin: 0 auto;
          width: 130px;
          height: 130px;
          border-radius: 130px;
          overflow: hidden; }
        main.dharma section.why_dharma .slider .wrap .img img {
          margin-bottom: 30px;
          margin: 0 auto;
          width: 130px;
          margin-bottom: 30px; }
      main.dharma section.why_dharma .slider .wrap p.para {
        text-align: center;
        font-weight: normal;
        width: 75%;
        margin: 0 auto;
        float: none;
        margin-bottom: 35px; }
      main.dharma section.why_dharma .slider .wrap p {
        text-align: center;
        font-weight: normal;
        width: 75%;
        margin: 0 auto;
        float: none;
        margin-bottom: 35px; }
    main.dharma section.why_dharma a.carousel-control-prev {
      background-color: #58595b;
      color: #fff;
      width: 35px;
      height: 35px;
      padding: 10px;
      margin-left: 1px;
      opacity: 1;
      top: 23%;
      left: 50px; }
    main.dharma section.why_dharma a.carousel-control-next {
      background-color: #58595b;
      color: #fff;
      width: 35px;
      height: 35px;
      padding: 10px;
      margin-left: 1px;
      opacity: 1;
      right: 50px;
      top: 25%; }
    main.dharma section.why_dharma .carousel-control-prev-icon {
      content: "....";
      background-image: url(../../default_asset/img/arrow-white-prev.svg);
      background-repeat: no-repeat;
      background-size: cover;
      background-size: 15px;
      color: transparent;
      background-position: center; }
    main.dharma section.why_dharma .carousel-control-next-icon {
      content: "....";
      background-image: url(../../default_asset/img/arrow-white-next.svg);
      background-repeat: no-repeat;
      background-size: cover;
      background-size: 15px;
      color: transparent;
      background-position: center; }
    main.dharma section.why_dharma ul.carousel-indicators {
      display: none; }
  main.dharma .events {
    float: left;
    width: 100%;
    margin: 0px 0px 70px 0px;
    position: relative;
    padding: 0px 0px 50px 0px; }
    main.dharma .events .pdl0 {
      padding-left: 0px; }
    main.dharma .events .title {
      font-family: "Marcellus-Regular";
      font-size: 38px;
      color: #b7202e;
      margin-bottom: 20px;
      float: left;
      width: 100%; }
    main.dharma .events a.float_link {
      position: absolute;
      right: 140px;
      font-family: "Fira Sans", sans-serif;
      color: #006699;
      font-size: 18px;
      text-decoration: underline;
      top: 20px; }
    main.dharma .events a.float_link:after {
      content: "";
      background-image: url(../img/arrow.svg);
      width: 20px;
      height: 20px;
      position: absolute;
      right: -30px;
      top: 10px;
      background-size: 14px;
      background-repeat: no-repeat;
      transition: all ease 0.5s; }
    main.dharma .events .caption {
      background-color: #58595b;
      padding: 30px 30px; }
      main.dharma .events .caption p.para {
        font-size: 18px;
        line-height: 27px;
        color: #ffffff;
        font-family: "Fira Sans", sans-serif;
        font-weight: 300;
        font-family: 'FiraSans-Medium'; }
        main.dharma .events .caption p.para a {
          font-size: 18px;
          line-height: 27px;
          color: #ffffff;
          font-family: "Fira Sans", sans-serif;
          font-weight: 300;
          font-family: 'FiraSans-Medium'; }
      main.dharma .events .caption span.date {
        font-size: 16px;
        line-height: 27px;
        color: #ffffff;
        font-family: "Fira Sans", sans-serif;
        font-weight: 300; }
    main.dharma .events .carousel-inner img {
      width: 100%; }
    main.dharma .events .hozs {
      position: relative; }
      main.dharma .events .hozs .title:after {
        content: "";
        background-color: #000;
        width: 55%;
        height: 1px;
        position: absolute;
        top: 14px;
        left: 36%; }
      main.dharma .events .hozs .title {
        font-family: 'FiraSans-Medium';
        font-size: 24px;
        color: #000;
        line-height: 28px;
        float: left;
        width: 100%;
        display: block; }
      main.dharma .events .hozs ul.slider.autoplay {
        float: left;
        width: 100%;
        display: block; }
      main.dharma .events .hozs p.tag {
        font-family: 'FiraSans-Medium';
        background-color: #eeefef;
        width: auto;
        float: left;
        padding: 5px 10px;
        font-size: 14px;
        color: #b7202e;
        text-transform: uppercase;
        margin: 0px 0px 10px 0px; }
      main.dharma .events .hozs p.label {
        float: left;
        width: 100%;
        color: #004466;
        font-family: 'FiraSans-Medium';
        color: #000;
        font-size: 18px;
        line-height: 27px;
        margin: 0px 0px 3px 0px; }
        main.dharma .events .hozs p.label a {
          float: left;
          width: 100%;
          color: #004466;
          font-family: 'FiraSans-Medium';
          color: #000;
          font-size: 18px;
          line-height: 27px;
          margin: 0px 0px 3px 0px; }
        main.dharma .events .hozs p.label a {
          color: #000; }
        main.dharma .events .hozs p.label:hover {
          color: #004466;
          text-decoration: underline; }
          main.dharma .events .hozs p.label:hover a {
            color: #004466;
            text-decoration: underline; }
      main.dharma .events .hozs p.date {
        float: left;
        width: 100%;
        font-size: 18px;
        line-height: 27px;
        color: #58595b;
        font-family: "Fira Sans", sans-serif;
        font-weight: 300; }
      main.dharma .events .hozs ul li {
        border-bottom: 1px solid #ddd;
        float: left;
        width: 100%;
        padding: 0px 0px 5px 0px;
        margin: 0px 0px 20px 0px; }
    main.dharma .events a.float_link.bottom {
      bottom: 0px !important;
      top: inherit !important; }
  main.dharma section.events:after {
    content: "";
    position: absolute;
    width: 20%;
    left: 0;
    bottom: 0;
    background-color: #b7202e;
    height: 100%;
    z-index: -1;
    height: 400px; }
  main.dharma section.events:before {
    content: "";
    position: absolute;
    width: 5%;
    left: 15%;
    bottom: 0;
    background-color: #ed1c24;
    height: 100%;
    z-index: 0;
    height: 400px; }
  main.dharma section.visitors {
    float: left;
    width: 100%;
    margin: 0px 0px 70px 0px;
    position: relative;
    padding: 0px 0px 50px 0px; }
    main.dharma section.visitors .sub-title {
      color: #57585B;
      font-family: "Fira Sans", sans-serif;
      font-weight: normal;
      margin: 0px 0px 25px 0px;
      font-family: 'FiraSans-Medium';
      font-size: 24px;
      color: #000; }
    main.dharma section.visitors .custcontainer {
      padding-right: 60px; }
    main.dharma section.visitors .title {
      font-family: "Marcellus-Regular";
      font-size: 38px;
      color: #b7202e;
      margin-bottom: 20px;
      float: left;
      width: 100%;
      text-align: center;
      margin: 0px 0px 45px 0px; }
    main.dharma section.visitors .img {
      float: left;
      width: 100%; }
    main.dharma section.visitors .img img {
      width: 100%;
      float: left; }
    main.dharma section.visitors .content {
      box-shadow: 3px 3px 20px 0 rgba(0, 0, 0, 0.16);
      background-color: #ffffff;
      padding: 40px 50px;
      position: relative;
      left: -50px;
      top: 50px;
      margin-bottom: 30px; }
    main.dharma section.visitors .box {
      box-shadow: 0 3px 20px 0 rgba(0, 0, 0, 0.16);
      background-color: #ffffff;
      padding: 35px; }
    main.dharma section.visitors .carousel-control-prev {
      background-color: #58595b;
      color: #fff0 !important;
      font-size: 22px;
      padding: 4px 6px;
      margin-left: 2px;
      height: 47px;
      width: 47px;
      opacity: 1;
      position: absolute !important;
      bottom: inherit;
      right: 98px !important;
      display: block;
      top: 30px;
      left: inherit; }
    main.dharma section.visitors span.carousel-control-prev-icon {
      color: #58595b !important;
      color: transparent !important;
      background: none;
      position: relative;
      top: 4px; }
    main.dharma section.visitors span.carousel-control-prev-icon:before {
      content: "....";
      background-image: url(../../default_asset/img/arrow-white-prev.svg);
      background-repeat: no-repeat;
      background-size: cover;
      background-size: 15px;
      color: transparent !IMPORTANT;
      background-position: center;
      background-image: url(../../../assets/campaign_page/img/Dharma/arrow-white-prev.svg);
      background-size: 100%; }
    main.dharma section.visitors .carousel-control-next {
      display: block;
      background-color: #58595b;
      color: #fff;
      font-size: 22px;
      padding: 4px 6px;
      margin-left: 2px;
      height: 47px;
      width: 47px;
      opacity: 1;
      position: absolute;
      top: inherit;
      bottom: inherit;
      right: 50px;
      top: 30px; }
    main.dharma section.visitors span.carousel-control-next-icon {
      background: none;
      position: relative;
      top: 4px; }
    main.dharma section.visitors a.carousel-control-prev:hover {
      background: #b7202e !important; }
    main.dharma section.visitors a.carousel-control-next:hover {
      background: #b7202e !important; }
    main.dharma section.visitors span.carousel-control-next-icon:before {
      content: "....";
      background-image: url(../../default_asset/img/arrow-white-next.svg);
      background-repeat: no-repeat;
      background-size: cover;
      background-size: 15px;
      color: transparent;
      background-position: center;
      background-image: url(../../../assets/campaign_page/img/Dharma/arrow-white-next.svg);
      background-size: 100%; }
  main.dharma section.outreach:after {
    content: "";
    background-color: #58595b;
    width: 70%;
    height: 450px;
    position: absolute;
    right: 0px;
    top: 150px;
    z-index: -1; }
  main.dharma section.outreach {
    float: left;
    width: 100%;
    padding: 0px 0px 70px 0px;
    position: relative; }
    main.dharma section.outreach .box {
      box-shadow: 0 3px 20px 0 rgba(0, 0, 0, 0.16);
      padding: 30px;
      background: #fff;
      margin-top: 100px; }
    main.dharma section.outreach .title {
      font-family: "Marcellus-Regular";
      font-size: 38px;
      color: #b7202e;
      margin-bottom: 20px;
      float: left;
      width: 100%; }
    main.dharma section.outreach p.para {
      font-size: 18px;
      line-height: 27px;
      color: #58595b;
      font-family: "Fira Sans", sans-serif;
      font-weight: 300; }
    main.dharma section.outreach a.link {
      font-size: 18px;
      line-height: 27px;
      color: #006699;
      font-family: "Fira Sans", sans-serif;
      text-decoration: underline; }
    main.dharma section.outreach a.link {
      font-size: 18px;
      line-height: 27px;
      color: #006699 !important;
      font-family: "Fira Sans", sans-serif;
      text-decoration: underline !important; }
    main.dharma section.outreach .wrap {
      box-shadow: 0 3px 20px 0 rgba(0, 0, 0, 0.16);
      background-color: #ffffff;
      float: left;
      width: 100%;
      margin: 0px 0px 30px 0px; }
    main.dharma section.outreach .wraps {
      box-shadow: 0 3px 20px 0 rgba(0, 0, 0, 0.16);
      background-color: #ffffff;
      float: left;
      width: 100%;
      /* padding: 35px; */ }
      main.dharma section.outreach .wraps .img {
        width: 100%;
        height: 280px;
        overflow: hidden;
        float: left; }
    main.dharma section.outreach img {
      width: 100%; }
    main.dharma section.outreach .img {
      width: 30%;
      float: left;
      margin: 0px;
      padding: 0px; }
      main.dharma section.outreach .img img {
        width: 100%; }
    main.dharma section.outreach .content {
      float: left;
      width: 70%;
      padding: 30px; }
      main.dharma section.outreach .content p.para.big {
        font-family: 'FiraSans-Medium';
        font-size: 24px;
        margin: 0px; }
    main.dharma section.outreach .cont {
      padding: 30px;
      float: left;
      width: 100%;
      min-height: 295px; }

a.float_link:hover:after {
  right: -33px !important;
  transition: all ease 0.5s; }

.slider-wrapper.border h2.uni-banner-heading {
  position: relative; }

.slider-wrapper.border h2.uni-banner-heading:before {
  content: "";
  width: 90%;
  background-color: #ddd;
  height: 1px;
  position: absolute;
  left: 0px;
  top: 58px; }

.slider-wrapper.border h2.uni-banner-heading:after {
  content: "";
  content: "";
  width: 80%;
  background-color: #B7202E;
  height: 4px;
  position: absolute;
  left: 0px;
  top: 56.5px; }

.slider-wrapper.border .university-slider .carousel-caption p {
  color: #000;
  font-size: 18px;
  margin-top: 10px;
  padding: 15px 0px 0px 0px; }

.main-conent h3.title .img {
  float: left;
  width: auto;
  margin: 0px 20px 0px 0px; }

.main-conent h3.title {
  font-family: "Marcellus-Regular";
  font-size: 40px;
  color: #F58220; }

section.main-conent {
  background: #fff;
  float: left;
  width: 100%;
  padding: 40px 0px 20px 0px;
  margin: 0px; }

section.main-conent.gray {
  background: #F1F1F1;
  float: left;
  width: 100%;
  padding: 45px 0px 85px 0px;
  margin: 0px; }

.tabs-content .tab-content .card-body {
  float: left;
  width: 100%;
  padding: 0px; }

.half-sec .box {
  float: left;
  width: 100%;
  background-color: #fff;
  box-shadow: 0px 3px 6px #00000029; }

.img {
  padding: 0px 0px 20px 0px;
  float: left;
  width: 100%; }

.half-sec .box .img img {
  width: 100%;
  float: left; }

.half-sec .box .content {
  float: left;
  width: calc(100% - 30px);
  border-top: 10px solid #B7202E;
  margin: 0px 15px;
  padding: 30px 0px 0px 0px; }

.half-sec .box .content .title {
  font-size: 18px;
  line-height: 27px;
  color: #B7202E;
  font-family: "Fira Sans", sans-serif;
  /* font-weight: 300; */
  padding: 0px 0px 15px 0px; }

.half-sec .box .content .img {
  float: left;
  width: 30%;
  padding: 0px; }

.half-sec .box .content .img img {
  width: 100%;
  float: left; }

.half-sec .box ul.list {
  float: left;
  width: 70%;
  padding: 0px 15px; }

.half-sec .box ul.list li {
  font-size: 18px;
  line-height: 27px;
  color: #272727;
  font-family: "Fira Sans", sans-serif;
  padding: 0px 0px 15px 22px;
  background-image: url(../img/Dharma/redarw.svg);
  background-repeat: no-repeat;
  background-position: 2px 7px; }

.half-sec .box a.link img {
  margin: -3px 10px 0px 0px; }

.half-sec .box a.link {
  color: #B7202E;
  font-weight: 500;
  font-size: 18px;
  font-family: "FiraSans-Medium";
  padding: 15px 0px 40px 15px;
  float: left;
  width: 100%; }

.orange-box {
  float: left;
  width: 40%;
  background: #F58220;
  padding: 30px 50px;
  position: absolute;
  right: 13%;
  top: 3%;
  z-index: 9;
  height: 145vh; }

.orange-box .title {
  font-family: "Marcellus-Regular";
  font-size: 30px;
  color: #ffffff;
  padding: 0px 0px 15px 0px; }

.orange-box ul {
  float: left;
  width: 100%; }

.orange-box ul li {
  float: left;
  width: 100%; }

.orange-box ul li a {
  font-size: 18px;
  line-height: 27px;
  color: #fff;
  font-family: "Fira Sans", sans-serif;
  font-weight: 300;
  height: 70px;
  line-height: 70px;
  padding: 0px 0px 0px 55px;
  border-bottom: 2px dotted #ffffffb8 !important;
  position: relative;
  border-left: none !important;
  border-top: none !important;
  border-right: none !important;
  position: relative; }
  .orange-box ul li a:hover {
    border-left: none !important;
    border-top: none !important;
    border-right: none !important; }

.orange-box ul li a:before {
  content: "";
  background-image: url(../img/Dharma/whitelarw.svg);
  background-repeat: no-repeat;
  /* background-position: 8px 21px; */
  width: 30px;
  height: 30px;
  display: block;
  position: absolute;
  left: 20px;
  top: 22px; }

.orange-box ul li a.active {
  background: transparent linear-gradient(270deg, #f58220 0%, #ba5410 100%) 0% 0% no-repeat padding-box;
  background: transparent linear-gradient(270deg, #f58220 0%, #ba5410 100%) 0% 0% no-repeat padding-box;
  border: none;
  color: #fff !important;
  border-radius: 0px; }

section.tabs-content {
  float: left;
  width: 100%;
  position: relative;
  z-index: 1;
  padding: 0px;
  margin: 0px 0px 70px 0px;
  top: -2px;
  overflow: hidden; }

.half-sec .para {
  width: 80%;
  padding: 0px 0px 15px 0px; }

.half-sec {
  z-index: 99; }

.slider-wrapper.border .university-slider .carousel-caption {
  width: 42%;
  padding: 30px 25px !important; }

.float-img {
  float: left;
  text-align: right;
  width: 100%;
  z-index: 9;
  height: 110px; }

.float-img img {
  float: right;
  width: 30%;
  position: absolute;
  right: 15%;
  bottom: 0%;
  z-index: 9; }

section.common-link {
  float: left;
  width: 100%;
  margin: 0px;
  padding: 0px; }

section.common-link .img {
  float: left;
  width: 100%; }

section.common-link .img img {
  width: 100%; }

section.common-link .box {
  float: left;
  width: 80%;
  border-left: 5px solid #A25723;
  margin: 0px 0px 50px 0px;
  padding: 0px 0px 0px 0px; }

section.common-link .box .title {
  background: #A25723;
  padding: 15px 25px;
  font-family: "Marcellus-Regular";
  font-size: 25px;
  color: #ffffff;
  margin: 0px 0px 15px 0px;
  position: relative;
  left: -1px; }

section.common-link ul.list {
  padding: 0px 0px 0px 30px; }

section.common-link ul.list li a {
  font-size: 18px;
  line-height: 27px;
  color: #58595B;
  font-family: "Fira Sans", sans-serif;
  float: left;
  margin: 0px 0px 0px 15px;
  background-image: url(../img/Dharma/redarw.svg);
  background-repeat: no-repeat;
  background-position: 2px 7px;
  padding: 0px 0px 15px 20px; }

section.common-link ul.list {
  float: left;
  padding: 0px 10px 0px 5px; }

section.common-link ul.list li {
  float: left; }

section.common-link .box.orange {
  border-left: 5px solid #F58220; }

section.common-link .box.orange .title {
  background: #F58220; }

@media (min-width: 1370px) {
  .container {
    width: 90%;
    max-width: 90%;
    float: none; } }
@media (min-width: 1200px) {
  .container {
    max-width: 90%; } }
@media (max-width: 1440px) {
  main.dharma .banner-wrap ul.carousel-indicators {
    right: -230px; }

  main.dharma section.about {
    background-size: 65%;
    background-position: 0px -270px; }

  main.dharma section.outreach .cont {
    min-height: 322px; } }
@media (max-width: 1366px) {
  main.dharma .banner-wrap ul.carousel-indicators {
    right: -218px; }

  main.dharma section.outreach .cont {
    min-height: 350px; } }
@media (max-width: 1280px) {
  main.dharma .banner-wrap .patch:before {
    height: 420px; }

  main.dharma .banner-wrap .patch:after {
    height: 420px; }

  main.dharma .banner-wrap ul.carousel-indicators {
    right: -204px; }

  main.dharma .banner-wrap .captions {
    padding: 20px 30px; }

  main.dharma .events .hozs .title:after {
    width: 52%;
    left: 43%; }

  main.dharma section.about .wrap img {
    width: 50%; }

  main.dharma section.about .wrap .one {
    position: absolute;
    left: 5px;
    top: 130px;
    z-index: 9; }

  main.dharma section.about .wrap .two {
    position: absolute;
    right: 66px;
    top: 0px; }

  main.dharma section.about .wrap .four {
    position: relative;
    left: 326px;
    top: 163px; }

  main.dharma section.about .wrap .four {
    position: relative;
    left: 326px;
    top: 163px; }

  main.dharma section.visitors .sub-title {
    margin: 0px 0px 20px 0px;
    font-size: 20px; }

  main.dharma section.visitors .para {
    font-size: 16px; }

  main.dharma section.visitors .content {
    padding: 30px 40px; } }
@media (max-width: 1024px) {
  main.dharma .banner-wrap .captions .title {
    font-size: 30px;
    margin-bottom: 10px; }

  main.dharma .banner-wrap .captions p.para {
    font-size: 18px;
    line-height: 27px;
    margin: 0px 0px 15px 0px; }

  main.dharma .banner-wrap ul.carousel-indicators {
    padding: 20px; }

  main.dharma .banner-wrap .captions {
    bottom: 50px;
    width: 40%; }

  main.dharma .banner-wrap .captions .title {
    font-size: 26px;
    line-height: 34px; }

  main.dharma .banner-wrap .patch:before {
    height: 338px; }

  main.dharma .banner-wrap .patch:after {
    height: 338px; }

  main.dharma .banner-wrap {
    height: 340px; }

  main.dharma section.about .wrap .one {
    position: absolute;
    left: 5px;
    top: 115px;
    z-index: 9; }

  main.dharma section.about .wrap .two {
    position: absolute;
    right: 66px;
    top: 0px; }

  main.dharma section.about .wrap .three {
    position: absolute;
    left: 75px;
    top: 0px;
    top: 260px;
    z-index: 0; }

  main.dharma section.about .wrap .four {
    position: relative;
    left: 255px;
    top: 144px; }

  main.dharma section.about {
    padding: 30px 0px 0px 0px; } }
@media (max-width: 1024px) {
  .unilogo .large-moblogo {
    width: 230px;
    margin-top: -10px; } }
@media (max-width: 1024px) {
  main.dharma .banner-wrap .carousel-item {
    height: 340px; }

  main.dharma .banner-wrap .carousel.slide img {
    height: 340px; }

  main.dharma .banner-wrap {
    height: 340px; }

  main.dharma .banner-wrap ul.carousel-indicators {
    bottom: 82px;
    right: -180px; }

  main.dharma section.about span.bold {
    font-size: 20px; }

  main.dharma section.about .title {
    font-size: 34px; }

  main.dharma section.why_dharma .title {
    font-size: 34px; }

  main.dharma .events .title {
    font-size: 34px; }

  main.dharma section.visitors .title {
    font-size: 34px; }

  main.dharma .offering_programme .title {
    font-size: 34px; }

  main.dharma section.why_dharma .slider .btm .content p.para.big {
    font-size: 24px; }

  main.dharma .events .hozs .title:after {
    width: 40%;
    left: 54%; }

  main.dharma .events {
    margin: 0px 0px 50px 0px;
    padding: 0px 0px 30px 0px; }

  main.dharma section.visitors .title {
    margin-bottom: 15px;
    margin: 0px 0px 25px 0px; }

  main.dharma section.visitors .content {
    padding: 30px 30px; }

  main.dharma section.visitors .sub-title {
    margin: 0px 0px 15px 0px;
    font-size: 20px; }

  main.dharma section.visitors .custcontainer {
    padding-right: 20px; }

  main.dharma section.visitors {
    margin: 0px 0px 50px 0px;
    padding: 0px 0px 30px 0px; }

  main.dharma section.outreach {
    padding: 0px 0px 50px 0px; }

  main.dharma section.outreach .title {
    font-size: 30px;
    margin-bottom: 15px; }

  main.dharma section.outreach .content p.para.big {
    font-size: 20px;
    margin: 0px; }

  main.dharma section.outreach .cont {
    padding: 20px; }

  main.dharma section.outreach .content {
    padding: 15px; }

  main.dharma section.outreach .box {
    padding: 25px;
    margin-top: 70px; }

  main.dharma .banner-wrap .captions {
    bottom: 50px;
    width: auto; }

  main.dharma .banner-wrap ul.carousel-indicators {
    bottom: 110px;
    right: -180px; } }
@media (max-width: 768px) {
  .unilogo .large-moblogo {
    width: 210px; }

  main.dharma .banner-wrap ul.carousel-indicators {
    right: -133px; }

  main.dharma section.about .content {
    padding: 50px 0px 0px 0px; }

  main.dharma section.about {
    background-size: 85%;
    background-position: 0px -121px; }

  main.dharma section.about .wrap .one {
    top: 90px; }

  main.dharma section.about .wrap .four {
    left: 185px;
    top: 108px; }

  main.dharma section.about .wrap .three {
    left: 38px;
    top: 199px; }

  main.dharma section.about span.bold {
    font-size: 18px; }

  main.dharma section.about p.para {
    font-size: 16px;
    margin-bottom: 25px; }

  main.dharma .offering_programme .img-sec {
    margin-top: -100px; }

  main.dharma .offering_programme .img-sec img {
    width: 40%; }

  main.dharma .highlight .img {
    top: 14px; }

  main.dharma .highlight .img img {
    width: 72px; }

  main.dharma .highlight .content {
    width: calc(100% - 100px); }

  main.dharma section.why_dharma .graybox {
    padding: 30px 30px 30px 50px; }

  main.dharma section.why_dharma .slider {
    padding: 30px 0px; }

  main.dharma section.why_dharma .slider .wrap p.para {
    width: 85% !important; }

  main.dharma section.why_dharma .slider .wrap p {
    width: 85% !important; }

  main.dharma section.why_dharma .slider .btm .img img {
    width: 40px !important; }

  main.dharma section.why_dharma .slider .btm .content {
    width: 79%; }

  main.dharma .events a.float_link {
    right: 60px;
    top: 8px; }

  main.dharma .events .hozs {
    position: relative;
    padding: 0px; }

  main.dharma .events .hozs .title {
    font-size: 20px; }

  main.dharma section.about .title {
    font-size: 30px; }

  main.dharma section.why_dharma .title {
    font-size: 30px; }

  main.dharma .events .title {
    font-size: 30px; }

  main.dharma section.visitors .title {
    font-size: 30px; }

  main.dharma .offering_programme .title {
    font-size: 30px; }

  main.dharma section.visitors .img {
    text-align: center; }

  main.dharma section.visitors .img img {
    width: 70%;
    float: left;
    margin: 0 auto;
    float: none; }

  main.dharma section.visitors .custcontainer {
    padding-right: 15px;
    padding-left: 15px; }

  main.dharma section.visitors .content {
    padding: 30px 30px;
    left: 0px;
    top: 0px;
    border: 1px solid #ddd; }

  main.dharma section.visitors {
    margin: 0px 0px 30px 0px;
    padding: 0px 0px 20px 0px; }

  main.dharma section.outreach .box {
    margin-top: 0px;
    margin: 0px 0px 15px 0px; }

  main.dharma section.outreach .img {
    width: 30%;
    float: left; }

  .visitors .col-md-7 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%; }

  .visitors .col-md-5 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px; }

  .outreach .col-md-8 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%; }

  main.dharma section.outreach .content {
    float: left;
    width: 70%;
    padding: 15px; }

  main.dharma section.outreach:after {
    background-color: #fff; }

  main.dharma section.outreach {
    padding: 0px 0px 30px 0px; }

  .outreach .col-md-4 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%; }

  main.dharma .banner-wrap .captions {
    bottom: 50px;
    width: 40%;
    width: 70%;
    max-width: 70%; }

  main.dharma .offering_programme a.float_link {
    top: inherit;
    bottom: 30px;
    right: 60px; }

  main.dharma .events a.float_link {
    top: inherit;
    bottom: 30px; }

  main.dharma section.events:before {
    content: none; }

  main.dharma section.events:after {
    content: none; } }
@media (max-width: 767px) {
  main.dharma section.about .content {
    padding: 0px 0px 0px 0px; }

  main.dharma section.about .wrap .one {
    position: relative;
    left: 0px;
    top: 0px;
    z-index: 9;
    width: 50%;
    float: left;
    min-height: 315px; }

  main.dharma section.about .wrap .two {
    position: relative;
    right: 0px;
    top: 0px;
    width: 50%;
    float: left;
    min-height: 315px; }

  main.dharma section.about .wrap .three {
    position: relative;
    left: 0px;
    top: 0px;
    top: 0px;
    z-index: 0;
    width: 50%;
    float: left;
    min-height: 315px; }

  main.dharma section.about .wrap .four {
    position: relative;
    left: 0px;
    top: 0px;
    width: 50%;
    float: left;
    min-height: 315px; }

  main.dharma .events .hozs {
    padding: 30px 0px 0px 0px; }

  main.dharma .events .hozs .title {
    font-size: 24px; }

  main.dharma .events .hozs .title:after {
    content: none; }

  main.dharma .events .hozs ul.slider.autoplay {
    background: #fff; }

  main.dharma .events {
    float: left;
    width: 100%;
    margin: 0px 0px 70px 0px;
    position: relative;
    padding: 0px 0px 50px 0px; }

  main.dharma .events .hozs {
    padding: 30px 0px 0px 30px;
    background: #fff; }

  main.dharma section.events:before {
    height: 300px; }

  main.dharma section.events:after {
    height: 300px; }

  main.dharma section.visitors .carousel-control-next {
    right: 0px;
    top: inherit;
    bottom: 0px; }

  main.dharma section.visitors .carousel-control-prev {
    left: inherit;
    top: inherit;
    bottom: 0px;
    right: 48px !important; }

  main.dharma section.events:before {
    content: none; }

  main.dharma section.events:after {
    content: none; }

  main.dharma .events .hozs {
    margin: 30px 0px 0px 0px; }

  main.dharma .events .hozs ul li:last-child {
    border: none; } }
@media (max-width: 660px) {
  main.dharma section.about .content {
    padding: 0px 15px 0px 15px; }

  main.dharma .offering_programme .img-sec img {
    display: none; }

  main.dharma .highlight .img {
    width: 100%;
    float: left;
    position: relative;
    top: 0px;
    text-align: center; }

  main.dharma .highlight .content {
    width: calc(100% - 0px);
    text-align: center; }

  .visitors .col-md-7 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%; }

  .visitors .col-md-5 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px; }

  .outreach .col-md-8 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%; }

  .why_dharma .graybox {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%; }

  .why_dharma .slider {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%; }

  main.dharma .banner-wrap ul.carousel-indicators {
    right: -110px; }

  main.dharma .banner-wrap .captions {
    bottom: 50px;
    width: 70%;
    max-width: 70%; }

  main.dharma .banner-wrap ul.carousel-indicators {
    right: -115px; } }
@media (max-width: 550px) {
  main.dharma section.about .wrap .one {
    width: 100%;
    margin-bottom: 5px;
    min-height: auto;
    height: auto; }

  main.dharma section.about .wrap .two {
    width: 100%;
    margin-bottom: 5px;
    min-height: auto;
    height: auto; }

  main.dharma section.about .wrap .three {
    width: 100%;
    margin-bottom: 5px;
    min-height: auto;
    height: auto; }

  main.dharma section.about .wrap .four {
    width: 100%;
    margin-bottom: 5px;
    min-height: auto;
    height: auto; }

  main.dharma .offering_programme ul.list {
    width: 95%;
    margin: 0px 15px 30px 15px; }

  main.dharma .offering_programme .w50 {
    width: 100% !important;
    padding: 0px !important; }

  main.dharma section.visitors .img img {
    width: 100%; }

  main.dharma .banner-wrap .captions {
    bottom: 170px;
    width: 90%;
    position: relative !important;
    max-width: inherit;
    right: inherit;
    left: 5%;
    top: inherit;
    transition: all ease 0.5s; }

  main.dharma section.about {
    padding: 20px 0px 0px 0px; }

  main.dharma .banner-wrap ul.carousel-indicators {
    bottom: -42px;
    right: 0px;
    z-index: 9;
    box-shadow: none; }

  main.dharma .banner-wrap {
    height: auto; }

  main.dharma .banner-wrap .carousel-item {
    height: auto; }

  main.dharma .banner-wrap .carousel.slide img {
    height: auto; }

  main.dharma .offering_programme ul.list li {
    padding: 0px 0px 15px 20px; }

  main.dharma .offering_programme ul.list li ul {
    padding: 0px 0px 0px 10px; }

  main.dharma section.about .wrap {
    height: auto; }

  main.dharma .banner-wrap .carousel.slide img {
    height: 340px; }

  main.dharma section.about .wrap .three {
    min-height: auto;
    height: auto; }

  main.dharma .banner-wrap .captioned {
    float: left;
    width: 90%;
    padding: 20px 20px;
    border-bottom: 1px solid #ddd;
    margin-top: -65px;
    background: #fff;
    left: 5%;
    position: relative; }

  main.dharma .banner-wrap .captioned .title {
    font-size: 26px;
    line-height: 34px;
    font-family: "Marcellus-Regular";
    color: #b7202e; }

  main.dharma .banner-wrap .captioned p.para {
    font-size: 18px;
    line-height: 27px;
    margin: 0px 0px 15px 0px; }

  main.dharma .banner-wrap .captioned a.apply {
    background: #58595b;
    padding: 10px 35px;
    color: #fff;
    font-size: 18px;
    font-family: 'FiraSans-Medium';
    margin-bottom: 10px;
    line-height: initial;
    text-align: center;
    border: none;
    FLOAT: LEFT;
    DISPLAY: BLOCK;
    margin: 0px 0px 0px 0px; }

  main.dharma .banner-wrap .carousel.slide {
    height: auto; }

  main.dharma .banner-wrap ul.carousel-indicators {
    bottom: 10px;
    right: 0px;
    z-index: 9; }

  main.dharma .banner-wrap .main_banner {
    float: left;
    width: 100%;
    margin: 0px 0px 0px 0px; } }
@media (max-width: 480px) {
  main.dharma .banner-wrap .carousel.slide img {
    height: 280px; }

  main.dharma .banner-wrap .captions .title {
    font-size: 24px;
    line-height: 28px; }

  main.dharma .banner-wrap .captions p.para {
    font-size: 16px;
    line-height: 24px;
    margin: 0px 0px 15px 0px; }

  main.dharma .banner-wrap .captions {
    bottom: 180px;
    width: 90%;
    position: relative !important;
    max-width: inherit;
    right: inherit;
    left: 5%;
    top: inherit;
    transition: all ease 0.5s;
    min-height: 200px; }

  main.dharma .banner-wrap ul.carousel-indicators {
    right: -28px;
    width: 28%;
    width: 112px; }

  main.dharma .offering_programme a.float_link {
    top: inherit;
    bottom: 45px;
    right: 49px;
    font-size: 14px; }

  main.dharma .offering_programme a.float_link:after {
    right: -26px;
    top: 5px;
    background-size: 12px; }

  main.dharma .events .hozs {
    margin: 30px 0px 0px 0px; }

  main.dharma .events .hozs ul li:last-child {
    border: none; }

  main.dharma .events a.float_link.bottom {
    font-size: 14px; }

  main.dharma .events a.float_link:after {
    top: 6px; }

  main.dharma .events a.float_link:after {
    right: -27px;
    top: 6px;
    background-size: 12px; }

  main.dharma .events a.float_link {
    font-size: 14px; } }
.tabs-content .nav-tabs {
  display: none; }

@media (min-width: 768px) {
  .tabs-content .nav-tabs {
    display: flex; }

  .tabs-content .card {
    border: none; }

  .tabs-content .card .card-header {
    display: none; }

  .tabs-content .card .collapse {
    display: block; } }
@media (max-width: 767px) {
  .tabs-content .tab-content > .tab-pane {
    display: block !important;
    opacity: 1; } }
@media (max-width: 1680px) {
  .orange-box {
    height: 116vh; } }
@media (max-width: 1440px) {
  .orange-box {
    height: 114vh; } }
@media (max-width: 1366px) {
  .orange-box {
    height: 113vh; } }
@media (max-width: 1280px) {
  .slider-wrapper.border .university-slider .carousel-caption {
    width: 42%;
    padding: 30px 25px 20px 25px !important; } }
@media (max-width: 1025px) {
  .slider-wrapper.border h2.uni-banner-heading:after {
    top: 38.5px; }

  .slider-wrapper.border h2.uni-banner-heading:before {
    top: 40px; }

  .main-conent h3.title {
    font-size: 34px; } }

/*# sourceMappingURL=dharma.css.map */
