@import "../../default_asset/uni-scss/base";

.library {
  &.ayurvihar {
    .wrapper .img {
      width: 100%;
      &.overview {
        background-image: url(/assets/nursingcollege/img/library/overview-banner.png);
      }
      &.resources {
        background-image: url(/assets/nursingcollege/img/library/resources/resources-banner.png);
      }
      &.services {
        background-image: url(/assets/nursingcollege/img/library/services-banner.png);
      }
      &.facilities {
        background-image: url(/assets/nursingcollege/img/library/facilities-banner.png);
      }
      &.printresources {
        background-image: url(/assets/nursingcollege/img/library/print-resources-banner.png);
      }
      &.eresourcess {
        background-image: url(/assets/nursingcollege/img/library/resources/eresources-banner.png);
      }
    }
    .menu nav.navbar {
      border-bottom: none;
      .nav li {
        width: calc(100% / 5);
        padding: 30px 0 40px 0;
        min-height: auto;
        background: #f6f7f7;

        &.actives {
          background: #e8e8e8;
          &:after {
            display: none;
          }
        }
        &:before {
          height: 100%;
          top: 0;
        }
        a {
          opacity: 1;
          span.img {
            min-height: 50px;
            margin: 0px 0px 10px 0px;
            opacity: 1;
          }
        }

        ul.dropdown-menu {
          margin-top: 0;
          border: 1px solid #ddd;

          padding: 0px 0;
          background: #f6f7f7;
          border-radius: 0;
          border-top: none;
          li {
            padding-left: 30px;
          }
        }
      }
      .nav li li {
        width: 100%;
        padding: 15px;
      }
    }
  }
}
.library-subhead {
  font-family: "FiraSans-Medium";
  color: $grey;
  font-size: 24px;
  line-height: 27px;
  margin-bottom: 20px;
  width: 100%;
  float: left;
}
.lib-timings {
  margin: 0 0 70px 0;
  img {
    width: 100%;
  }
  .row {
    justify-content: center;
    align-items: center;
    display: flex;
  }
  .timing-intro {
    margin: 20px 0;
  }
}
.issue {
  font-size: 18px;
  font-family: "FiraSans-Medium";
  color: $grey;
  line-height: 27px;
}
.lib-collections {
  margin: 0 0 70px 0;
  background: $whitelight;
  padding: 30px 0;

  .collection-card {
    background: #e6e7e7;
    padding: 20px;
    margin-bottom: 20px;
  }
  .label {
    font-size: 16px;
    line-height: 27px;
    color: $grey;
    font-family: "Fira Sans", sans-serif;
    font-weight: 300;
    margin-bottom: 10px;
  }
  .counter-value {
    font-size: 24px;
    font-family: "FiraSans-Medium";
    color: $grey;
    line-height: 27px;
  }
}

.library .library_look.lib-lookshappn {
  margin: 0 0 70px 0;
  background: $whitelight;

  .container {
    padding: 30px 20px;
  }
  #myCarousel .carousel-indicators > li {
    width: calc(100% / 4) !important;
    float: left;
    padding: 5px;
    max-height: 110px;
    overflow: hidden;
    margin: 0;
    background: none;
    opacity: 1;
    &.active {
      img {
        opacity: 1;
      }
    }
    img {
      max-height: 100px;
      object-fit: cover;
      opacity: 1;
    }
  }
  .slider {
    .w75,
    .w25 {
      width: 100%;
    }

    .carousel-item {
      max-height: 430px;
    }
    .w25 {
      margin-top: -120px;
      ul li a {
        border: 3px solid #fff;
        &:after {
          background: transparent;
        }
      }
    }
  }
}
.happn-wrapper {
  background: #e6e7e7;
  padding: 30px;
  .list {
    li {
      width: 100%;
      margin-bottom: 20px;
      float: left;
    }
  }
  .date {
    font-size: 18px;
    font-family: "FiraSans-Medium";
    color: $grey;
    line-height: 27px;
  }
  p {
    font-size: 16px;
    line-height: 24px;
  }
}
.lib-resources {
  margin: 0 0 70px 0;
  &.eresources {
    margin: 0 0 40px 0;
  }
  .facilities-row {
    background: #f6f7f7;
    padding: 20px;
    margin: 0px 0px;
    text-align: center;
    p {
      margin: 20px 0 10px 0;
    }
  }
  .imgarea {
    margin-bottom: 20px;
    height: 50px;
  }
  .shadow_box {
    box-shadow: 0px 0px 6px #00000029;
    padding: 30px;
    margin-bottom: 50px;
    display: flex;

    p {
      margin-bottom: 20px;
    }
    .simple-link:before {
      float: left;
      background-image: url(/assets/nursingcollege/img/library/resources/eresarrow.svg);
      background-position: center;

      margin: 3px 10px 0 0;
    }
  }
  .greyprint {
    background: #f6f7f7;
    padding: 30px 0;
    .lib-table {
      th {
        background-color: #e5e5e5;
      }
      td {
        background: $white;
      }
    }
  }
}
.lib-table {
  margin-bottom: 30px;
  th,
  td {
    padding: 10px 20px;
  }
  th {
    background-color: $whitelight;
  }
}
.para-row {
  p {
    margin-bottom: 20px;
  }
}
.subheading {
  color: $grey;
}

.minor-head {
  font-size: 18px;
  line-height: 27px;
  font-family: "FiraSans-Medium";
  color: $grey;
  float: left;
  width: 100%;
  margin-bottom: 10px;
}
.facsnos {
  font-size: 24px;
  line-height: 27px;
  font-family: "FiraSans-Medium";
  color: $grey;
}
.library .sc-libteam .subtitle {
  text-align: left;
  margin: 20px 0 10px 0;
}

.mainherotitle-48 {
  margin-bottom: 30px;
}
.library .library_team .box .img {
  padding: 20px 20px 0 20px;
}
.whats-libcontainer {
  overflow: hidden;
  width: 100%;
  float: left;
  max-height: 360px;
}
.exam-main {
  .bannersec {
    margin-bottom: 50px;
    .bannerimg {
      width: 100%;
    }
  }
  .exmsubtext {
    color: $grey;
    font-family: "FiraSans-Medium";
    font-size: 18px;
    line-height: 27px;
  }
  .descsec {
    margin: 0 0 50px 0;
  }

  .mainherotitle-48 {
    text-align: left;
  }
  .examtable {
    margin-bottom: 30px;

    .wt {
      width: 100%;
      float: left;
    }
    th {
      background-color: #f6f7f7;
      padding: 10px;
      font-size: 18px;
      color: $grey;
    }
    td {
      padding: 10px;
      text-align: center;
      color: $grey;

      &:first-child {
        text-align: left;
      }
    }
  }

  .codebox {
    background-color: #f1f1f1;
    padding: 30px;
    margin: 20px 0 0 0;
    width: 100%;
    float: left;
    height: 100%;
  }
  .examdownloadlink {
    font-size: 18px;
    color: $linkblue;
    text-decoration: underline;
    font-weight: 400;
    font-family: "Fira Sans", sans-serif;
    padding-left: 25px;
    &::before {
      content: "";
      position: absolute;
      background-image: url(/assets/nursingcollege/img/examination/download-icon.svg);
      width: 30px;
      height: 30px;
      left: 0;
      background-repeat: no-repeat;
      background-size: 55%;
    }
    &:hover {
      text-decoration: none;
      color: $linkbluehvr;
    }
  }
  .codehead {
    position: relative;
    padding-left: 45px;
    margin-bottom: 30px;
    &.notallowed::before {
      background-image: url(/assets/nursingcollege/img/examination/notallowed.svg);
    }
    &::before {
      content: "";
      position: absolute;
      background-image: url(/assets/nursingcollege/img/examination/allowed.svg);
      width: 40px;
      height: 40px;
      left: 0;
      background-repeat: no-repeat;
    }
  }
}

@media screen and (max-width: 1024px) {
}

@media screen and (max-width: 800px) {
  .library .library_look.lib-lookshappn .slider .w25 {
    margin-top: -85px;
  }

  .exam-main {
    .descsec {
      margin: 0 0 30px 0;
    }
    .bannersec {
      margin-bottom: 30px;
    }
  }
}

@media screen and (max-width: 767px) {
  .lib-resources.eresources {
    margin: 0 0 0 0;
  }
  .library .library_look.lib-lookshappn .slider .w25 {
    margin-top: 0;
    margin-bottom: 30px;
  }
  .whats-libcontainer {
    max-height: fit-content;
    overflow: visible;
    li:last-child {
      margin-bottom: 0;
    }
  }
  .lib-timings {
    img {
      margin: 0 auto 20px auto;
      text-align: center;
      width: auto;
      display: block;
    }
    .width-20,
    .width-80 {
      width: 100%;
    }
  }
  .lib-resources {
    .width-20,
    .width-80 {
      width: 100%;
    }
  }
  .lib-collections {
    margin: 0 0 30px 0;

    img {
      display: none;
    }
  }
}

@media screen and (max-width: 575px) {
  .exam-main {
    .convoimg{

    }
    .examtable {
      td,
      th {
        font-size: 14px;
        line-height: 24px;
      }
    }
    .Llist-main li {
      padding-right: 20px;
    }
    .library-subhead {
      font-size: 20px;
      line-height: 30px;
      &.mtop40 {
        margin-top: 10px;
      }
    }
  }
  p {
    font-size: 16px;
    line-height: 24px;
  }
  .lib-resources {
    margin: 0 0 40px 0;
    .right_img_cont,
    .left_img_cont {
      img {
        margin-bottom: 20px;
      }
    }
    .simple-link {
      word-break: break-all;
    }
  }
  .mainherotitle-48 {
    margin-bottom: 15px;
  }
}

@media screen and (max-width: 480px) {
  .lib-resources {
    margin: -25px 0 40px 0;
  }
  .library .library_team {
    margin: -25px 0 20px 0;
  }
  
  .library-guidelines {
    margin: -25px 0 30px 0;
    .Llist-main {
      margin-top: 10px;
      padding-right: 25px;
    }
  }

  .happn-wrapper {
    padding: 20px;
    margin: 30px 15px 0 15px;
  }
  .library.ayurvihar section.main_menu {
    margin: -120px 0px 50px 0px;
}
  .library.ayurvihar .menu nav.navbar .nav li {
    width: 100%;
    padding: 15px 15px 15px 15px;
  }
  .library .menu ul.nav.navbar-nav.togglethis {
    margin-bottom: 25px;
  }
  .library .top_section {
    margin-top: -25px;
  }
  .library.ayurvihar .menu nav.navbar .nav li ul.dropdown-menu {
    margin-top: 30px;
    border: none;
    background-color: transparent;
    li {
      background-color: transparent;
    }
  }
}
