$assetimgPath : "/assets/images/university/img";

$darkred:#b7202e;
$brightred:#ed1c24;
$maroon:#9b2928;

$lightgrey: #707070;
$grey:#58595b;
$white:#fff;
$paracolor:#000;

$linkblue:#006699;
$linkbluehvr:#004466;

$greybg:#e7e8e9;
$menugrey:#57585b;
$black:#000;
$lightblack:#333;

$whitelight: #f5f6f6;
$lightblue: #f3f9fc;


$brown:#603312;
$lightbrown: #a25723;

$orange:#f58220;
$yellow:#ffcb05;
$boxshadow16:rgba(0, 0, 0, 0.16);
//opacity 0.05 variables
$green005:  rgba(76,175,80,0.05);
$orange005 : rgba(245,130,32,0.05);
$brown005 : rgba(96, 51, 18, 0.05);
$darkred005 :rgba(183, 32, 46, 0.05);
$lightbrown005 : rgba(162, 87, 35, 0.05);
$yellow005:rgba(255, 203, 5, 0.05);

$font12:12px;
$font14:14px;
$font16:16px;
$font18:18px;
$font20:20px;
$font22:22px;
$font24:24px;
$font28:28px;
$font30:30px;
$font32:32px;
$font34:34px;
$font36:36px;
$font38:38px;
$font40:40px;
$font48:48px;

