@import 'mixins';
@import 'variables';
@import 'extend';

@font-face {
  font-family: "Marcellus-Regular";
  src: url("../fonts/Marcellus/Marcellus-Regular.ttf");
}
@font-face {
  font-family: "FiraSans-Bold";
  src: url("../fonts/Fira-sans-paragraph/FiraSans-Bold.ttf");
}
@font-face {
  font-family: "FiraSans-Light";
  src: url("../fonts/Fira-sans-paragraph/FiraSans-Light.ttf");
}
@font-face {
  font-family: "FiraSans-Thin";
  src: url("../fonts/Fira-sans-paragraph/FiraSans-Thin.ttf");
}
@font-face {
  font-family: "FiraSans-SemiBold";
  src: url("../fonts/Fira-sans-paragraph/FiraSans-SemiBold.ttf");
}
@font-face {
  font-family: "FiraSans-Medium";
  src: url("../fonts/Fira-sans-paragraph/FiraSans-Medium.ttf");
}
main.research_accomplishment_page section {
    padding: 30px 0;
    background: transparent;
    overflow: visible ;
}
.research_accomplishment_page .research_accomplishment .main-title, .research_accomplishment_page .research_accomplishment .listacoomplishment li .content .number {
    @extend %banner_title;
}
.dropdown.sortby.open ul {
    display: block;
}
.dropdown.sortby .dropdown-menu>li>a {
    padding: 15px;
    font-family: "Fira Sans", sans-serif;
    font-size: 16px;
}
.research_accomplishment_page {

    .select2-selection--multiple:before {
    content: "";
    background-image: url(https://kjsce.somaiya.edu/assets/default_asset/img/icons/dropdown-arrow-red.svg);position: absolute;
    right: 7px;
    top: 42%;
    width: 20px;
    height: 10px;
    background-repeat: no-repeat;
    cursor: pointer;
}
.select2-container--open .select2-selection--multiple:before {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
    right: 10px;
    top: 42%;
}
span.select2-selection.select2-selection--multiple:before {    content: "";
    background-image: url(https://kjsce.somaiya.edu/assets/default_asset/img/icons/dropdown-arrow-red.svg);position: absolute;
    right: 7px;
    top: 42%;
    width: 20px;
    height: 10px;
    background-repeat: no-repeat;
    cursor: pointer;}

span.select2-selection.select2-selection--single:before {    content: "";
    background-image: url(https://kjsce.somaiya.edu/assets/default_asset/img/icons/dropdown-arrow-red.svg);position: absolute;
    right: 7px;
    top: 42%;
    width: 20px;
    height: 10px;
    background-repeat: no-repeat;
    cursor: pointer;}
  .select2-container--default .select2-selection--single .select2-selection__arrow b {
    display: none;
}
.select2-selection--multiple:before {
    content: "";
    background-image: url(https://kjsce.somaiya.edu/assets/default_asset/img/icons/dropdown-arrow-red.svg);position: absolute;
    right: 7px;
    top: 42%;
    width: 20px;
    height: 10px;
    background-repeat: no-repeat;
    cursor: pointer;
}
.select2-container--open span.select2-selection.select2-selection--single:before {
        -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
    right: 10px;
    top: 42%;
}
span.select2-selection.select2-selection--multiple:before {    content: "";
    background-image: url(https://kjsce.somaiya.edu/assets/default_asset/img/icons/dropdown-arrow-red.svg);position: absolute;
    right: 7px;
    top: 42%;
    width: 20px;
    height: 10px;
    background-repeat: no-repeat;
    cursor: pointer;}
.dropdown.sortby button img {
    padding: 0px 0px 0px 12px;
}
span.select2-selection.select2-selection--single:before {    content: "";
    background-image: url(https://kjsce.somaiya.edu/assets/default_asset/img/icons/dropdown-arrow-red.svg);position: absolute;
    right: 7px;
    top: 42%;
    width: 20px;
    height: 10px;
    background-repeat: no-repeat;
    cursor: pointer;}

.select2-container--open .select2-selection--multiple:before {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
    right: 10px;
    top: 42%;
}

.select2-container--open span.select2-selection.select2-selection--single.active:before {    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
    right: 10px;
    top: 42%;}
    .refineserach * {
    border-radius: 0px !important;
}
main.research_accomplishment_page section {
    float: left;
    width: 100%;
    display: block;
    overflow: visible;
}

.nav-bar ul.nav.nav-tabs.links li a {
    border: none;
}

.listacoomplishment.accomplishment_banner {
    display: none;
}

section.research_accomplishment.accomplishment_result {
    padding: inherit;
    margin: inherit;
    padding: 130px 0 0px 0px;
}

.nav-bar ul.nav.nav-tabs.links li a {
    border: none;
    background: transparent;
}

.dropdown.sortby button {
    font-size: 16px;
    font-weight: normal;
    letter-spacing: inherit;
    text-transform: inherit;
}

main.research_accomplishment_page {}
::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: transparent !important;
}
::-moz-placeholder { /* Firefox 19+ */
 color: transparent !important;
}
:-ms-input-placeholder { /* IE 10+ */
  color: transparent !important;
}
:-moz-placeholder { /* Firefox 18- */
 color: transparent !important;
}
 .select2-container--default .select2-selection--single .select2-selection__rendered {

    
}
    .breadcrumb {
        display: none;
    }

    .research_accomplishment {
        .line {
            display: none;
        }

        .main-title {
            color: #b7202e;
            text-align: center;
        }

        .listacoomplishment {
            li {
                float: left;
                margin-bottom: 30px;
                margin-top: 20px;
                width: 25%;

                .circle {
                    width: 35%;
                    float: left;
                    text-align: center;
                }

                img {
                    width: 70%;
                    margin-top: 9%;
                }

                .content {
                    float: left;
                    width: 65%;
                    border-left: 1px solid #bbb;
                    padding-left: 15px;
                    height: 90px;

                    .number {
                        color: #b16969;
                        font-size: 48px;
                        line-height: initial;
                        color: #b7202e;
                    }

                }

                .txt {
                    font-family: ProximaNova-Semibold;
                    font-size: 18px;
                    line-height: 22px;
                    margin-bottom: 4px;
                    text-transform: capitalize;
                    color: #58595b;
                    font-family: 'FiraSans-Medium';
                }

            }

        }

        .nav-tabs {
            border-bottom: 2px solid #690d25;
            margin-bottom: 20px;
        }

        ul {
            &.links {
                li {
                    &.active {
                        a {
                            background-color: #b7202e !important;
                            color: #fff !important;
                            background-color: #b7202e !important;
                            color: #fff !important;
                            font-family: 'FiraSans-Medium';
                        }

                    }

                    a {
                        font-family: proxima-nova-bold;
                        color: #690d25;
                        text-transform: uppercase;
                        display: inline-block;
                        height: 46px;
                        line-height: 47px;
                        padding: 0 23px;
                        margin: 0;
                        font-size: 16px;
                        border-right: 1px solid #fdfdfd;
                        font-family: 'FiraSans-Medium';
                    }

                }

            }

        }

        img {
        }

    }

    section {
        &.research_accomplishment {
            .accomplishment_banner {
                padding: 0px 0px 0px 0px;
                margin: 0px;
            }

            .line {
                display: none;
            }

        }

    }

    #dynamic {
        visibility: visible;
        opacity: 1;
        transition: all .5s linear;
        margin-top: 10px;
    }

    .refineserach {
        h3 {
            &.refhead {
                margin-top: 0;
                font-size: 22px;
                color: #b7202e;
                font-family: 'FiraSans-Medium';
                font-family: 'FiraSans-Medium';
                text-align: left;
                font-size: 18px;
                line-height: 30px;
                color: #58595b;
                font-family: "FiraSans-Medium";
                margin-bottom: 20px;
                text-transform: uppercase;
            }

        }

    }

    .refineserach_wrap {
        .relabel {
            margin-bottom: 4px;
            margin-top: 15px;
            text-transform: capitalize;
            color: #58595b;
            font-family: 'FiraSans-Medium';
            text-transform: capitalize;
            font-size: 16px;
            color: #000;
            font-family: "Fira Sans", sans-serif;
        }

    }

    .accomplishment_main_wrap {
        .relabel {
            margin-bottom: 4px;
            margin-top: 15px;
            text-transform: capitalize;
            color: #58595b;
            font-family: 'FiraSans-Medium';
            font-size: 16px;
            color: #000;
            font-family: "Fira Sans", sans-serif;
        }

    }

    .listpublication {
        h4 {
            &.result_count_show {
                font-size: 18px;
                font-family: ProximaNova-Semibold;
                color: #b7202e;
                line-height: 33px;
                margin-top: 5px !important;
                margin-left: 0;
                margin-bottom: 30px;
                border-bottom: 1px solid #c9c9c9;
                text-align: left;
                font-family: 'FiraSans-Medium';
                padding: 0px 0px 20px 0px;
            }

        }

        .links-re {
            line-height: 24px;
            padding: 10px;
            background-color: #fff;
            box-shadow: 0 2px 7px 0 rgba(0, 0, 0, 0.21);
            float: left;
            width: 100%;
            padding: 15px 10px;
            font-family: ProximaNova-Regular;
            font-size: 18px;
            line-height: 28px;
            margin-bottom: 30px;
            font-size: 18px;
            line-height: 27px;
            font-family: "Fira Sans", sans-serif;
            color: #000;

            i {
                font-style: italic;
            }

        }

        &.refine-result {
              margin-bottom: 40px;
    border-left: 1px solid #ddd;
    padding: 0px 30px;box-shadow: none;

            hr {
                display: none;
            }

        }

    }

    .accomplishment_result {
        .paddleft {
            padding-left: 0px;
        }

        .sh-div {
            // display: block;
        }

    }

    .select2-container--default {
        .select2-selection--single {
            background-color: #fff;
            border: 1px solid #aaa;
            border-radius: 0px;
            min-height: 41px;
            font-family: "Fira Sans", sans-serif;
            border: solid #ddd 1px !important;
            font-size: 16px;
            line-height: 41px;
            height: 41px;

            .select2-selection__rendered {
                color: #444;
                line-height: 41px;
                text-transform: capitalize !important;
                font-family: "Fira Sans", sans-serif;
                font-size: 14px;
            }

        }

        .select2-selection--multiple {
            .select2-selection__rendered {
                li {
                    font-family: "Fira Sans", sans-serif;
                }

            }

        }

    }

    .acccomplishment_wh {
        margin: 30px 0px 30px 0px;

        h2 {
            font-size: 22px;
            color: #b7202e;
            font-family: 'FiraSans-Medium';
        }

    }

    .pubabstact {
        padding: 20px;
        padding: 9px 0;

        li {
            display: inline-block;
            font-size: 20px;
            color: #58595b;
            border-right: 1px solid #ccc;
            font-family: ProximaNova-Semibold;
            padding-right: 20px;
            padding-left: 0px;
            font-family: 'FiraSans-Medium';
            margin-right: 15px;

            &:last-child {
                border-right: 0 solid #ccc;
            }

        }

        .zoom {
            li {
                border-right: 0 solid #ccc;
                font-family: ProximaNova-Semibold;
                padding-right: 0;
                padding-left: 0;
            }

        }

        .bannershareproj {
            .zoom {
                position: relative;
                right: auto;
                height: 70px;
                z-index: 99;
                top: 0;
            }

            .zoom-menu {
                position: absolute;
                right: 0;
                left: 49px;
                top: 0;
                transform: translateY(-49%);
                height: 100%;
                list-style: none;
                text-align: left;
                width: 500px;
                position: absolute;
                right: 0;
                left: 49px;
                top: 0;
                transform: translateY(-49%);
                height: 100%;
                list-style: none;
                text-align: left;
                width: 500px;
                position: absolute;
                right: 0;
                left: 49px;
                top: 6px;
                transform: translateY(-49%);
                height: 100%;
                list-style: none;
                text-align: left;
                width: 500px;
            }

            .zoom-fab {
                display: inline-block;
                width: 40px;
                height: 40px;
                line-height: 40px;
                border-radius: 50%;
                background-color: transparent;
                vertical-align: middle;
                text-decoration: none;
                text-align: center;
                transition: 0.2s ease-out;
                box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.14), 0 0 0 0 rgba(0, 0, 0, 0.12), 0 0 0 0 rgba(0, 0, 0, 0.2);
                cursor: pointer;
                color: #fff;
            }

            .fa {
                padding-top: 10px;
            }

        }

    }

    .social-share {
        p {
            font-family: ProximaNova-Semibold;
            font-size: 18px;
            color: #333;
            padding: 0;
            margin: 0;
            position: relative;
            top: 5px;
        }

        .fb_iframe_widget {
            display: inline-block;
            position: relative;
            top: 3px;
            right: -10px;
        }

        a {
            &.twitter-share-button {
                &.icon {
                    position: relative;
                    top: 2px;
                }

            }

        }

    }

    .thed {
        color: #bcbcbe;
        font-size: 17px;
        font-family: ProximaNova-Semibold;
        font-size: 16px;
        font-family: "Fira Sans", sans-serif;
        color: #000;
        font-family: 'FiraSans-Medium';
    }

    .tbcommonname {
        font-family: ProximaNova-Regular;
        color: #333;
        font-size: 18px;
        font-size: 16px;
        font-family: "Fira Sans", sans-serif;
        color: #000;
        font-weight: 300;
    }

    .pl30 {
        padding-left: 30px;
    }

    .oddrow {
        height: 45px;
        background: #fff;
        display: block;
        clear: both;
        line-height: 46px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        margin-right: -15px;
        margin-left: -15px;
    }

    .evenrow {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        margin-right: -15px;
        margin-left: -15px;
    }

    .bannershareproj {
        .zoom-menu {
            li {
                display: inline-block;
                margin-right: 10px;
            }

        }

    }

    .zoom-btn-doc {
        background-color: #00aced !important;
    }

    .zoom-btn-person {
        background-color: #3b5998 !important;
    }

    .zoom-btn-tangram {
        background-color: #c71610 !important;
    }

    span {
        &.pubname {
            font-size: 16px;
            line-height: 23px;
            font-family: "Fira Sans", sans-serif;
            color: #000;

            a {
                color: #069;

                b {
                    color: #069;
                    font-weight: normal;
                    font-weight: 300;

                    &:hover {
                        color: #046;
                    }

                }

                &:hover {
                    color: #046;
                }

            }

        }

        &.glyphicon {
            &.glyphicon-search {
                &.form-control-feedback {
                    &:before {
                        content: "\f002";
                        font-family: fontAwesome;
                        color: #b7202e;
                    }

                }

            }

        }

    }

    .publication_detail {
        margin: 0px 0px 30px 0px;
        float: left;
        width: 100%;

        .pubabstact {
            li {
                font-size: 20px;
            }

        }

        p {
            font-family: 'FiraSans-Medium';
            font-size: 16px;
            line-height: 27px;
            color: #000;
            margin: 0px 0px 12px 0px;
            font-weight: 300;
            font-family: "Fira Sans", sans-serif;
        }

    }

    .detail {
        float: left;
        width: 100%;
        margin: 0px 0px 30px 0px;
    }

    .btn_wrap {
        font-size: 18px;
        color: #b7202e;
        font-family: 'FiraSans-Medium';
        cursor: pointer;

        i {
            font-style: normal;
        }

    }

    .realteditems {
        h3 {
            font-size: 22px;
            color: #000;
            padding-left: 5px;
            font-family: 'FiraSans-Medium';
            margin: 0px 0px 20px 0px;
            float: left;
            width: 100%;
        }

        .links {
            font-family: 'FiraSans-Medium';
            color: #58595b;
            margin: 0px 0px 10px 0px;

            .name {
                font-family: 'FiraSans-Medium';
            }

        }

        span {
            font-size: 16px;
            line-height: 27px;
            color: #000;
            margin: 0px 0px 12px 0px;
            font-weight: 300;
            font-family: "Fira Sans", sans-serif;
        }

        hr {
            display: none;
            display: none;
        }

        .txtcenter {
            &.hover_bottom {
                a {
                    &:hover {
                        color: #046;
                        text-decoration: underline;
                        color: #046;
                        text-decoration: underline;
                    }

                }

            }

        }

    }

    .txtcenter {
        &.hover_bottom {
            a {
                color: #069;
                font-weight: normal;
                text-decoration: none;
                font-family: 'FiraSans-Medium';
                float: left;
                margin: 0px;
                color: #069;
                font-weight: normal;
                text-decoration: none;
                font-family: 'FiraSans-Medium';
                float: left;
            }

        }

    }

    .research_accomplishment_page {
        .realteditems {
            .links {
                .name {
                    font-family: 'FiraSans-Medium';
                }

            }

        }

    }

    ul {
        &.zoom-menu {
            &.show {
                display: none;
                transition: all ease 0.5s;
                width: 0px;
            }

        }

    }

    .search-input {
        width: 50%;
        margin: 50px auto;
        width: 100%;
        margin: 50px auto;
        float: left;
        margin: 20px 0px 25px 0px;
        border: none;

        input {
            border: solid 1px #b7202e !important;
            background-color: #f5f6f6 !important;
            font-family: FiraSans-Medium !important;
            color: #000000 !important;
            font-size: 20px !important;
        }

    }

    .has-search {
        .form-control-feedback {
            right: initial;
            left: 0;
            color: #ccc;
            right: initial;
            left: 0;
            color: #58595b;
            -webkit-transform: scaleX(-1);
            transform: scaleX(-1);
            top: 4px;
        }

        .form-control {
            padding-right: 12px;
            padding-left: 34px;
            padding-right: 12px;
            padding-left: 34px;
        }

    }

    .form-control-feedback {
        position: absolute;
        top: 0;
        right: 0;
        z-index: 2;
        display: block;
        width: 34px;
        height: 34px;
        line-height: 34px;
        text-align: center;
        pointer-events: none;
    }

    .form-group {
        position: relative;
        border: 1px solid #ddd;
    }

    .filter_by {
        p {
            font-family: "Fira Sans", sans-serif;
            font-size: 18px;
            line-height: 30px;
            color: #58595b;
            text-transform: uppercase;
            float: left;
            width: 100%;
            display: block;
            position: relative;
            font-weight: normal;
            margin: 0px 0px 25px 0px;
        }

    }

    button {
        &.clear_btn {
            font-size: 14px;
            line-height: 24px;
            color: #000;
            font-family: "Fira Sans", sans-serif;
            font-weight: normal;
            border: none;
            border-radius: 21px;
            border: solid 0.3px #58595b;
            background-color: #fafbfb;
            min-width: 80px;
            position: absolute;
            right: 0px;
            top: 0px;
            cursor: pointer;
            padding: 1px 10px 1px 0px;

            span {
                padding: 0px 10px 0px 5px;
                position: relative;
                top: -0.5px;
            }

            &:hover {
                opacity: 0.8;
            }

        }

    }

    .sidebar-wrap {
        float: left;
        width: 100%;
        background-color: #fff;

        .search-input {
            .has-search {
                margin: 0px;
                border: none;
            }

        }

        .panel-group {
            float: left;
            width: 100%;
            display: block;
        }

        .panel {
            &.panel-default {
                float: left;
                width: 100%;
                border: solid 1px rgba(88, 89, 91, 0.2);
                background-color: #fafbfb;
                padding: 0px 0px 20px 0px;
                margin: 0px 0px 25px 0px;

                /* max-height: 400px; */

                /* overflow: auto; */

                /* display: block; */

                .panel-heading {
                    .panel-title {
                        margin: 0px 0px 0px 0px;
                        float: left;
                        width: 100%;
                        display: block;

                        a {
                            font-family: "Fira Sans", sans-serif;
                            font-size: 18px;
                            line-height: 27px;
                            color: #b7202e;
                            text-decoration: none;
                            margin: 0px 0px 0px 0px;
                            float: left;
                            color: #000000;
                            width: 100%;
                            padding: 15px 0px 0px 15px;

                            &:after {
                                content: "";
                                content: "\f068";
                                font-family: fontAwesome;
                                font-size: 12px;
                                position: absolute;
                                right: 25px;
                                color: #58595b;
                            }

                            i {
                                display: none;
                            }

                        }

                        a.active {
                            color: #b7202e;
                        }

                    }

                }

                .panel-body {
                    margin: 15px 0px 0px 0px;
                    float: left;
                    width: 100%;
                    position: relative !important;
                    max-height: 400px;
                    overflow: auto;
                    display: block;
                    padding: 0px 20px 0px 20px;

                    input[type="checkbox"] {
                        float: left;
                        display: block;
                        width: 19px;
                        position: absolute;
                        left: 0px;
                        top: 7px;
                    }

                    input {
                        &:checked {
                            & ~ .checkmark {
                                &:after {
                                    display: block;
                                }

                            }

                        }

                    }

                    select {
                        font-family: FiraSans-Medium;
                        color: rgba(88, 89, 91, 0.8);
                        font-size: 16px !important;
                        line-height: 24px;
                        float: left;
                    }

                    .checkmark {
                        position: absolute;
                        top: 3px;
                        left: 10px;
                        height: 18px;
                        width: 18px;
                        background-color: #fefdfd;
                        border: 1px solid #b7202e;

                        &:after {
                            left: 9px;
                            top: 5px;
                            width: 5px;
                            height: 10px;
                            border: solid white;
                            border-width: 0 3px 3px 0;
                            -webkit-transform: rotate(45deg);
                            -ms-transform: rotate(45deg);
                            transform: rotate(45deg);
                            content: "";
                            position: absolute;
                            display: none;
                            content: "";
                            position: absolute;
                            display: none;
                        }

                    }

                    .chkcontainer {
                        display: block;
                        position: relative;
                        padding-left: 35px;
                        margin-bottom: 12px;
                        cursor: pointer;
                        font-size: 22px;
                        -webkit-user-select: none;
                        -moz-user-select: none;
                        -ms-user-select: none;
                        user-select: none;

                        input {
                            position: absolute;
                            opacity: 0;
                            cursor: pointer;
                            height: 0;
                            width: 0;
                            position: absolute;
                            opacity: 0;
                            cursor: pointer;
                            height: 0;
                            width: 0;

                            &:checked {
                                & ~ .checkmark {
                                    background-color: #ffffff;

                                    &:after {
                                        display: block;
                                    }

                                }

                            }

                        }

                        &:hover {
                            input {
                                & ~ .checkmark {
                                    background-color: #ccc;
                                }

                            }

                        }

                        .checkmark {
                            &:after {
                                left: 6px;
                                top: 2px;
                                width: 5px;
                                height: 10px;
                                border: solid #b7202e;
                                border-width: 0 1.5px 2px 0;
                                -webkit-transform: rotate(45deg);
                                -ms-transform: rotate(45deg);
                                transform: rotate(45deg);
                            }

                        }

                    }

                    label.chkcontainer.checked {
                        color: #000;
                    }

                }

            }

        }

        .filter_by {
            float: left;
            width: 100%;
            position: relative;
        }

        .panel-body {
            label {
                font-family: FiraSans-Medium;
                color: rgba(88, 89, 91, 0.8);
                font-size: 16px !important;
                line-height: 24px;
                float: left;
                position: relative;
                padding: 0px 0px 5px 35px;
                width: 100%;
            }

            .select2-container {
                font-family: FiraSans-Medium;
                color: rgba(88, 89, 91, 0.8);
                font-size: 16px;
                line-height: 24px;
                float: left;
                position: relative;
                padding: 0px 0px 5px 0px;
                width: 100% !important;
                display: block;
            }

        }

        .select2-container--default {
            .select2-selection--single {
                background: white;
                border: 1px solid #ddd !important;
                width: 100%;
                float: left;
                display: block;
                text-transform: capitalize;
            }

        }

        button {
            &.search {
                background-color: #58595b;
                color: #fff;
                font-family: FiraSans-Medium;
                height: 62px;
                line-height: 62px;
                width: 100%;
                float: left;
                border: none;
                font-size: 20px;
                cursor: pointer;
            }

        }

        .panel {
            &.panel-default {
                &.open-acc {
                    .panel-collapse {
                        display: block !important;
                    }

                    .panel-title {
                        a {
                            pointer-events: none;
                            color: #000000 !important;
                        }

                    }

                    .panel-heading {
                        .panel-title {
                            a {
                                &:after {
                                    content: none !important;
                                }

                            }

                        }

                    }

                }

            }

        }

    }

    .panel {
        &.panel-default {
            .panel-heading {
                .panel-title {
                    a {
                        &.collapsed {
                            &:after {
                                content: "\f067";
                            }

                        }

                    }

                }

            }

        }

    }

    .select2-container--default.select2-container--focus .select2-selection--multiple {
        border-radius: 0px;
    }

    .select2-container {
        border-radius: 0px;
    }

    .select2-container--default .select2-selection--single {
        border-radius: 0px;
    }

}

.select2-results__option {
    padding: 6px 9px;
    user-select: none;
    -webkit-user-select: none;
    font-family: FiraSans-Medium;
    color: rgba(88, 89, 91, 0.8);
    font-size: 16px !important;
    line-height: 24px;
        font-size: 14px !important;
    font-family: "Fira Sans", sans-serif;
}

.select2-container--default .select2-results__option--highlighted[aria-selected] {
    background-color: #ececec;
    color: #000;
}

.loader_bg {
    float: left;
    width: 100%;

    div#loader {
        float: left;
        width: 100%;
        text-align: center;
        height: 65px;
        overflow: hidden;
        display: block;

        img {
            display: block !important;    /* height: 59px; */
            position: relative;
            top: -20px;
        }

    }

}

.filter {
    display: none;
    font-family: 'FiraSans-Medium';
    color: #58595b !important;
    background: #eeefef;
    font-size: 18px;
    position: relative;
    margin: 0px 0px 15px 0px;
    top: -8px;
    background-color: #b7202e !important;
    color: #fff !important;
    font-family: 'FiraSans-Medium';
    font-size: 18px;
    padding: 10px 15px 10px 22px;
    display: none;
    display: none;
    position: relative;
    margin: 0px 0px 15px 0px;
    top: -20px;
    background-color: #b7202e !important;
    color: #fff !important;
    font-family: 'FiraSans-Medium';
    font-size: 18px;
    padding: 10px 15px 10px 22px;

    &:before {
        content: "\f0b0";
        font-family: fontAwesome;
        font-size: 18px;
        position: relative;
        left: -8px;
            background: transparent;
    }

}

.sh-div {
    display: block;
}

.clearbtn {
    font-size: 20px;
    color: #b7202e;
    font-family: 'FiraSans-Medium';
    text-transform: capitalize;
    background: 0 0;
    border: 0;
    margin-top: 20px;    /* margin-left: -15px; */
        font-family: "FiraSans-Medium";
    color: #ed1c24;
}

.searchbox {
    margin: 0px 0px 10px 0px;

    .input-group {
        border: 1px solid #ccc;
        border-radius: 0;
    }

    input {
        border: none !important;
        border-radius: 0;
        padding-top: 9px;
        height: 42px;
        border: none;
        font-family: "Fira Sans", sans-serif;
    }

    .input-group-addon {
        button {
            img {
                padding-top: 5px;
                height: auto;
                width: 20px;
                float: left;
            }

        }

    }

    span {
        &.input-group-addon {
            border-radius: 0;
            background: 0 0;
            border: 0;
            padding: 6px 12px;
            font-size: 14px;
            font-weight: 400;
            line-height: 1;
            color: #555;
            text-align: center;
        }

    }

}

.pagination {
    float: right;
    font-size: 16px;
    font-family: "Fira Sans", sans-serif;
    margin: 0 0 !important;
    display: inline-block;
    clear: both;

    .of_result {
        float: left;
        color: $grey;
    }

    b {
        color: $linkbluehvr;
        background: $darkred;
        padding: 5px 10px;
        border: 1px solid $darkred;
        color: #fff;
    }

    a {
        color: $linkblue;
        padding: 5px 10px;
        border: 1px solid #e2e2e2;
        background: #f6f6f7;
        font-family: "Fira Sans", sans-serif;

        &:hover {
            color: $linkbluehvr;
        }

    }

}

.pagination {
    float: right;
    font-size: 16px;
    font-family: "Fira Sans", sans-serif;
    margin: 0 0 !important;
    display: inline-block;
    clear: both;

    .of_result {
        float: left;
        color: $grey;
    }

    b {
        color: $linkbluehvr;
        background: $darkred;
        padding: 5px 10px;
        border: 1px solid $darkred;
        color: #fff;
    }

    a {
        color: $linkblue;
        padding: 5px 10px;
        border: 1px solid #e2e2e2;
        background: #f6f6f7;
        font-family: "Fira Sans", sans-serif;

        &:hover {
            color: $linkbluehvr;
        }

    }

}

.research_accomplishment_page {
    .select2-results__option[aria-selected] {

        /* cursor: pointer; */

        /* color: #000; */

        /* font-family: 'FiraSans-Medium'; */

        /* font-size: 14px; */

        /* line-height: 26px; */
        font-family: FiraSans-Medium;
        color: rgb(88, 89, 91);
        font-size: 16px !important;
        line-height: 24px;
    }

    .showing-page {
        color: #58595b;
        font-family: "Fira Sans", sans-serif;
    }

    .odd {
        font-size: 16px;
        font-family: "Fira Sans", sans-serif;
        color: #000;
        font-weight: 300;
    }

}

.breadcrumb {
    display: none;
}

.research_accomplishment_page .bkmedia {
    margin-bottom: 20px;
    margin: 0px;
    padding: 20px 0px 0px 0px;
    height: 36px;
}

.research_accomplishment_page .col-lg-6.linkbk.paddleft {
    padding: 0px;
}

.research_accomplishment_page .linkbk a {
    color: #004f9f;
    color: #b7202e;
    font-family: 'FiraSans-Medium';
    font-size: 16px;
    line-height: 24px;
}

section.banner {
     padding: 0px !important;
    margin: 0px;
    float: inherit;
    overflow: hidden;
    background: transparent;
    height: auto;
}

section.banner img {
    float: left;
    width: 100%;
}

.nav-bar .box {
    box-shadow: -15px 3px 20px 0 rgba(0, 0, 0, 0.16);
    padding: 35px;
    background-color: #fff;
    margin-top: -70px;
}

section.nav-bar {
    margin: 0px 0px 0px 0px;
    padding: 0px;
    background: #fff;
    position: relative;    /* margin-top: -34px; */
}

.nav-bar h2.main-title {
    font-family: 'Marcellus-Regular';
    font-size: 48px;
    line-height: 60px;
}

.nav-bar h2.title {
    @extend %banner_title;
    color: #b7202e;
    margin: 0px 0px 25px 0px;
}

.nav-bar ul.nav.nav-tabs.links {
    float: left;
    width: 100%;
    border-bottom: 8px solid #ebebeb;
}

.nav-bar ul.nav.nav-tabs.links li {
    float: left;
    width: calc(100% / 5);
    background-color: #f5f6f6;
    padding: 15px 0px 30px 0px;
    position: relative;
    cursor: pointer;
}

.nav-bar ul.nav.nav-tabs.links li a .count {
    font-family: 'Marcellus-Regular';
    font-size: 47px;
    color: #58595b;
    line-height: 59px;
    float: left;
    width: 100%;
    text-align: center;
    margin: 0px 0px 25px 0px;
    position: relative;
}

.nav-bar ul.nav.nav-tabs.links li a {
    font-family: 'FiraSans-Medium';
    font-size: 18px;
    color: #b7202e;
    color: #58595b;
    line-height: 22px;
    text-align: center;
    float: left;
    width: 100%;
    position: relative;
}

.nav-bar ul.nav.nav-tabs.links li a:after {
    content: "";
    background-color: #d9dada;
    position: absolute;
    right: 0px;
    top: 0px;
    width: 1px;
    height: 100px;
}

.nav-bar ul.nav.nav-tabs.links li:last-child a:after {
    content: none;
}

.nav-bar .nav-wrap {
    position: absolute;
    width: calc(100% - 80px);
}

section.nav-bar {
    margin: 0px 0px 0px 0px;
    padding: 0px;
    background: #fff;
    position: relative;    /* margin-top: -34px; */
}

.nav-bar ul.nav.nav-tabs.links li a:after {
    content: "";
    background-color: #d9dada;
    position: absolute;
    right: 0px;
    top: 0px;
    width: 1px;
    height: 100px;
}

.nav-bar ul.nav.nav-tabs.links li:last-child a:after {
    content: none;
}

.nav-bar ul.nav.nav-tabs.links li a .count:after {
    content: "";
    background-color: #e0e1e1;
    width: 40px;
    height: 2px;
    position: absolute;
    left: 42%;
    bottom: -10px;
}

.nav-bar ul.nav.nav-tabs.links li a:before {
    content: "\f078";
    font-family: fontAwesome;
    font-size: 12px;
    position: absolute;
    bottom: -22px;
    left: 48%;
    border: none;
}

.nav-bar ul.nav.nav-tabs.links li.active {
    background-color: #eeefef;
}

.nav-bar ul.nav.nav-tabs.links li.active a {
    color: #b7202e;
}

.nav-bar ul.nav.nav-tabs.links li.active a .count {
    color: #b7202e;
}

.nav-bar ul.nav.nav-tabs.links li.active a:before {
    color: #b7202e;
}

.nav-bar ul.nav.nav-tabs.links li.active a .count:after {
    background-color: #c75b65;
}

.nav-bar ul.nav.nav-tabs.links li.active:after {
    content: "";
    background-color: #b7202e;
    position: absolute;
    left: 0px;
    bottom: -8px;
    width: 100%;
    height: 8px;
}

.dropdown.sortby button {
    background-color: #eeefef !important;
    color: #58595b;
    font-family: 'FiraSans-Medium';
    border: none;
    padding: 10px 15px;
}

.dropdown.sortby button i {
    padding: 0px 5px 0px 15px;
}

.dropdown.sortby .dropdown-toggle::after {
    content: none;
}

.listpublication  p.show_entry {
    font-family: 'FiraSans-Medium';
    color: #58595b;
    font-size: 18px;
    line-height: 30px;
}

.dropdown.sortby {
    position: absolute;
    right: 15px;
    top: 0px;
    z-index: 99;
}

.listpublication  p.show_entry span {
    color: #000000;
}

.listpublication p.lastupdate {
    float: left;
    width: 100%;
    text-align: right;
    padding: 20px 0px 0px 0px;
    font-size: 18px;
    line-height: 27px;
    color: #000;
    font-family: "Fira Sans", sans-serif;
}
button.filter:after {content: none;}
@media screen and (max-width:1280px) {
    %banner_title {
        font-size: 44px;
        line-height: 66px;
    }

    .research_accomplishment_page {
        .acccomplishment_wh {
            h2 {
                font-size: 20px;
            }

        }

        .realteditems {
            h3 {
                font-size: 20px;
            }

        }

    }

}

@media screen and (max-width:1024px) {
    %banner_title {
        font-size: 40px;
        line-height: 60px;
    }

    .research_accomplishment_page {
        .refineserach {
            h3 {
                &.refhead {
                    font-size: 20px;
                }

            }

        }

        .research_accomplishment {
            .listacoomplishment {
                li {
                    float: left;
                    margin-bottom: 20px;
                    margin-top: 15px;
                    width: 50%;

                    .txt {
                        font-size: 16px;
                    }

                }

            }

            ul {
                &.links {
                    li {
                        a {
                            padding: 0 18px;
                        }

                    }

                }

            }

        }

        .listpublication {
            h4 {
                &.result_count_show {
                    margin-bottom: 15px;
                }

            }

            .links-re {
                font-size: 16px;
                line-height: 24px;
            }

        }

    }

    .nav-bar ul.nav.nav-tabs.links li a .count {
        font-family: 'Marcellus-Regular';
        font-size: 34px;
        line-height: 44px;
    }

    .nav-bar ul.nav.nav-tabs.links li a {
        font-size: 16px;
    }

    .nav-bar .box {
        padding: 15px 30px 35px 30px;
        margin-top: -60px;
    }

    .nav-bar h2.title {
        margin: 0px 0px 15px 0px;
        padding: 0px 0px 0px 0px;
    }

    .listpublication p.show_entry {
        font-size: 16px;
        line-height: 27px;
    }

}

@media screen and (max-width:768px) {
    .container {
    max-width: 97%;
}
    %banner_title {
        font-size: 34px;
        line-height: 50px;
    }

    .nav-bar ul.nav.nav-tabs.links li a {
        font-size: 14px;
    }

    .nav-bar ul.nav.nav-tabs.links li a .count:after {
        left: 35%;
    }

    .nav-bar h2.title {
        margin: 0px 0px 10px 0px;
        padding: 0px 0px 0px 0px;
    }

}

@media screen and (max-width:767px) {
    .accomplishment_main_wrap.collapse.in {
    display: block !important;
}
    .research_accomplishment_page {
        .listpublication {
            &.refine-result {
                margin-bottom: 40px;
                border-left: 1px solid #ddd;
                -webkit-box-flex: 0;
                -ms-flex: 0 0 100%;
                flex: 0 0 100%;
                max-width: 100%;
            }

        }

        .accomplishment_wrap {
            -webkit-box-flex: 0;
            -ms-flex: 0 0 100%;
            flex: 0 0 100%;
            max-width: 100%;
            -webkit-box-flex: 0;
            -ms-flex: 0 0 100%;
            flex: 0 0 100%;
            max-width: 100%;
            -webkit-box-flex: 0;
            -ms-flex: 0 0 100%;
            flex: 0 0 100%;
            max-width: 100%;
        }

        .research_accomplishment {
            ul {
                &.links {
                    li {
                        a {
                            height: 40px;
                            line-height: 40px;
                            height: 40px;
                            line-height: 40px;
                        }

                    }

                }

            }

            .nav-tabs {
                li {
                    margin: 0px 10px 10px 0px;
                }

            }

            .listacoomplishment {
                li {
                    .circle {
                        width: 35%;
                        float: left;
                        text-align: center;
                        display: none;
                    }

                }

            }

        }

        .acccomplishment_wh {
            .col-lg-8 {
                -webkit-box-flex: 0;
                -ms-flex: 0 0 100%;
                flex: 0 0 100%;
                max-width: 100%;
            }

            .col-lg-4 {
                -webkit-box-flex: 0;
                -ms-flex: 0 0 100%;
                flex: 0 0 100%;
                max-width: 100%;
            }

        }

        .sidebar-wrap {
            .search-input {
                width: 50%;
                margin: 50px auto;
            }

            .date {
                float: left;
                width: 100%;
                margin: 0px 0px 15px 0px;
                border: solid 1px rgba(88, 89, 91, 0.2);
                background-color: #fafbfb;
                padding: 15px 0px 15px 15px;
                margin: 0px 0px 25px 0px;

                span {
                    font-family: "Fira Sans", sans-serif;
                    font-size: 20px;
                    line-height: 30px;
                    color: #b7202e;
                    text-decoration: none;
                    margin: 0px 0px 0px 0px;
                    float: left;
                    color: #000000;
                    width: 40%;
                    float: left;
                    position: relative;
                    top: 5px;
                }

                .dateclass {
                    float: right;
                    width: 58%;
                    margin: 0px 0px 0px 0px;
                    font-size: 14px !important;
                    border: white;
                    background: transparent;
                }

            }

            .panel {
                &.panel-default {
                    .panel-body {
                        .chkcontainer {
                            display: block;
                            position: relative;
                            padding-left: 35px;
                            margin-bottom: 12px;
                            cursor: pointer;
                            font-size: 22px;
                            -webkit-user-select: none;
                            -moz-user-select: none;
                            -ms-user-select: none;
                            user-select: none;

                            input {
                                position: absolute;
                                opacity: 0;
                                cursor: pointer;
                                height: 0;
                                width: 0;

                                &:checked {
                                    & ~ .checkmark {
                                        background-color: #2196F3;

                                        &:after {
                                            display: block;
                                        }

                                    }

                                }

                            }

                            &:hover {
                                input {
                                    & ~ .checkmark {
                                        background-color: #ccc;
                                    }

                                }

                            }

                            .checkmark {
                                &:after {
                                    left: 9px;
                                    top: 5px;
                                    width: 5px;
                                    height: 10px;
                                    border: solid white;
                                    border-width: 0 3px 3px 0;
                                    -webkit-transform: rotate(45deg);
                                    -ms-transform: rotate(45deg);
                                    transform: rotate(45deg);
                                }

                            }

                        }

                        .checkmark {
                            position: absolute;
                            top: 0;
                            left: 0;
                            height: 25px;
                            width: 25px;
                            background-color: #eee;

                            &:after {
                                content: "";
                                position: absolute;
                                display: none;
                            }

                        }

                        select {
                            font-family: FiraSans-Medium;
                            color: rgba(88, 89, 91, 0.8);
                            font-size: 16px !important;
                            line-height: 24px;
                            float: left;
                        }

                    }

                }

            }

        }

    }

    .accomplishment_result {
        .refineserach {
            background: #fff !important;
            float: left;
            width: 100%;
            display: block;
            position: relative;
            top: 30px;
            margin-bottom: 50px;
            padding: 15px;
            background: #fff !important;
            float: left;
            width: 100%;
            display: block;
            position: relative;
            top: 30px;
            margin-bottom: 50px;
            padding: 15px;
        }

    }

    body {
        .research_accomplishment {
            .nav-tabs {
                li {
                    a {
                        font-family: proximanova-regular;
                        color: #690d25;
                        border: solid 1px rgba(102, 102, 102, 0.2);
                        background-color: #f8f8f8;
                        border-radius: 6px;
                        color: #162443 !important;
                        text-transform: capitalize;
                    }

                }

            }

        }

    }

    .realteditems {
        &.col-lg-4 {
            &.col-sm-4 {
                &.col-md-4 {
                    &.listpublication {
                        float: left;
                        width: 100%;
                        display: block;
                    }

                }

            }

        }

    }

    ul {
        &.zoom-menu {
            &.show {
                display: none;
                transition: all ease 0.5s;
                width: 0px;
            }

        }

    }

    .txtcenter {
        &.hover_bottom {
            float: left;
            width: 100%;
        }

    }

    .has-search {
        .form-control-feedback {
            right: initial;
            left: 0;
            color: #ccc;
        }

        .form-control {
            padding-right: 12px;
            padding-left: 34px;
        }

    }

    .accomplishment_main_wrap.collapse {
        display: none !important;
    }

    .accomplishment_main_wrap.collapse.show {
        display: block !important;
    }

    .sh-div {
        position: fixed;
        top: 0px;
        left: 0px;
        width: 100%;
        background: #1b1b3a8f;
        z-index: 999;
        height: 100vh;
        overflow: scroll;
        max-width: 100vw;
        padding: 70px 0px 0px 0px;
        position: fixed;
        top: 0px;
        left: 0px;
        width: 100%;
        background: #1b1b3a8f;
        z-index: 999;
        height: 100vh;
        overflow: scroll;
        max-width: 100vw;
        padding: 70px 0px 0px 0px;
        float: left;
        width: 100%;
        display: none;

        &.show {
            display: block !important;
        }

        .refineserach {
            background: #fff !important;
            float: left;
            width: 100%;
            display: block;
            position: relative;
            top: 30px;
            margin-bottom: 50px;
            padding: 15px;
            background: #fff !important;
            float: left;
            width: 100%;
            display: block;
            position: relative;
            top: 30px;
            margin-bottom: 50px;
            padding: 15px 15px 30px 15px;
        }

    }

    .filter {
        display: block !important;
        margin-top: -35px;
        position: relative;
        top: 40px;
        z-index: 99;
        right: 15px;
        padding: 5px 15px;
        text-transform: capitalize;
        letter-spacing: normal;
        background: #162443;
        color: #fff;
        font-family: ProximaNova-Semibold;
        font-size: 12px;
        border: none;
        border-radius: 3px;
        float: right;
        position: relative;
        margin: 0px 0px 15px 0px;
        top: -8px;
        background-color: #b7202e !important;
        color: #fff !important;
        font-family: 'FiraSans-Medium';
        font-size: 18px;
        padding: 10px 15px 10px 22px;
        right: 0px;
    }

    .done {
        padding: 10px 18px !important;
        position: relative;
        right: -15px;
        top: 20px;

        &:before {
            content: none !important;
            padding: 10px 15px !important;
        }

    }
    .accomplishment_result button.filter {
    display: block!important;
    margin-top: -35px;
    position: relative;
    top: 40px;
    z-index: 99;
    right: 15px;
    padding: 5px 15px;
    text-transform: capitalize;
    letter-spacing: normal;
    display: block !important;
    margin-top: -35px;
    position: relative;
    top: 40px;
    z-index: 99;
    right: 15px;
    padding: 5px 15px;
    text-transform: capitalize;
    letter-spacing: normal;
    background: #162443;
    color: #fff;
    font-family: ProximaNova-Semibold;
    font-size: 12px;
    border: none;
    border-radius: 3px;
    float: right;
    position: relative;
    margin: 0px 0px 15px 0px;
    top: -8px;
    background-color: #b7202e !important;
    color: #fff !important;
    font-family: 'FiraSans-Medium';
    font-size: 16px;
    padding: 10px 15px 10px 22px;
    right: 0px;
}

}

@media screen and (max-width:660px) {
    %banner_title {
        font-size: 30px;
        line-height: 45px;
    }

    .research_accomplishment_page {
        .thed {
            margin: 0px 0px 5px 0px;
            -webkit-box-flex: 0;
            -ms-flex: 0 0 100%;
            flex: 0 0 100%;
            max-width: 100%;
        }

        .pl30 {
            padding-left: 15px;
            margin: 0px 0px 15px 0px;
        }

        .oddrow {
            height: auto;
            line-height: initial;
        }

        .publication_detail {
            .pubabstact {
                li {
                    &:first-child {
                        float: left;
                        width: 100%;
                    }

                }

                .zoom {
                    li {
                        &:first-child {
                            float: none;
                            width: auto;
                        }

                    }

                }

            }

        }

        .acccomplishment_wh {
            h2 {
                font-size: 18px;
            }

        }

        .research_accomplishment {
            margin-bottom: 15px !important;

            .listacoomplishment {
                li {
                    float: left;
                    margin-bottom: 10px;
                    margin-top: 15px;
                    width: 50%;
                }

            }

        }

    }

    .nav-bar ul.nav.nav-tabs.links li a .count {
        font-size: 30px;
    }

}

@media screen and (max-width:550px) {
    .nav-bar .box {
        padding: 15px;
    }

    .nav-bar ul.nav.nav-tabs.links {
        border-bottom: 0px solid #ebebeb;
    }

    .nav-bar ul.nav.nav-tabs.links li {
        width: calc(100% / 3);
        padding: 10px 0px 25px 0px;
    }

    .nav-bar ul.nav.nav-tabs.links li a .count {
        font-size: 28px;
    }

    .nav-bar .nav-wrap {
        position: relative;
        width: calc(100% - 0px);
    }

    .nav-bar ul.nav.nav-tabs.links {
        float: left;
        width: 100%;
        border-bottom: 8px solid #ebebeb;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .nav-bar ul.nav.nav-tabs.links li.active:after {
        bottom: 0px;
        height: 2px;
    }

    .nav-bar .box {
        box-shadow: none;
    }

    .nav-bar ul.nav.nav-tabs.links li a .count {
        line-height: 34px;
        margin: 0px 0px 15px 0px;
    }

    .research_accomplishment_page section.research_accomplishment .accomplishment_banner {
        display: none;
    }

    .nav-bar ul.nav.nav-tabs.links {
        border-bottom: none;
    }

    .research_accomplishment_page .research_accomplishment {
        margin: 0px 0px 20px 0px !important;
    }

    .research_accomplishment_page .accomplishment_wrap {
        padding: 0px;
    }

    .dropdown.sortby {
        position: absolute;
        right: 15px;
        top: 0px;
    }

    .nav-bar ul.nav.nav-tabs.links li {
        border-bottom: 1px solid #c9cdcd;
    }

    .nav-bar .box {
        padding: 5px 15px;
    }

    .nav-bar .box {
        margin-top: -25px;
    }
    .research_accomplishment_page section.research_accomplishment.accomplishment_result {
    padding: inherit;
    margin: inherit;
    padding: 0px 0 0px 0px;
}
.research_accomplishment_page .listpublication.refine-result {
   
    padding: 0px 15px;
  
}
}