section {
  &.listing {
    float: left;
    width: 100%;
    margin: 100px 0px 50px 0px;

    .content {
      float: left;
      width: 100%;
      float: left;
      width: 100%;

      .box {
        float: left;
        width: 100%;
        border-bottom: 1px solid #ddd;
        padding: 0px 0px 35px 0px;
        float: left;
        width: 100%;
        border-bottom: 1px solid #ddd;
        padding: 0px 0px 35px 0px;
        margin: 0px 0px 35px 0px;

        .title {
          font-family: "FiraSans-Medium";
          font-size: 24px;
          color: #000;
          margin: 0px 0px 15px 0px;
          font-family: "FiraSans-Medium";
          font-size: 24px;
          color: #000;
          margin: 0px 0px 15px 0px;
        }

        p {
          &.para {
            margin: 0px 0px 25px 0px;
            margin: 0px 0px 25px 0px;
            margin: 0px 0px 25px 0px;
            width: 90%;

            &.date {
              font-family: "FiraSans-Medium";
              font-size: 18px;
              color: #000;
              margin: 0px 0px 25px 0px;
              font-family: "FiraSans-Medium";
              font-size: 18px;
              color: #0000009e;
              margin: 0px 0px 25px 0px;
              sup {
    font-size: 14px;
}
            }

          }

        }

        .link {
          color: #006699;
          font-size: 18px;
          line-height: 27px;
          text-decoration: underline;
          font-family: 'FiraSans-Regular';
          color: #006699;
          font-size: 18px;
          line-height: 27px;
          text-decoration: underline;
          font-family: 'Fira Sans', sans-serif;
              font-weight: normal;

          &:hover {
            color: #004466;
            text-decoration: none;
            color: #004466;
            text-decoration: none;
          }

        }

      }

    }

    .recentupdates {
      float: left;
      width: 100%;
      box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.16);
      padding: 25px 0px;

      .title {
        font-family: "FiraSans-Medium";
        font-size: 22px;
        color: #000;
        margin: 0px 0px 15px 0px;
        border-bottom: 1px solid #ddd;
        padding: 0px 0px 15px 30px;
      }

      .box {
        float: left;
        width: 100%;
        padding: 20px 20px 20px 30px;

        .dates {
          box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
          background-color: #58595b;
    color: #fff;
          position: relative;
          left: 0px;
          top: 0px;
          font-family: FiraSans-Bold;
          width: 64px;
          height: 64px;
          padding: 14px 0px 6px 0px;
          float: left;
          transition: all ease 0.5s;
        }

        span {
          &.number {
            text-align: center;
            font-size: 21px;
            width: 100%;
            float: left;
            line-height: 20px;
            text-align: center;
          }

          &.text {
            font-size: 13px;
            width: 100%;
            float: left;
            text-align: center;
          }

        }

        .info {
          float: right;
          width: calc(100% - 90px);
          display: table;
          padding: 0px;
          min-height: 65px;

          a {
            font-family: "FiraSans-Medium";
            font-size: 16px;
            color: #000;
            display: table-cell;
            vertical-align: middle;
            width: 85%;
          }

        }

        &:hover {
          box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.16);border-right: 2px solid #b7202e;

          .info {
            a {
              color: #006699;
              text-decoration: underline;
              transition: all ease 0.5s;
            }

          }

          .dates {
            background: #b7202e !important;
            transition: all ease 0.5s;
          }

          span {
            color: #fff !important;
          }

        }

      }

    }

  }

}

.slider-wrapper {
  &.nolpatch {
    .university-slider {
      .carousel-caption {
        .uni-banner-heading {
          font-size: 48px;
          color: #b7202e;
          margin: 0px;
        }

      }

    }

  }

  &.border-title {
    h2 {
      &.uni-banner-heading {
        &:before {
          content: none;
        }

        &:after {
          content: none;
        }

      }

    }

    &.nolpatch {
      .university-slider {
        .carousel-caption {
          bottom: -15%;
          padding: 35px 35px;
        }

      }

    }

  }

}

.recentupdates {
  .box {
    .info {
      a {
        &:cover {
          color: #006699;
        }

      }

    }

  }

}

.covid {
  float: left;
  width: 100%;
  position: relative;
  a.backbtn {
    position: absolute;
    top: 50px;
    left: 90px;
    z-index: 99;
}
}

.covid .list-wrap {
  float: left;
  width: 100%;
  margin: 10px 0px 0px 0px;
}

.covid .list-wrap ul {
  float: left;
}

.covid .list-wrap ul li {
  float: left;
  display: inline-block;
  font-size: 18px;
  line-height: 27px;
  color: #000;
  font-family: "Fira Sans", sans-serif;
  color: #58595b;
  margin: 0px 25px 0px 25px;
  position: relative;
}
.covid .list-wrap ul li sup {
    font-size: 14px;
}
.covid .list-wrap ul li span {
  color: #000;
  font-family: FiraSans-Medium;
  margin: 0px 5px 0px 0px;
}

.covid .list-wrap ul li span.bold {
  font-family: FiraSans-Medium;
  color: #000;
  float: left;
  margin: 0px 15px 0px 0px;
}

.covid .list-wrap ul li ul li {
  padding: 0px 8px 0px 0px;
  margin: 0px 0px 0px 0px;
  float: left;
}

.covid .list-wrap ul li ul li img {
  float: left;
      min-height: auto;    visibility: hidden;
}
.covid .list-wrap ul li ul li a {
    float: left;
    width: 40px;
    height: 40px;
    display: inline-block;  display: inline-block;
}
.covid .list-wrap ul li:first-child {
  margin-left: 0px;
}
section.listing .content .box ul {
    float: left;
    width: 100%;
    padding: 3px 0px 3px 0px;
    margin: 0px;
}

section.listing .content .box ul li {
    font-size: 18px;
    line-height: 27px;
    color: #000;
    font-family: "Fira Sans", sans-serif;
    font-weight: 300;
    position: relative;
    padding: 0px 0px 0px 15px;
}
section.listing .content .box ul li:before {
    content: "";
    content: "\f111";
    font-family: 'FontAwesome';
    font-size: 6px;
    position: relative;
    top: -4px;
    left: -15px;
}
.covid .list-wrap ul li:after {
  content: "";
  width: 1px;
  height: 25px;
  background: #ddd;
  position: absolute;
  right: -25px;
  top: 2px;
}

.covid .list-wrap ul ul li:after {
  content: none;
}

.covid .list-wrap ul li:last-child:after {
  content: none;
}
section.listing .content .box p.para span {
    font-family: "FiraSans-Medium";
    font-size: 18px;
    color: #000;
}
section.listing .content .box p.para span {
    font-family: "FiraSans-Medium";
    font-size: 18px;
    color: #000;
}
section.listing .content .box p.bold {
    font-family: "FiraSans-Medium";
    font-size: 18px;
    color: #000;
     margin: 0px 0px 25px 0px;
}
section.listing .content .box a.link.big {
    font-size: 22px;
}
section.listing .content .box:last-child {
    border: none !important;
    padding: 0px;
}
section.listing .content .box .title.big {
    font-size: 38px;
}
section.listing .content .box:last-child {border: none !important;padding: 0px;}

.covid .list-wrap ul li.fb {
  
}
.covid .list-wrap ul li ul li.fb a {
    background-image: url(../img/social/facebook.svg);
    background-repeat: no-repeat;
    text-align: center;
    background-size: 10px;
    position: relative;
    top: 2px;
    left: 0px;transition: all ease 0.1s;
}
.covid .list-wrap ul li ul li.fb a:hover {background-image: url(../img/social/facebooks.svg);transition: all ease 0.1s;}
.covid .list-wrap ul li ul li.twi a:hover {background-image: url(../img/social/twitters.svg);transition: all ease 0.1s;}
.covid .list-wrap ul li ul li.insta a:hover {background-image: url(../img/social/instas.svg);transition: all ease 0.1s;}
.covid .list-wrap ul li ul li.mail a:hover {background-image: url(../img/social/mails.svg);transition: all ease 0.1s;}
.covid .list-wrap ul li ul li.twi a {
    background-image: url(../img/social/twitter.svg);
    background-repeat: no-repeat;
    text-align: center;
    background-size: 22px;
    position: relative;
    top: 4px;left: -12px;
    transition: all ease 0.1s;
    }
.covid .list-wrap ul li ul li.insta a{
    background-image: url(../img/social/insta.svg);
    background-repeat: no-repeat;
    text-align: center;
    background-size: 20px;
    position: relative;
    top: 2px;transition: all ease 0.1s;left: -12px;
    }
.covid .list-wrap ul li ul li.mail a{
    background-image: url(../img/social/mail.svg);
    background-repeat: no-repeat;
    text-align: center;
    background-size: 20px;
    position: relative;
    top: 5px;transition: all ease 0.1s;left: -12px;
    }

    .pagination {
    float: right;
    font-size: 16px;
    font-family: "Fira Sans", sans-serif;
    margin: 0 0 !important;
    display: inline-block;
    clear: both;
}
.pagination .of_result {
    float: left;
    color: #58595b;
}
.pagination b {
    color: #046;
    background: #b7202e;
    padding: 5px 10px;
    border: 1px solid #b7202e;
    color: #fff;
}
.pagination a {
    color: #069;
    padding: 5px 10px;
    border: 1px solid #e2e2e2;
    background: #f6f6f7;
    font-family: "Fira Sans", sans-serif;
}
.postwriter .wrname a {
    font-family: Marcellus-Regular;
    font-size: 22px;
    color: #006699;
    text-decoration: underline;
}
.medium-font {
    font-family: 'FiraSans-Medium';
}
.postwriter a {
    font-family: "Fira Sans", sans-serif;
    color: #006699;
    text-decoration: underline;
    font-weight: 300;
}
.postwriter p {
    font-size: 16px;
    line-height: 27px;
}
.postwriter p span {
    margin: 0px 5px 0px 0px;
}
.postwriter sup {
    font-size: 14px;
}
.postwriter .col-md-2.txtcenter {
    padding-right: 0px;
    text-align: center;
}
.postwriter p.name {
    font-family: Marcellus-Regular;
    font-size: 22px;
    color: #000;
    /* text-decoration: underline; */
}
.postwriter {
    float: left;
    width: 100%;
}
.covid .slider-wrapper .university-slider img {
    max-height: 350px;
    object-fit: cover;
    height: 350px;
    min-height: 350px;
}

@media only screen and (max-width: 1025px) {
.covid .slider-wrapper.border-title.nolpatch .university-slider .carousel-caption {
  
    padding: 25px 35px 35px 35px;
}
.covid .slider-wrapper.nolpatch .university-slider .carousel-caption .uni-banner-heading {
    font-size: 38px;
   
}
section.listing {

    margin: 70px 0px 50px 0px;
}
section.listing .content .box .title {

    font-size: 22px;}
    section.listing .content .box p.para.date {
   
    margin: 0px 0px 20px 0px;
}
section.listing .content .box p.para {

    margin: 0px 0px 15px 0px;
    width: 100%;
}
section.listing .content .box {
  
    padding: 0px 0px 25px 0px;
    margin: 0px 0px 25px 0px;
}
section.listing .recentupdates .box {

    padding: 15px 15px 15px 15px;
}
section.listing .recentupdates .box .info {
 
    width: calc(100% - 80px);
   
}
.covid .list-wrap {

    margin: 20px 0px 20px 0px;
}
.covid section.listing .content .box .title.big {
    font-size: 28px;
}
.covid section.listing .recentupdates .title {
    
    padding: 0px 0px 15px 15px;
}
.covid section.listing .content .box a.link.big {
    font-size: 20px;
}
.covid .slider-wrapper .university-slider img {
    max-height: 300px;
    object-fit: cover;
    height: 300px;
    min-height: 300px;
}
.covid .slider-wrapper.border-title .university-slider .carousel-caption {
  
    left: 5%;
    
}
.covid .slider-wrapper.border-title .university-slider .carousel-caption {
    width: 90%;
 
}
}

@media only screen and (max-width: 768.5px) {
.covid .slider-wrapper.border-title.nolpatch .university-slider .carousel-caption {
    padding: 30px 35px 35px 35px;
    left: 0%;
}
.covid .slider-wrapper.nolpatch .university-slider .carousel-caption .uni-banner-heading {
    font-size: 30px;
}
.covid section.listing .recentupdates .box .info {
    width: calc(100% - 0px);
    margin: 15px 0px 0px 0px;
}
.covid .list-wrap ul li:nth-child(3) {
    width: 100%;
    float: left;
    margin: 15px 0px 0px 0px;
}

.covid .list-wrap ul li li {
    width: auto !important;
    margin: 0px !important;
}
.covid section.listing .content .box .title.big {
    font-size: 26px;
}
.covid section.listing .content .box .title {
    font-size: 20px;
}
.covid .slider-wrapper .university-slider img {
    max-height: 250px;
    object-fit: cover;
    height: 250px;
    min-height: 250px;
}
}

@media only screen and (max-width: 767.5px) {
.covid section.listing .recentupdates .box .info {
    width: calc(100% - 90px);
    margin: 0px 0px 0px 0px;
}
}

@media only screen and (max-width: 660px) {
.covid section.listing {
    margin: 50px 0px 50px 0px;
}
.covid .slider-wrapper.border-title.nolpatch .university-slider .carousel-caption {
    bottom: 0%;
    padding: 35px 35px;
    margin-bottom: 30px;
    position: relative;
    float: left;
    width: 90%;
    margin-top: -52px;
    margin-left: 5%;
}
.covid section.listing {
    margin: 10px 0px 50px 0px;
}
.covid .slider-wrapper.nolpatch .university-slider .carousel-caption .uni-banner-heading {
    font-size: 24px;
}
}

@media only screen and (max-width: 550px) {
.covid .list-wrap ul li {
    
    float: left;
    width: 100%;
    margin: 0px;
    padding: 0px 0px 15px 0px;
}
.covid .list-wrap ul li:nth-child(3) {

    margin: 0px;
}
.covid .list-wrap {
    margin: 15px 0px 10px 0px;
}
.covid .slider-wrapper .university-slider img {
    max-height: 200px;
    object-fit: cover;
    height: 200px;
    min-height: 200px;
}
.covid .slider-wrapper.border-title.nolpatch .university-slider .carousel-caption {
    
    padding: 25px 25px;}
    .covid .list-wrap ul li {
  
    margin: 0px 25px 10px 0px;
   
}
.covid .list-wrap {
    margin: 20px 0px 0px 0px;
}

}
@media only screen and (max-width: 480px) {
.covid .slider-wrapper.border-title.nolpatch .university-slider .carousel-caption {
   margin-top: -35px;
    padding: 20px 25px;
   
}
.covid .list-wrap ul li ul li {
    padding: 0px 8px 0px 0px;
    margin: 0px 0px 0px 0px;
  
}
.covid .slider-wrapper.nolpatch .university-slider .carousel-caption .uni-banner-heading {
    font-size: 22px;
}
.covid a.backbtn img {
    width: 100%;
}
.covid a.backbtn {
    position: absolute;
    top: 30px;
    left: 20px;
    z-index: 99;
    width: 36px;
}
.covid .slider-wrapper.border-title.nolpatch .university-slider .carousel-caption {
    margin-top: -30px;
    padding: 20px 25px 0px 25px;
    margin-bottom: 0px;
}
.covid .list-wrap ul li ul li a {
    height: 20px;
}
.covid .list-wrap ul li {
    margin: 0px 25px 0px 0px;
}
}