@import 'mixins';
@import 'variables';
@import 'extend';

$font_0:FiraSans-Regular;
$font_1:FiraSans-Bold;
$font_2:FiraSans-Light;
$font_3:FiraSans-Thin;
$font_4:FiraSans-SemiBold;
$font_5:FiraSans-Medium;
$font_6:Marcellus-Regular;
$font_7:fontAwesome;
$url_0:url(../fonts/Fira-sans-paragraph/FiraSans-Regular.ttf);
$url_1:url(../fonts/Fira-sans-paragraph/FiraSans-Bold.ttf);
$url_2:url(../fonts/Fira-sans-paragraph/FiraSans-Light.ttf);
$url_3:url(../fonts/Fira-sans-paragraph/FiraSans-Thin.ttf);
$url_4:url(../fonts/Fira-sans-paragraph/FiraSans-SemiBold.ttf);
$url_5:url(../fonts/Fira-sans-paragraph/FiraSans-Medium.ttf);
$url_6:url(../fonts/Marcellus/Marcellus-Regular.ttf);

@font-face {
    font-family: $font_0;
    src: $url_0;
}

@font-face {
    font-family: $font_1;
    src: $url_1;
}

@font-face {
    font-family: $font_2;
    src: $url_2;
}

@font-face {
    font-family: $font_3;
    src: $url_3;
}

@font-face {
    font-family: $font_4;
    src: $url_4;
}

@font-face {
    font-family: $font_5;
    src: $url_5;
}

@font-face {
    font-family: $font_6;
    src: $url_6;
}
.abrating {
    display: none;
}
.slider-wrapper {
    &.right {
        margin: 0px 0px 0px 0px;
        .university-slider {
            .carousel-caption {
                left: inherit;
                right: 5%;
                width: 35%;
                p {
                    margin-bottom: 30px;
                }
                .banner-btn {
                    margin-top: 0px;
                    margin-bottom: 5px;
                }
            }
            img {
                padding-right: 23.4%;
                padding-left: 0px;
            }
        }
        .banner-red-lef-alt {
            right: 20%;
            left: inherit;
        }
        .banner-red-left {
            right: 0px;
            left: inherit;
        }
    }
}
.event-update {
    &.uni_events {
        float: left;
        width: 100%;
        margin-top: -1px;
        background: #fff;
        float: left;
        width: 100%;
        margin-top: -1px;
        background: #fff;
    }
}
section {
    &.event-sec {
        margin: 70px 0px 30px 0px;
    }
    &.annc-sec {
        .uni_aimg_wrap {
            img {
                height: 320px;
            }
        }
    }
    &.photo-sec {
        .col-md-6 {
            &:first-child {
                .uni_aimg_wrap {
                    img {
                        height: 420px;
                    }
                }
            }
        }
    }
    &.aboutpanel {
        display: none;
    }
}
.tpa {
    .title {
        width: 30%;
        float: left;
        h3 {
            &.titles {
                font-family: "Marcellus-Regular";
                font-size: 48px;
                color: #b7202e;
                line-height: 57px;
                position: relative;
                color:  #000;
                &:after {
                    content: "";
                    background: #eeefefba;
                    width: 5px;
                    height: 100px;
                    position: absolute;
                    right: 25%;
                    top: -20px;
                }
            }
        }
    }
    .title-bar {
        margin: 0px 0px 50px 0px;
    }
    .para {
        float: left;
        width: 50%;
        p {
            font-size: 22px;
            line-height: 33px;
            color: #57585B;
            font-family: "Fira Sans", sans-serif;
            width: 70%;
            display: none; 
        }
    }
    .link {
        float: left;
        width: 20%;
        text-align: right;
    }
    .tab-content {
        float: left;
        width: 80%;
        .panel-heading {
            display: none;
        }
    }
    ul {
        &.nav {
            &.nav-tabs {
                border-bottom: 1px solid #00000033;
                float: left;
                width: calc(20% - 30px);
                display: inline-block;
                height: 120px;
                margin-right: 30px;
                border-top: 1px solid #00000033;
                li {
                    float: left;
                    width: 100%;
                    margin: 0px;
                    a {
                        font-family: FiraSans-Medium;
                        font-size: 20px;
                        color: #58595B;
                        line-height: 30px;
                        height: 60px;
                        line-height: 60px;
                        float: left;
                        width: 100%;
                        display: block;
                        padding: 0px 30px;
                        &.active {
                            background-color: #EEEFEF;
                            color: #B7202E;
                        }
                    }
                }
            }
        }
    }
}
.uni_events {
    .uni_aimg_wrap {
        overflow: hidden;
        width: 100%;
        float: left;
        position: relative;
        transition: all ease 1s;
        margin-bottom: 30px;
        img {
            height: 190px;
            width: 100%;
            object-fit: cover;
            transition: all ease 1s;
        }
    }
    .dates {
        position: absolute;
        left: 20px;
        top: 15px;
        font-family: FiraSans-Bold;
        width: 64px;
        height: 64px;
        padding: 14px 0px 6px 0px;
        background-color: #b7202e;
        color: #fff;
        box-shadow: 0px 2px 5px 0px #00000094;
        span {
            &.number {
                font-size: 21px;
                width: 100%;
                float: left;
                line-height: 20px;
                text-align: center;
            }
            &.text {
                font-size: 13px;
                width: 100%;
                float: left;
                text-align: center;
            }
        }
    }
    .uni_acontent {
        height: 114px;
        height: auto;
        position: relative;
        bottom: 0px;
        width: 100%;
        display: block;
        float: left;
        color: #fff;
        color: #333;
        z-index: 9;
        padding: 16px 20px;
        .clg {
            font-family: FiraSans-Bold;
            color: #b7202e;
            padding-bottom: 4px;
            font-size: 18px;
        }
    }
    .evlink {
        font-family: 'Fira Sans', sans-serif;
        font-size: 18px !important;
        color: #000 !important;
        font-family: FiraSans-Medium;
        height: 57px;
        overflow: hidden;
        a{
            font-family: 'Fira Sans', sans-serif;
        font-size: 18px;
        color: #000;
        font-family: FiraSans-Medium;
        font-family: FiraSans-Medium !important;
    border-bottom: none !important;
    min-height: 48px;
        float: left;
    width: 100%;
    display: block
        }
    }
    .nav-tabs {
        li {
            &:nth-child(1):after {
                content: none;
            }
        }
    }
    .annc-sec {
        .slider {
         
                .box {
                    .dates {
                        background-color: #58595B;
                        top: 25px;
                    }
                    &:hover {
                        .dates {
                            background-color: #b7202e;
                        }
                    }
                }
            
        }
    }
    .photo-sec {
        .uni_acontent {
            .clg {
                font-family: FiraSans-Medium;
                font-size: 22px;
                color: #000000;
            }
        }
        .count {
            font-family: "Fira Sans", sans-serif;
            i {
                font-size: 12px;
                color: #68696B;
                margin: 0px 10px 0px 0px;
                position: relative;
                top: -1px;
            }
            span {
                margin: 0px 5px 0px 0px;
            }
        }
        .smallgrid {
            .aniwrap {
                float: left;
                width: calc(50% - 15px);
                margin-right: 15px;
                &:nth-child(2) {
                    position: relative;
                    top: 150px;
                }
            }
            .clg {
                font-size: 18px;
                min-height: 65px;
            }
        }
    }
    .video-sec {
        background-color: #F5F6F6;
        float: left;
        width: 100%;
        padding: 60px 0px;
        .uni_acontent {
            .wrap {
                float: right;
                width: calc(100% - 80px);
            }
        }
        .container {
            background: transparent;
        }
        .slick-dots {
            li {
                background: #58595B;
                width: 10px;
                height: 10px;
                &.slick-active {
                    background: #ED1C24 !important;
                }
            }
        }
        .uni_aimg_wrap {
            iframe {
                &.video_iframe {
                    float: left;
                    width: 100%;
                }
            }
        }
    }
}
.uni_events .uni_acontent a, .uni_events .uni_aimg_wrap a, .uni_events .uni-announcemnt a {
    font-family: RobotoSlab-Bold;
    color: #57585b;
    font-size: 16px;
    border-bottom: 3px solid transparent;
}
.uni_events .uni_aimg_wrap a, .uni_events .uni-announcemnt a {
    float: left;
    width: 100%;
}
.uni_events .aniwrap:nth-child(1) .uni_acontent, .uni_events .aniwrap:nth-child(4) .uni_acontent {
    position: relative;
    background: #fff !important;
}
.uni_aimg_wrap {
    box-shadow: none !important;
    border-bottom: 1px solid #00000033;
    &:hover {
        box-shadow: 0px 3px 20px #00000029 !important;
    }
}
.past {
    .aniwrap {
        &:first-child {
            float: left;
            width: 100%;
            -webkit-box-flex: 0;
            -ms-flex: 0 0 33.333333%;
            flex: 0 0 100%;
            max-width: 100%;
            .uni_aimg_wrap {
                a {
                    img {
                        height: 400px;
                        height: 400px;
                    }
                }
            }
        }
    }
}
.annc-sec {
    background-color: #F5F6F6;
    float: left;
    width: 100%;
    padding: 60px 0px;
    .container {
        background: transparent;
    }
    .slider {
     
            .box {
                width: 100%;
                float: left;
                position: relative;
                display: block;
                background: #fff;
                margin: 0px 0px 30px 0px;
                transition: all ease 0.5s;
                &:hover {
                    box-shadow: 0px 8px 20px #00000029;
                    transition: all ease 0.5s;
                }
                .dates {
                    width: 64px;
                    float: left;
                    position: relative;
                }
                .info {
                    width: calc(100% - 70px);
                    float: right;
                    padding-left: 30px;
                }
            }
       
    }
    .tpa {
        .title {
            width: 35%;
            h3 {
                &.titles {
                    &:after {
                        right: 10%;
                    }
                }
            }
        }
        .para {
            width: 40%;
            p {
                width: 90%;
            }
        }
        .link {
            width: 25%;
        }
    }
}
.photo-sec {
    .tpa {
        .title {
            width: 40%;
        }
        .para {
            width: 40%;
            p {
                width: 90%;
            }
        }
    }
}
.video-sec {
    .tpa {
        .title {
            width: 35%;
        }
        .para {
            width: 45%;
            p {
                width: 85%;
            }
        }
    }
}

/* add here */
@media (min-width: 1200px) {
	.container {
    max-width: 90%;
}

}

@media only screen and (min-width: 1370px) {
	.container {
    width: 90%;
    max-width: 90%;
    float: none;
}

}
@media only screen and (max-width: 1440px) {
.tpa .title h3.titles {
    font-family: "Marcellus-Regular";
    font-size: 44px;}
}

@media(min-width:768px){
  .tpas .panel-heading{
    display:none;
  }  
  .panel{
    border:none;
    box-shadow:none;
  }
  .panel-collapse{
    height:auto;
    &.collapse{
      display:block;
    }
  }
}
@media only screen and (max-width: 1024px) {
.tpa {
    .para {
        p {
            width: 90%;
        }
    }
    .title {
        h3 {
            &.titles {
                font-size: 36px;
            }
        }
    }
}
section {
    &.event-sec {
        margin: 50px 0px 15px 0px;
    }
    &.photo-sec {
        margin: 0px 0px 50px 0px;
    }
    &.video-sec {
        margin: 0px 0px 50px 0px;
        padding: 40px 0px;
    }
}
.simple-link {
    position: absolute;
    width: auto;
    right: 0px;
}
.annc-sec {
    padding: 40px 0px;
    margin: 0px 0px 50px 0px;
    ul {
        &.slider {
          
                margin: 0px;
            
        }
    }
}
.event-update {
    &.uni_events {
        section {
            position: relative;
        }
    }
}

}
@media only screen and (max-width: 768px) {
.slider-wrapper {
    &.right {
        .university-slider {
            .carousel-caption {
                top: inherit;
                bottom: 0%;
                width: 50%;
            }
        }
    }
}
.tpa {
    .title {
        h3 {
            &.titles {
                font-size: 28px;
            }
        }
    }
    ul {
        &.nav {
            &.nav-tabs {
                li {
                    a {
                        padding: 0px 20px;
                    }
                }
            }
        }
    }
}
.uni_events {
    .uni_acontent {
        padding: 15px;
    }
}
.container {
    max-width: 97%;
}
.slider-wrapper .university-slider .carousel-caption .uni-banner-heading {
    margin-bottom: 10px !important;
}
.slider-wrapper .university-slider .carousel-caption .uni-banner-heading {
    margin-bottom: 10px }
    section.event-sec {

    margin: 10px 0px 30px 0px;
}
.annc-sec {
   
    padding: 20px 0px 20px 0px;
    }
    .uni_events .evlink {

    height: auto;
    
}
.uni_events .photo-sec .smallgrid .clg {
    font-size: 18px;
    min-height: auto;
}
.uni_events .video-sec {

    padding: 20px 0px;
}
.video-sec  .slick-dots {
    bottom: 5px;
}
.slider-wrapper.right .university-slider img {
    padding-right: 0%;
    padding-left: 0px;
}
.slider-wrapper.right .university-slider .carousel-caption {
    top: inherit;
    bottom: 0%;
    width: 90%;
    right: inherit;
    margin-top: -40px;
}
.simple-link {
 
    right: 0px;
    top: 15px;
}
.tpa .title h3.titles:after {
   
    width: 3px;
    height: 70px;
   
    right: 25%;
    top: -5px;
}
}
@media(max-width:767px){
  .tpas .tab-content{
    .tab-pane{
       display:block;
    }    
  }
   .tpas .nav-tabs{
      display:none;
  }
 .tpas .panel-title a{
    display:block;
  }
  .tpas .panel{
    margin:0;
    box-shadow:none;
    border-radius:0;
     margin-top:-2px;
  }
  .tpas .tab-pane{
     &:first-child{
      .panel{
        border-radius:5px 5px 0 0;
      }
    }
    &:last-child{
      .panel{
        border-radius:0 0 5px 5px;
      }
    }  
  }
 .tpa {
    ul {
        &.nav {
            &.nav-tabs {
                width: 100%;
                width: 100%;
                margin: 0px;
                li {
                    width: 50%;
                    margin: 0px;
                    border: 1px solid #ddd;
                }
            }
        }
    }
    .para {
        float: left;
        width: 70%;
        p {
            font-size: 18px;
            width: 95%;
        }
    }
    .title-bar {
        margin: 0px 0px 50px 0px;
        position: initial;
    }
    .tab-content {
        float: left;
        width: 100%;
    }
    .title {
        h3 {
            &.titles {
                &:after {
                    right: 20%;
                }
            }
        }
    }
}
.annc-sec {
    position: relative;
    padding: 40px 0px;
    margin: 0px 0px 30px 0px;
    padding: 40px 0px 40px 0px;
    margin: 0px 0px 30px 0px;
    .tpa {
        .para {
            width: 60%;
            p {
                width: 100%;
            }
        }
    }
    a {
        &.simple-link {
            bottom: 40px;
        }
    }
}
.simple-link {
    right: 22px;
    bottom: 22px;
    right: 22px;
    bottom: 22px;
    width: 100%;
    text-align: right;
}
.event-sec {
    .tpa {
        .tab-content {
            .collapse {
                display: block;
            }
        }
    }
    .simple-link {
        bottom: -15px;
    }
}
.uni_events {
    .uni_acontent {
        display: block !important;
    }
    .photo-sec {
        .smallgrid {
            .aniwrap {
                width: calc(100% - 0px);
                &:nth-child(2) {
                    position: relative;
                    top: 0px;
                }
            }
        }
    }
}
.photo-sec {
    .tpa {
        .para {
            width: 60%;
            p {
                width: 100%;
            }
        }
    }
    .simple-link {
        bottom: -10px;
    }
}
.video-sec {
    .tpa {
        .para {
            width: 65%;
            p {
                width: 100%;
            }
        }
    }
}
section {
    &.event-sec {
        margin: 30px 0px 15px 0px;
        margin: 30px 0px 50px 0px;
    }
    &.photo-sec {
        margin: 0px 0px 30px 0px;
        margin: 0px 0px 50px 0px;
    }
}
.slider-wrapper.right .university-slider .carousel-caption {
    top: inherit;
    bottom: 0%;
    width: 90%;
    right: inherit;
    position: relative;
    margin-top: -40px;
}

}

@media(max-width:660px){
.tpa {
    .title {
        width: 100% !important;
        float: left;
        h3 {
            &.titles {
                &:after {
                    content: none;
                }
            }
        }
    }
    .para {
        float: left;
        width: 100% !important;
    }
    .title-bar {
        margin: 0px 0px 10px 0px;
        position: initial;
    }
}
.slider-wrapper {
    &.right {
        .university-slider {
            .carousel-caption {
                top: inherit;
                bottom: 0%;
                width: 95%;
                right: 0%;
                margin-top: -25px;
                position: relative;
                margin-top: -40px;
                margin-top: -40px;
                height: auto;
                float: left;
                margin-left: 8px;
            }
        }
    }
    .banner-red-lef-alt {
        height: 55%;
    }
    .banner-red-left {
        height: 61%;
    }
}

}