.content-High{color: #fff; background: #FFCB05 ;}
.content-Medium{color: #fff;background: #FFCB05 ; }
.content-Low{ color: #fff;background: #F58220 ; }

.notice-msg {
    display: block;
    z-index: 999;
    float: right;
    padding-top: 10px;
    border: 0;
    font-family: 'FiraSans-Medium';
    color: #fff;
    margin-top: 0px;
    position: relative;
    cursor: pointer;
}
.emer_p { padding-bottom: 18px;}
.fruit p {
    padding-top: 20px;position: relative;
}
.fruit p:before {
    content: "\f071";
    background-repeat: no-repeat;
    font-family: fontawesome;
    height: 18px;
    float: left;
    margin-top: 0px;
    left: -30px;
    position: absolute;
    font-size: 25px;
}

.fira-medium{font-family: FiraSans-Medium;}
.font22{font-size: 22px;}
.font14{font-size: 14px;}
ul.comlist li {
    font-size: 18px;
    line-height: 27px;
    color: #000;
    font-family: "Fira Sans", sans-serif;
    font-weight: 300;
    list-style-type: disc;
}
.mleft30{margin-left:30px;}


.uni_footer { position: relative; float: left; width: 100%; margin-top: 20px;}
.uni_footer .container {background: #fff; position: relative;}
.backpatch_left:after{z-index: -1;}
.uni_footer .red-left-aft { content: ""; position: absolute; width: 195px;}
.uni_footer .footer-soc li { margin-top: 50px;}
.uni_footer ul.footer-soc{top:-10px;}
.uni_footer ul.uf_link a {text-transform: capitalize;}
.uni_footer .foot_grid { width: 22%; float: left; padding-top: 15px; padding-bottom: 25px;}
.uni_footer .container { background: #fff;}
.uni_footer li a { font-family: 'Fira Sans', sans-serif; font-size: 13px;  color: #58595b;  line-height: 35px;}
.uni_footer li a:hover { color: #000;}
.uni_footer .foot_grid:nth-child(1) { width: 32%; padding-left: 26px;}
.uni_footer .uf_title { font-family: FiraSans-Medium; font-size: 14px; text-transform: uppercase; color: #000; margin-bottom: 15px;}
.uni_footer .uf_btn { background: #58595b; padding: 10px 35px; color: #fff; font-size: 18px; font-family: 'FiraSans-Medium';
    margin-bottom: 10px; line-height: initial; text-align: center; display: block; margin-bottom: 20px; text-align: center; line-height: 20px;}
.uni_footer .uf_btn:hover { background: #b7202e; -webkit-transition: all 0.3s ease; transition: all 0.3s ease;
    color: #fff;}
.uni_footer .backpatch_left:after {z-index: -1;}
ul.unisocial_link.hide-desk {display: none;}
.uni_footer .uf_btn:active { background: #191a1a;}
.uni_footer .uf_btn:hover { background: #b7202e; color: #fff; text-decoration:none!important;}
.uni_footer .fexplore { margin-top: 20px;}
.uni_footer .uf_logo { position: relative; width: 200px; margin-bottom: 20px;}
.uni_footer ul.footer-soc li { float: left; padding: 0 10px;}
.uni_footer .footer-soc li { margin-top: 39px;}
.uni_footer .uni_trust { position: absolute; bottom: 0px;}
.uni_footer .uni_trust li a { font-size: 12px;}
.uni_footer ul.footer-soc { position: relative; margin-left: 28%; z-index: 1;}
.uni_footer ul.foot-trust li { float: left;  padding: 5px;}
.uni_footer .copyright { font-family: 'Fira Sans', sans-serif;  font-size: 12px; color: #58595b; position: relative; top: 32px;left: 10px;}
.uni_footer .ul.footer-soc li a { font-size: 12px;}
.uni_footer .footbtn { padding-bottom: 20px; width: 85%; float: left;}
.uni_footer .red-left { width: 19%; height: 57px; background-color: #ee1c24;
    background: -webkit-gradient(linear, left top, right top, from(#ee1c24), to(#ee1c24));
    background: linear-gradient(to right, #ee1c24, #ee1c24); left: 0; top: 0; float: none; position: relative; z-index: -5;}
.uni_footer .red-left-aft { content: ""; position: absolute; width: 195px; height: 100%; background-color: #b7202e; left: 0; top: 0; z-index: 10; z-index: -1}
.unisocial_link { margin-top: 20px; margin-bottom: 10px; float: left;}
.unisocial_link li { float: left;}
.unisocial_link .fwarp { height: 35px; padding-right: 43px;}
.unisocial_link .ufacebook {background: url(../../default_asset/img/social/Sprite-icon.svg) -108px -13px no-repeat; padding-right: 34px;}
.unisocial_link .ufacebook:hover {background: url(../../default_asset/img/social/Sprite-icon.svg)-145px -13px no-repeat;}
.unisocial_link .utwitter { background: url(../../default_asset/img/social/Sprite-icon.svg)-195px -13px no-repeat;}
.unisocial_link .utwitter:hover { background: url(../../default_asset/img/social/Sprite-icon.svg)-246px -13px no-repeat;}
.unisocial_link .uinstagram { background: url(../../default_asset/img/social/Sprite-icon.svg)-311px -11px no-repeat;}
.unisocial_link .uinstagram:hover { background: url(../../default_asset/img/social/Sprite-icon.svg)-355px -12px no-repeat;}
.unisocial_link .uyoutube { background: url(../../default_asset/img/social/Sprite-icon.svg)-419px -11px no-repeat;}
.unisocial_link .uyoutube:hover { background: url(../../default_asset/img/social/Sprite-icon.svg)-472px -11px no-repeat;}
.unisocial_link .ugmail:hover {
    background: url(../../default_asset/img/social/Sprite-icon.svg) -194px -46px no-repeat;
    background-size: 470px;
}

.unisocial_link .ugmail {
    background: url(../../default_asset/img/social/Sprite-icon.svg)-152px -45px no-repeat;
    background-size: 470px;
}
@media only screen and (max-width: 1024px) {
.uni_footer .red-left-aft { width: 60px;}
.uni_footer .uf_logo {width: 180px;}
}

@media only screen and (max-width: 991px) {
.uni_footer .uf_logo {width: 170px;}
}

@media only screen and (max-width: 959px) {
.uni_footer .uf_logo { width: 185px;}
}
@media (min-width: 320px) and (max-width: 860px){
.uni_footer .arrow-down:after { content: ""; font-family: FontAwesome; cursor: pointer; float: right; color: #162443; background-image: url(../img/menu/plus.svg);
    font-size: 20px; float: right; position: relative; top: -4px; right: 8px;width: 15px;
    height: 25px;
    background-repeat: no-repeat;
    background-position: 0px 5px;}
.uni_footer .arrow-up:before { content: ""; font-family: FontAwesome; cursor: pointer; float: right; color: #162443; font-size: 20px;
    float: right; position: relative; top: -4px; right: 8px;    background-image: url(../img/menu/minus.svg) !important;width: 15px;
    height: 25px;
    background-repeat: no-repeat;
    background-position: 0px 5px;}
.uni_footer .copyright { font-family: 'Fira Sans', sans-serif;font-size: 12px; color: #58595b; position: relative;top: 0;
    left: auto; right: 0; float: right;}
.foot-trust{display: none;}
/*.uni_events .red-left,.uni_events .red-left-aft{display: none;}*/
.unisocial_link { margin-top: -11px; margin-bottom: 10px; float: left; margin-left: 20px;}
.footerlist_nav.option-heading { border-bottom: 1px solid #ccc; padding-bottom: 5px;}
.uni_footer .foot_grid:nth-child(1),.uni_footer .foot_grid { width: 100%;}
.is-hidden { display: none;}
.hidden-mob { display: none!important;}
.uni_footer .uf_title {  display: block;}
.option-heading .arrow-down, .option-heading .arrow-up { float: right; color: #333;}
.option-heading .arrow-down {display: block;}
.uni_footer .foot_grid { padding-top: 10px;  padding-bottom: 10px;}
.uni_footer .uf_title{margin-bottom: 0;}
.uni_footer .footbtn { padding-bottom: 20px; width: 100%;}
.uni_footer .container {background: #fff;width: 83%;padding-left: 54px;}
.uni_footer .red-left {width: 30%; height: 43px;}
.uni_campus_life h2, .uniinitaive_link h2{font-size: 24px;}
}

@media (min-width: 768px) and (max-width: 860px){
.uni_campus_life h2, .uniinitaive_link h2 { font-size: 28px!important;}
}
@media (min-width: 861px) and (max-width: 1024px){
.uni_footer .red-left { width: 17%;  height: 48px;}
.uni_campus_life .red-left { width: 24%;}
.uni_footer .container { padding-left: 26px; background: #fff; width: 83%;}
}
@media (min-width: 320px) and (max-width: 767px){
.uni_footer .red-left-aft { width: 70px;}
.uni_footer .container { padding-left: 34px;  background: #fff;  width: 83%;}
.padd0{padding:0;}
.unisocial_link {margin-left: 0px;}
ul.unisocial_link.hide-desk {display: block;}
}



/* mandatory Disclousere*/
.mandatory-discloures .docup-tabs { padding-left: 10px; margin: 0; padding: 0;}
.mandatory-discloures .accordion .pagenav h4 a:before {
    content: "\f067"; padding-right: 20px; font-family: FontAwesome;  float: left; height: 22px;  position: relative;
    left: 9px; right: 0; width: 33px;}
.mandatory-discloures .accordion .pagenav.open a.active { color: #b7202e !important;}
.mandatory-discloures .accordion .pagenav.open { padding-bottom: 17px; background: rgba(0,0,0,.05);}
.mandatory-discloures aside { margin-top: 30px; border-right: 0px solid #ddd; float: left; width: 100%; position: relative; padding-top: 0;}
.mandatory-discloures .accordion { border: 1px solid #ddd;}
/*END  mandatory Disclousere*/


/* event share*/
.share{
select#calendar { height: 32px; margin-left: 8px; border-radius: 0;  font-family: FiraSans-Regular; font-family: "Fira Sans", sans-serif;  
 font-weight: 300;  margin-top: 4px;}
form#outlookusingics { padding-top: 8px;}
.form-control:focus { border: 1px solid #ccc;}
}
#outlookcal{
 h4{font-size: 22px;color: #9b2928;}
 label{font-family: "Fira Sans", sans-serif; font-weight: 400; font-size: 18px;  margin-bottom: 7px;}
    .form-control:focus { border: 1px solid #ccc;}
.outlook_email_error { font-size: 13px; margin-bottom: 10px;color: red;}
.outlook_email_form_success_msg { font-family: 'FiraSans-Medium';  text-align: center;}
}



