.home-about-section .whats-new h3, .home-program-section-title h2, .explore_somaiya_wrap h2 {
  font-family: 'Marcellus-Regular';
  font-size: 38px;
  line-height: 50px;
  color: #b7202e; }

.home-projects .projectscontent-wrapper p {
  color: #58595b;
  font-size: 18px;
  font-family: 'Fira Sans', sans-serif;
  margin-bottom: 10px;
  line-height: 27px; }

.prev-img-btn:after, .home-about-section .whats-new ul.whats-container .slick-prev, .kjsce-pillers-wrapper .pillars-right .pillarSlider-main .slick-prev {
  content: "....";
  background-image: url("../../default_asset/img/arrow-white-prev.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-size: 15px;
  color: transparent;
  background-position: center; }

.next-img-btn:after, .home-about-section .whats-new ul.whats-container .slick-next, .kjsce-pillers-wrapper .pillars-right .pillarSlider-main .slick-next {
  content: "....";
  background-image: url("../../default_asset/img/arrow-white-next.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-size: 15px;
  color: transparent;
  background-position: center; }

body, html {
  overflow-x: hidden; }

/**New classes**/
.directors-intro-box .dir-mainhead {
  color: #b7202e;
  font-size: 48px;
  font-family: 'Marcellus-Regular';
  line-height: 60px;
  text-align: center; }

.flexible-major-minor .flex-mainhead, .wideBluebox .wide-wrapper .widehead, .research-box .flexiheading, .directors-intro-box .dir-heading {
  color: #b7202e;
  font-size: 38px;
  font-family: 'Marcellus-Regular';
  line-height: 48px;
  text-align: center; }

.flexible-major-minor .sub_heading_dual, .directors-intro-box .director-signaturebox .name {
  font-size: 28px;
  line-height: 30px;
  color: #000;
  font-family: 'Fira Sans', sans-serif;
  font-weight: 300; }

.flexible-introbox .para, .directors-intro-box .director-signaturebox .message {
  font-size: 20px;
  line-height: 30px;
  color: #000;
  font-family: 'Fira Sans', sans-serif;
  font-weight: 300; }

.directors-intro-box p {
  font-size: 16px;
  line-height: 24px;
  color: #000;
  font-family: 'Fira Sans', sans-serif;
  font-weight: 300; }

.flexible-major-minor .sub_heading {
  font-size: 22px;
  line-height: 33px;
  color: #58595b;
  font-family: 'FiraSans-Medium'; }

.flexible-introbox .flexble-subheading {
  font-size: 38px;
  line-height: 57px;
  color: #000;
  font-family: 'Fira Sans', sans-serif;
  font-weight: 300; }

.directors-intro-box .marath-head35 {
  font-family: 'Fira Sans', sans-serif;
  font-weight: 300;
  font-size: 35px;
  line-height: 45px;
  color: #58595b; }

/*Base classes End*/
@media (max-width: 1024px) {
  .home-about-section .whats-new h3, .home-program-section-title h2, .explore_somaiya_wrap h2 {
    font-size: 32px;
    line-height: 38px; }

  .directors-intro-box .dir-mainhead {
    font-size: 40px;
    line-height: 60px; }

  .flexible-major-minor .sub_heading_dual, .directors-intro-box .director-signaturebox .name {
    font-size: 24px;
    line-height: 36px; }

  .flexible-major-minor .flex-mainhead, .wideBluebox .wide-wrapper .widehead, .research-box .flexiheading, .directors-intro-box .dir-heading {
    font-size: 30px;
    line-height: 35px; } }
@media (max-width: 768px) {
  .directors-intro-box .dir-mainhead {
    font-size: 34px;
    line-height: 50px; }

  .flexible-major-minor .flex-mainhead, .wideBluebox .wide-wrapper .widehead, .research-box .flexiheading, .directors-intro-box .dir-heading, .home-about-section .whats-new h3, .home-program-section-title h2, .explore_somaiya_wrap h2 {
    font-size: 24px;
    line-height: 32px; }

  .home-about-section .whats-new h3, .home-program-section-title h2, .explore_somaiya_wrap h2 {
    font-size: 30px;
    line-height: 36px; }

  .flexible-major-minor .sub_heading_dual, .directors-intro-box .director-signaturebox .name {
    font-size: 22px;
    line-height: 36px; } }
@media (max-width: 767px) {
  .directors-intro-box .dir-mainhead {
    font-size: 36px;
    line-height: 42px; } }
@media (max-width: 550px) {
  .home-about-section .whats-new h3, .home-program-section-title h2, .explore_somaiya_wrap h2 {
    font-size: 30px; }

  .directors-intro-box .dir-mainhead {
    font-size: 30px;
    line-height: 42px; }

  .flexible-major-minor .flex-mainhead, .wideBluebox .wide-wrapper .widehead, .research-box .flexiheading, .directors-intro-box .dir-heading {
    font-size: 22px;
    line-height: 30px; } }
@media (max-width: 480px) {
  .home-about-section .whats-new h3, .home-program-section-title h2, .explore_somaiya_wrap h2 {
    font-size: 28px; }

  .directors-intro-box .dir-mainhead {
    font-size: 26px;
    line-height: 38px; } }
@media (max-width: 375px) {
  .home-about-section .whats-new h3, .home-program-section-title h2, .explore_somaiya_wrap h2 {
    font-size: 22px; }

  .directors-intro-box .dir-mainhead {
    font-size: 24px;
    line-height: 30px; } }
@media (max-width: 320px) {
  .directors-intro-box .dir-mainhead {
    font-size: 22px;
    line-height: 28px; } }
.overflow_hide {
  overflow: hidden; }

.pg-heading {
  display: none; }

.sks.campaign .specialization .tab-content .box .list li {
  padding: 0 0 0 10px !important; }

.sks.history-sec .abtimgcaptionwrap .btn.btn-sks-outline {
  background-color: transparent;
  font-size: 18px;
  padding: 10px 35px;
  border: 1px solid #fff;
  cursor: pointer; }

.home-higlight {
  background: #f5f6f6;
  padding: 50px 0; }
  .home-higlight .highlight-imgbox {
    position: relative;
    text-align: center;
    display: block;
    width: 100%;
    float: left;
    text-align: center; }
    .home-higlight .highlight-imgbox:after {
      display: inline-block;
      content: "";
      border-top: 2px solid #b7202e;
      width: 82%;
      opacity: 0.2;
      position: absolute;
      top: 45px; }
  .home-higlight .highlight-imgbox.last:after {
    border-top: none; }
  .home-higlight .highlight-contentbox {
    position: relative;
    width: 100%;
    float: left;
    display: block; }
  .home-higlight p {
    font-size: 20px;
    color: #000;
    line-height: 30px;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px; }
    .home-higlight p:after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0px;
      width: 50px;
      height: 1px;
      border-bottom: 3px solid #b7202e;
      margin: 0 auto;
      opacity: 0.5; }

.home-about-section {
  margin: 0;
  clear: both;
  position: relative;
  width: 100%;
  float: left;
  display: block; }
  .home-about-section:before {
    content: "";
    position: absolute;
    width: 20%;
    right: 0;
    background-color: #b7202e;
    height: 77%;
    top: 170px;
    z-index: 0; }
  .home-about-section:after {
    content: "";
    position: absolute;
    width: 5%;
    right: 20%;
    top: 0;
    z-index: -1;
    background-color: #ed1c24;
    height: 77%;
    top: 170px; }
  .home-about-section .home-aboutslider {
    padding-top: 70px; }
    .home-about-section .home-aboutslider .carousel-inner {
      height: 400px;
      height: 375px; }
      .home-about-section .home-aboutslider .carousel-inner h2,
      .home-about-section .home-aboutslider .carousel-inner h3,
      .home-about-section .home-aboutslider .carousel-inner h4,
      .home-about-section .home-aboutslider .carousel-inner h5,
      .home-about-section .home-aboutslider .carousel-inner h6 {
        font-size: 28px;
        font-family: "FiraSans-Regular" !important;
        color: #b7202e !important;
        margin-bottom: 20px; }
      .home-about-section .home-aboutslider .carousel-inner iframe {
        width: 100%;
        height: 370px; }
      .home-about-section .home-aboutslider .carousel-inner p {
        margin-bottom: 10px;
        font-family: "Fira Sans", sans-serif;
        font-size: 18px; }
    .home-about-section .home-aboutslider .controls-wrapper {
      margin-top: 8px;
      width: 100%;
      float: left;
      right: 10px;
      bottom: 10px;
      z-index: 9;
      padding: 10px 0 10px 0;
      overflow: visible;
      text-align: right; }
      .home-about-section .home-aboutslider .controls-wrapper a {
        background-color: #58595b;
        color: #fff;
        width: 30px;
        height: 35px;
        padding: 7px 8px;
        margin-left: 1px; }
        .home-about-section .home-aboutslider .controls-wrapper a:hover {
          background-color: #b7202e;
          outline: none;
          text-decoration: none; }
  .home-about-section .whats-new {
    background-color: #e7e8e9;
    padding-bottom: 50px;
    margin-left: 25px;
    overflow: hidden;
    padding: 20px;
    padding-top: 50px; }
    .home-about-section .whats-new h3 {
      padding-left: 20px; }
    .home-about-section .whats-new ul.whats-container {
      padding: 0;
      margin: 20px auto 0;
      height: 360px;
      /*overflow: hidden;*/
      padding: 0 15px; }
      .home-about-section .whats-new ul.whats-container .slick-prev {
        background: #58595b;
        background-image: url(../../default_asset/img/arrow-white-prev.svg);
        width: 30px;
        height: 35px;
        padding: 10px;
        background-repeat: no-repeat;
        background-position: center;
        display: inline-block;
        margin-top: 15px;
        background-size: 15px;
        position: absolute;
        top: -12%;
        margin-right: 1px;
        left: inherit;
        right: 30px;
        float: right;
        margin-top: 0;
        opacity: 1; }
        .home-about-section .whats-new ul.whats-container .slick-prev:hover {
          background: #b7202e;
          background-image: url(../../default_asset/img/arrow-white-prev.svg);
          padding: 10px;
          background-repeat: no-repeat;
          background-position: center;
          background-size: 15px; }
      .home-about-section .whats-new ul.whats-container .slick-next {
        background: #58595b;
        background-image: url(../../default_asset/img/arrow-white-next.svg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: 15px;
        width: 30px;
        height: 35px;
        padding: 10px;
        top: -12%;
        left: inherit;
        right: 0;
        position: absolute;
        opacity: 1; }
        .home-about-section .whats-new ul.whats-container .slick-next:before {
          content: ""; }
        .home-about-section .whats-new ul.whats-container .slick-next:hover {
          background: #b7202e;
          background-image: url(../../default_asset/img/arrow-white-next.svg);
          background-repeat: no-repeat;
          background-position: center;
          background-size: 15px; }
      .home-about-section .whats-new ul.whats-container li {
        color: #333;
        list-style-type: none;
        padding: 1em;
        margin: 0;
        transition: background-color 0.5s;
        border-bottom: 1px solid #ddd;
        padding-left: 0; }
        .home-about-section .whats-new ul.whats-container li a {
          text-decoration: none; }
          .home-about-section .whats-new ul.whats-container li a:hover {
            text-decoration: none; }
        .home-about-section .whats-new ul.whats-container li .whatsnew-date {
          color: #58595b;
          font-family: "FiraSans-Bold";
          line-height: 17px;
          font-size: 21px;
          width: 100%;
          float: left;
          padding-top: 6px;
          text-align: center;
          border-right: 1px solid #cac5c5;
          padding-right: 0;
          padding-left: 0; }
          .home-about-section .whats-new ul.whats-container li .whatsnew-date .whats-month {
            width: 100%;
            float: left;
            font-size: 13px; }
        .home-about-section .whats-new ul.whats-container li .whatsnew-info {
          padding-left: 20px; }
          .home-about-section .whats-new ul.whats-container li .whatsnew-info .whats-category {
            text-transform: uppercase;
            color: #58595b;
            font-size: 14px;
            font-family: "FiraSans-Medium"; }
          .home-about-section .whats-new ul.whats-container li .whatsnew-info .whats-title {
            color: #006699;
            text-decoration: underline;
            font-size: 16px;
            line-height: 24px;
            font-family: "FiraSans-Medium"; }
            .home-about-section .whats-new ul.whats-container li .whatsnew-info .whats-title:hover {
              color: #004466;
              text-decoration: none; }

.kjsce-pillers-wrapper {
  float: left;
  width: 100%;
  padding: 60px 0 60px 0;
  margin-bottom: 70px;
  background-color: #f5f6f6;
  position: relative; }
  .kjsce-pillers-wrapper:before {
    width: 60%;
    height: 100%;
    position: absolute;
    content: "";
    background: #603312;
    transform: skew(-22deg);
    top: 0;
    left: -25%; }
  .kjsce-pillers-wrapper .homepage_section_header {
    text-align: left;
    color: #ffffff;
    margin: 0;
    position: relative;
    padding: 0;
    font-size: 38px;
    float: left;
    font-family: Marcellus-Regular; }
  .kjsce-pillers-wrapper p {
    font-family: "Fira Sans", sans-serif;
    font-size: 18px;
    line-height: 27px;
    text-align: left;
    color: #ffffff;
    float: left;
    clear: both;
    position: relative;
    margin: 25px 0 0 0;
    z-index: 1; }
  .kjsce-pillers-wrapper .pillars-left {
    padding-left: 60px;
    padding-top: 35px; }
  .kjsce-pillers-wrapper .pillars-right .pillarSlider-main .pillar_item_wrapper {
    margin-right: 30px; }
    .kjsce-pillers-wrapper .pillars-right .pillarSlider-main .pillar_item_wrapper .pillar_item_thumb img {
      width: 100%; }
    .kjsce-pillers-wrapper .pillars-right .pillarSlider-main .pillar_item_wrapper .pillar_item_thumb p {
      left: 0;
      bottom: 0;
      font-family: "FiraSans-Medium";
      margin: 0;
      color: #fff;
      background: #58595b;
      font-size: 17px;
      padding: 10px 0 10px 25px;
      position: relative;
      float: left;
      width: 100%; }
    .kjsce-pillers-wrapper .pillars-right .pillarSlider-main .pillar_item_wrapper .pillar_item_thumb:hover p {
      background-color: #b7202e; }
  .kjsce-pillers-wrapper .pillars-right .pillarSlider-main .slick-arrow {
    border: 1px solid #fff;
    color: #fff;
    padding: 15px;
    top: 90%;
    bottom: 0; }
  .kjsce-pillers-wrapper .pillars-right .pillarSlider-main .slick-prev {
    left: -28%; }
    .kjsce-pillers-wrapper .pillars-right .pillarSlider-main .slick-prev:hover {
      background: #b7202e;
      background-image: url("../../default_asset/img/arrow-white-prev.svg");
      background-repeat: no-repeat;
      background-position: center;
      background-size: 15px;
      /*border:1px solid $darkred;*/ }
  .kjsce-pillers-wrapper .pillars-right .pillarSlider-main .slick-next {
    left: -24.8%; }
    .kjsce-pillers-wrapper .pillars-right .pillarSlider-main .slick-next:before {
      content: ""; }
    .kjsce-pillers-wrapper .pillars-right .pillarSlider-main .slick-next:hover {
      border-left: 1px solid #fff;
      background: #b7202e;
      background-image: url("../../default_asset/img/arrow-white-next.svg");
      background-repeat: no-repeat;
      background-position: center;
      background-size: 15px;
      /*border:1px solid $darkred;*/ }

.home-aff-acc {
  position: relative;
  background: #f5f6f6;
  clear: both;
  margin: 100px 0;
  margin-top: 150px; }
  .home-aff-acc .dark-gray-bg {
    width: 40%;
    position: absolute;
    left: -10%;
    top: 0;
    height: 100%;
    background: #58595b;
    transform: skew(-22deg); }
  .home-aff-acc .aff-heading {
    font-size: 38px;
    color: #fff;
    margin: 0;
    line-height: 48px;
    letter-spacing: 0.2px;
    float: left;
    font-family: Marcellus-Regular;
    position: relative;
    padding: 40px 0; }
  .home-aff-acc .affiliation_right {
    padding: 0 0 0 100px; }
    .home-aff-acc .affiliation_right .aff_item_wrapper img {
      max-width: 70%; }
    .home-aff-acc .affiliation_right .aff_item_wrapper .aff_item_thumb {
      box-shadow: 0 3px 6px 0 #ddd;
      background: #fff;
      width: auto;
      float: left;
      text-align: center;
      padding: 20px 20px;
      border-radius: 50%;
      min-height: 50px; }
      .home-aff-acc .affiliation_right .aff_item_wrapper .aff_item_thumb img {
        min-height: 80px;
        max-height: 80px; }
    .home-aff-acc .affiliation_right .affiliation-main {
      margin: 0; }
      .home-aff-acc .affiliation_right .affiliation-main .slick-list {
        width: 75%;
        /*padding: 10px 0;*/
        margin-top: 15px;
        margin-left: 6%; }
      .home-aff-acc .affiliation_right .affiliation-main .slick-prev,
      .home-aff-acc .affiliation_right .affiliation-main .slick-next {
        color: red; }
      .home-aff-acc .affiliation_right .affiliation-main .slick-prev {
        width: 0;
        height: 0;
        border-top: 60px solid transparent;
        border-left: 100px solid #58595b;
        border-bottom: 60px solid transparent;
        position: relative;
        float: right;
        right: 0;
        top: 50px; }
        .home-aff-acc .affiliation_right .affiliation-main .slick-prev:hover {
          border-left: 100px solid #b7202e; }
        .home-aff-acc .affiliation_right .affiliation-main .slick-prev:after {
          position: relative;
          content: " ....";
          color: transparent;
          background-image: url("../../default_asset/img/arrow-white-next.svg");
          background-position: center;
          transition: 0.5s;
          font-size: 60px;
          top: 0;
          left: -96px;
          background-repeat: no-repeat; }
      .home-aff-acc .affiliation_right .affiliation-main .slick-next {
        width: 0;
        height: 0;
        border-top: 60px solid transparent;
        border-left: 100px solid #58595b;
        border-bottom: 60px solid transparent;
        position: absolute;
        transform: rotateZ(180deg);
        top: 64px;
        right: 20px; }
        .home-aff-acc .affiliation_right .affiliation-main .slick-next:hover {
          border-left: 100px solid #b7202e; }
        .home-aff-acc .affiliation_right .affiliation-main .slick-next:before {
          content: ""; }
        .home-aff-acc .affiliation_right .affiliation-main .slick-next:after {
          position: relative;
          content: " ....";
          color: transparent;
          background-image: url("../../default_asset/img/arrow-white-next.svg");
          background-position: center;
          transition: 0.5s;
          font-size: 60px;
          top: -23px;
          left: -100px;
          background-repeat: no-repeat; }

.redpatch_left {
  position: relative; }
  .redpatch_left::before {
    content: "";
    position: absolute;
    width: 20%;
    left: 0;
    top: 50px;
    background-color: #b7202e;
    height: 100%;
    z-index: 0; }
  .redpatch_left:after {
    content: "";
    position: absolute;
    width: 5%;
    left: 20%;
    top: 50px;
    background-color: #ed1c24;
    height: 100%;
    z-index: -1; }

.home-program-section-title {
  clear: both; }
  .home-program-section-title h2 {
    text-align: center; }
  .home-program-section-title .link-left-section {
    position: relative; }
  .home-program-section-title .link-right-section {
    text-align: right;
    float: right;
    position: absolute;
    margin-top: 15px;
    right: 80px;
    width: auto; }

.home-program-section {
  margin-bottom: 100px;
  margin-top: 70px; }
  .home-program-section .home-prgm-box {
    overflow: hidden;
    display: block;
    float: left;
    position: relative;
    width: 100%;
    border: 0;
    border-radius: 0;
    margin-bottom: 10px;
    height: 500px; }
    .home-program-section .home-prgm-box p.prgm-hm-heading {
      position: absolute;
      bottom: 0;
      width: 100%;
      margin: 0;
      line-height: 27px;
      background: #58595b;
      font-family: FiraSans-Medium;
      color: #fff;
      font-size: 22px;
      padding: 15px 0 15px 25px; }
    .home-program-section .home-prgm-box img {
      width: 100%;
      height: 100%;
      object-fit: cover; }
  .home-program-section .home-prgm-box:hover .programmes_details_content {
    z-index: 9;
    opacity: 1;
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    -ms-transform: translateY(0px);
    transform: translateY(0px);
    -webkit-transition: -webkit-transform 0.4s, opacity 0.1s;
    -moz-transition: -moz-transform 0.4s, opacity 0.1s;
    transition: transform 0.4s, opacity 0.1s; }
  .home-program-section .programmes_details_content {
    background-color: #eeefef;
    padding: 40px 20px;
    z-index: 9999;
    width: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    opacity: 0;
    -webkit-transform: translateY(100%);
    -moz-transform: translateY(100%);
    -ms-transform: translateY(100%);
    transform: translateY(100%);
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transition: -webkit-transform 0.4s, opacity 0.1s 0.3s;
    -moz-transition: -moz-transform 0.4s, opacity 0.1s 0.3s;
    transition: transform 0.4s, opacity 0.1s 0.3s; }
    .home-program-section .programmes_details_content h3 {
      font-family: "FiraSans-Medium";
      color: #b7202e;
      font-size: 22px;
      line-height: 27px;
      margin-bottom: 25px; }
    .home-program-section .programmes_details_content ul {
      float: left;
      width: 100%;
      padding-left: 15px; }
      .home-program-section .programmes_details_content ul li {
        float: left;
        width: 100%;
        list-style: none;
        line-height: 1; }
        .home-program-section .programmes_details_content ul li a {
          float: left;
          width: 100%;
          padding: 0 0 15px 18px;
          line-height: 24px;
          color: #006699;
          font-size: 16px;
          font-family: FiraSans-Medium;
          position: relative;
          text-decoration: underline; }
          .home-program-section .programmes_details_content ul li a:hover {
            text-decoration: none;
            color: #004466; }
          .home-program-section .programmes_details_content ul li a::before {
            position: absolute;
            left: 0;
            top: 8px;
            content: "";
            width: 5px;
            height: 5px;
            border-radius: 50%;
            background: #333; }
    .home-program-section .programmes_details_content p {
      font-family: "Fira Sans", sans-serif;
      padding-left: 15px;
      font-size: 16px;
      margin-bottom: 20px;
      margin-bottom: 30px;
      float: left; }
    .home-program-section .programmes_details_content a {
      padding-left: 15px; }

.whats-happning .nav-tabs {
  display: none; }
.whats-happning .link-right-section {
  position: absolute;
  top: -70px;
  width: 20%;
  float: right;
  overflow: visible;
  display: block;
  text-align: right;
  right: 20px; }
.whats-happning .whats-happning-tabs {
  border-bottom: none;
  padding: 40px;
  margin: 0 auto;
  justify-content: center; }
  .whats-happning .whats-happning-tabs li {
    padding: 0 50px;
    border-right: 1px solid rgba(128, 128, 128, 0.5); }
    .whats-happning .whats-happning-tabs li a {
      color: #58595b;
      font-weight: 500;
      font-size: 22px;
      font-family: "FiraSans-Medium";
      border-bottom: 2px solid transparent;
      border: none;
      padding: 0;
      padding-bottom: 4px; }
      .whats-happning .whats-happning-tabs li a::after {
        content: "";
        width: 100%;
        height: 15px;
        bottom: 0;
        position: absolute;
        border-bottom: 2px solid #58595b;
        display: inline-block;
        left: 0;
        visibility: hidden;
        transform: scaleX(0);
        transition: all 0.15s ease-in; }
      .whats-happning .whats-happning-tabs li a:hover::after {
        visibility: visible;
        transform: scaleX(1);
        transition: all 0.25s ease-out; }
    .whats-happning .whats-happning-tabs li a.nav-link.active {
      color: #b7202e;
      border-bottom: 2px solid #b7202e; }
      .whats-happning .whats-happning-tabs li a.nav-link.active::after {
        height: 15px; }
      .whats-happning .whats-happning-tabs li a.nav-link.active:hover::after {
        border-bottom: 2px solid transparent;
        transform: scaleX(0);
        visibility: hidden; }
.whats-happning .tab-content {
  position: relative;
  width: 100%;
  float: left; }
.whats-happning .happn-card:hover {
  cursor: pointer;
  text-decoration: none; }
  .whats-happning .happn-card:hover .happ-event-title {
    text-decoration: underline;
    color: #004466; }
.whats-happning .happn-card .happn-card-imgbox img {
  width: 100%;
  max-height: 250px; }
.whats-happning .happn-card .happn-card-imgbox .dates {
  background-color: #b7202e;
  color: #fff;
  text-align: center;
  position: absolute;
  font-family: FiraSans-Bold;
  left: 30px;
  top: 15px;
  padding: 6px 0px 6px 0px;
  width: 50px;
  text-align: center;
  line-height: 17px;
  height: 50px; }
  .whats-happning .happn-card .happn-card-imgbox .dates .number {
    line-height: 20px;
    font-size: 21px;
    width: 100%;
    float: left; }
  .whats-happning .happn-card .happn-card-imgbox .dates .text {
    font-size: 13px;
    width: 100%;
    float: left; }
.whats-happning .happn-card .happn-card-contentbox {
  padding: 15px 20px;
  background-color: #eeefef;
  min-height: 140px; }
  .whats-happning .happn-card .happn-card-contentbox:hover {
    cursor: pointer;
    text-decoration: none; }
    .whats-happning .happn-card .happn-card-contentbox:hover .happ-event-title {
      text-decoration: underline;
      color: #004466; }
  .whats-happning .happn-card .happn-card-contentbox .public-category {
    font-family: "FiraSans-Medium";
    font-size: 16px;
    color: #b7202e;
    text-transform: uppercase;
    margin-bottom: 10px; }
  .whats-happning .happn-card .happn-card-contentbox .happ-event-title {
    font-family: "FiraSans-Medium";
    font-size: 20px;
    color: #58595b;
    line-height: 30px;
    margin-bottom: 10px; }
  .whats-happning .happn-card .happn-card-contentbox .happn-event-time {
    font-family: "Fira Sans", sans-serif;
    font-size: 14px;
    color: #006699;
    text-decoration: underline; }
    .whats-happning .happn-card .happn-card-contentbox .happn-event-time i {
      margin-right: 5px; }
@media (min-width: 768px) {
  .whats-happning .nav-tabs {
    display: flex; }
  .whats-happning .card {
    border: none; }
  .whats-happning .card .card-header {
    display: none; }
  .whats-happning .card .collapse {
    display: block; } }

.home-projects {
  margin-bottom: 80px; }
  .home-projects .home-projectsslider img {
    width: 100%; }
  .home-projects .projectscontent-wrapper {
    background-color: #f5f6f6;
    height: 100%;
    float: left;
    width: 100%; }
    .home-projects .projectscontent-wrapper .inner-wrapper {
      top: 50%;
      position: absolute;
      transform: translate(-50%, -50%);
      left: 50%;
      width: 100%;
      padding: 0 50px; }
    .home-projects .projectscontent-wrapper .small-head {
      font-family: FiraSans-Medium;
      color: #58595b;
      text-transform: uppercase;
      font-size: 16px;
      letter-spacing: 0.8px; }
  .home-projects .projects-controls-wrapper {
    width: 52.5%;
    float: left;
    text-align: right;
    bottom: 0;
    z-index: 9;
    padding: 0;
    overflow: visible;
    position: absolute; }
    .home-projects .projects-controls-wrapper a {
      background-color: #b7202e;
      color: #fff;
      font-size: 22px;
      padding: 4px 6px;
      margin-left: 2px;
      /*      
            margin-left: 2px;*/ }
      .home-projects .projects-controls-wrapper a:hover {
        background-color: #ed1c24;
        outline: none;
        text-decoration: none; }

.home-lifeat-somaiya .life-box {
  position: relative;
  width: 100%;
  border: 3px solid #fff;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  display: block;
  overflow: hidden;
  position: relative;
  float: left; }
  .home-lifeat-somaiya .life-box:hover img {
    transform: scale3d(1.1, 1.1, 1.1); }
  .home-lifeat-somaiya .life-box img {
    transition: transform 0.15s ease 0s;
    transform: scale3d(1, 1, 1);
    width: 100%;
    border: 10px solid #fff;
    border-bottom: 25px solid #fff;
    height: 300px;
    object-fit: cover; }
  .home-lifeat-somaiya .life-box .label {
    font-family: FiraSans-Medium;
    font-size: 24px;
    color: #b7202e;
    padding: 10px 25px 10px 25px;
    position: absolute;
    left: 0;
    background: #fff;
    z-index: 9;
    bottom: 0; }
.home-lifeat-somaiya .mega-projects-slider .megaproj-controls-wrapper {
  width: 98%;
  float: right;
  text-align: right;
  bottom: 25px;
  padding-right: 13px;
  z-index: 9;
  padding: 0;
  overflow: visible;
  position: absolute; }
  .home-lifeat-somaiya .mega-projects-slider .megaproj-controls-wrapper a {
    background-color: #b7202e;
    color: #fff;
    font-size: 22px;
    padding: 4px 6px;
    margin-left: 2px; }
    .home-lifeat-somaiya .mega-projects-slider .megaproj-controls-wrapper a:hover {
      background-color: #ed1c24;
      outline: none;
      text-decoration: none; }

.explore_somaiya_wrap {
  background-color: #f5f6f6;
  padding: 50px 0; }
  .explore_somaiya_wrap ul {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 50px; }
    .explore_somaiya_wrap ul li {
      margin: 0px 0px 10px;
      width: calc(100% / 4.4); }
      .explore_somaiya_wrap ul li a {
        width: 100%;
        background-color: #58595b;
        height: 50px;
        padding-left: 15px;
        align-items: center;
        display: inline-block;
        justify-content: center;
        font-family: "FiraSans-Medium"; }
        .explore_somaiya_wrap ul li a span {
          color: #ffffff;
          min-width: calc(100% - 30px);
          line-height: 2.7;
          font-size: 18px;
          text-align: left;
          float: left; }
        .explore_somaiya_wrap ul li a img {
          width: 15px;
          /* height: 20px; */
          height: 50px;
          vertical-align: middle;
          position: absolute;
          float: right; }

.slider-wrapper.academics .university-slider .carousel-caption {
  padding-bottom: 0; }
  .slider-wrapper.academics .university-slider .carousel-caption p {
    margin-bottom: -5px; }

.flexible-introbox {
  margin: 70px 0px 0 0px; }
  .flexible-introbox .flexble-subheading {
    margin-bottom: 20px; }
  .flexible-introbox .wrapper {
    width: 78%;
    margin: 0 auto; }

.flexible-major-minor .flex-mainhead {
  color: #b7202e;
  margin-bottom: 20px;
  text-align: left; }
.flexible-major-minor .sub_heading {
  margin-bottom: 20px; }
.flexible-major-minor .sub_heading_dual {
  margin-bottom: 20px;
  margin-top: 20px; }
.flexible-major-minor p {
  padding-right: 140px; }

.fullwidthintro {
  font-size: 28px;
  line-height: 42px;
  color: #58595b;
  font-family: "FiraSans-Medium"; }

.wideBluebox {
  background: #f3f9fc; }
  .wideBluebox .wide-iconbox {
    width: 100px;
    margin: 0 auto;
    top: -58px;
    position: absolute;
    text-align: center;
    float: left;
    left: 50%;
    transform: translateX(-50%);
    background: #f3f9fc;
    padding: 15px;
    border-radius: 50%; }
  .wideBluebox .wide-wrapper {
    width: 80%;
    margin: 0 auto;
    text-align: center;
    padding: 50px 30px;
    margin-top: 30px; }
    .wideBluebox .wide-wrapper .widehead {
      margin-bottom: 20px; }
    .wideBluebox .wide-wrapper p {
      padding: 0 30px; }

.research-box .flexiheading {
  margin-bottom: 20px;
  text-align: left; }
.research-box p {
  padding-right: 60px; }
.research-box .ridl-logoimg {
  margin-left: -30px;
  width: 170px; }
.research-box a {
  font-family: "Fira Sans", sans-serif;
  font-size: 18px;
  line-height: 27px; }

.fullLpatch .fullwidth {
  position: absolute;
  z-index: 1;
  padding-top: 32px; }
  .fullLpatch .fullwidth .dir-mainhead {
    font-size: 45px;
    line-height: 57px;
    color: #fff;
    font-family: "Marcellus-Regular";
    text-align: left; }

.directorpicimgbox.backpatch_right {
  padding-bottom: 20px;
  max-height: 395px;
  height: 395px; }
  .directorpicimgbox.backpatch_right:before, .directorpicimgbox.backpatch_right:after {
    height: 53%;
    bottom: 20px;
    top: 58%; }
  .directorpicimgbox.backpatch_right:before {
    right: -22%;
    width: 50%; }
  .directorpicimgbox.backpatch_right:after {
    right: -2%;
    width: 12%;
    right: 28%; }
  .directorpicimgbox.backpatch_right img {
    position: relative;
    z-index: 1;
    height: 395px;
    width: 100%;
    object-fit: cover; }

.directors-intro-box {
  margin-top: 175px; }
  .directors-intro-box .dir-mainhead {
    text-align: left;
    margin-bottom: 40px;
    padding-left: 40px; }
  .directors-intro-box .marath-head35 {
    margin-bottom: 15px;
    padding-left: 40px; }
  .directors-intro-box .dir-heading {
    width: 80%;
    padding-left: 40px;
    text-align: left;
    margin-bottom: 20px;
    line-height: 57px; }
  .directors-intro-box .directorimgwrapper {
    position: relative; }
    .directors-intro-box .directorimgwrapper img {
      width: 100%; }
    .directors-intro-box .directorimgwrapper .img-bottom-box {
      width: 80%;
      float: right;
      position: absolute;
      background: #f58220;
      padding: 0 8px;
      right: 0;
      bottom: -12px;
      width: 65%; }
  .directors-intro-box .director-signaturebox {
    background: #707070;
    padding: 50px;
    margin: 0; }
    .directors-intro-box .director-signaturebox:after {
      position: absolute;
      content: "";
      width: 82px;
      height: 100%;
      background-color: #58595b;
      right: -67px;
      top: 0; }
    .directors-intro-box .director-signaturebox .fullwidth img {
      margin-bottom: 20px; }
    .directors-intro-box .director-signaturebox .message {
      color: #fff;
      margin-bottom: 20px; }
    .directors-intro-box .director-signaturebox .name {
      color: #fff;
      margin-bottom: 15px; }
    .directors-intro-box .director-signaturebox .designation {
      font-family: "Fira Sans", sans-serif;
      color: #fff;
      font-size: 13px;
      line-height: 25px; }
      .directors-intro-box .director-signaturebox .designation p {
        margin-bottom: 10px; }

@media (max-width: 1024px) {
  .fullLpatch .fullwidth {
    padding-top: 45px; }
    .fullLpatch .fullwidth .dir-mainhead {
      font-size: 42px;
      line-height: 38px; }

  .flexible-introbox .flexble-subheading {
    font-size: 30px;
    line-height: 45px; }

  .flexible-introbox .para, .directors-intro-box .director-signaturebox .message {
    font-size: 18px;
    line-height: 27px; }

  .research-box .ridl-logoimg {
    width: 130px; }
  .research-box .Lvideo-mainbox {
    margin-top: 25px; }

  .directors-intro-box p {
    font-size: 16px;
    line-height: 24px; }
  .directors-intro-box .dir-heading {
    line-height: 48px; }
  .directors-intro-box .directorimgwrapper img {
    height: 270px;
    object-fit: cover; }

  .fullwidthintro {
    font-size: 24px;
    line-height: 36px; }

  .flexible-major-minor p,
  .research-box p {
    padding-right: 0; }

  .research-box .flexiheading {
    margin-bottom: 10px; }

  .wideBluebox .wide-wrapper {
    width: 90%; }

  .flexible-major-minor .sub_heading {
    font-size: 20px;
    line-height: 30px; }
  .flexible-major-minor .sub_heading_dual {
    margin-bottom: 10px; }

  .home-higlight .highlight-imgbox:after {
    width: 78%; }
  .home-higlight p {
    font-size: 18px;
    line-height: 28px; }

  .home-about-section .whats-new h3, .home-program-section-title h2, .explore_somaiya_wrap h2,
  .home-aff-acc .aff-heading {
    font-size: 32px;
    line-height: 38px; }

  .home-aff-acc .aff-heading {
    padding: 45px 0; }
  .home-aff-acc .affiliation_right .affiliation-main .slick-list {
    margin-left: 0%; }

  .explore_somaiya_wrap ul li a {
    padding-left: 5px; }
    .explore_somaiya_wrap ul li a span {
      min-width: calc(100% - 25px);
      font-size: 16px;
      line-height: 50px; }
    .explore_somaiya_wrap ul li a i {
      width: 15px; }

  .home-lifeat-somaiya .life-box img {
    border-bottom: 20px solid #fff; }
  .home-lifeat-somaiya .life-box .label {
    padding: 5px 10px 9px 15px;
    font-size: 18px; }

  .home-program-section .home-program-right .home-programmes_details_img {
    height: 425px; }

  .kjsce-pillers-wrapper {
    padding: 50px 0 50px 0; }
    .kjsce-pillers-wrapper .pillars-left {
      padding-left: 25px;
      padding-top: 10px; }
    .kjsce-pillers-wrapper .pillars-right .pillarSlider-main .slick-arrow {
      top: 100%; }
    .kjsce-pillers-wrapper .pillars-right .pillarSlider-main .slick-prev {
      left: -31%; }
    .kjsce-pillers-wrapper .pillars-right .pillarSlider-main .slick-next {
      left: -27%; }
    .kjsce-pillers-wrapper .homepage_section_header {
      font-size: 30px; }
    .kjsce-pillers-wrapper p {
      font-size: 14px;
      margin: 15px 0 0 0; }

  .whats-happning .link-right-section {
    top: -10px;
    width: 30%; }
  .whats-happning .card-body {
    padding-top: 50px; }

  .home-program-section .programmes_details_content {
    padding: 20px 20px; }
    .home-program-section .programmes_details_content ul li a {
      padding: 0 0 6px 15px; }
    .home-program-section .programmes_details_content p {
      margin-bottom: 10px; } }
@media (max-width: 991px) {
  .directors-intro-box .container {
    max-width: 91%; }
  .directors-intro-box .director-right {
    margin-top: 30px; }

  .home-about-section:before, .home-about-section:after {
    bottom: -40px;
    height: 30%;
    top: auto; }
  .home-about-section .whats-new {
    margin-top: 50px;
    padding-top: 20px;
    margin-left: 0; }
    .home-about-section .whats-new h3 {
      padding-left: 55px; }

  .home-about-section .home-aboutslider .carousel-inner {
    height: auto; }

  .home-about-section .whats-new ul.whats-container li .whatsnew-date {
    padding-left: 0;
    padding-right: 0; }

  .kjsce-pillers-wrapper {
    padding: 15px 0 20px 0; }
    .kjsce-pillers-wrapper::before {
      left: -15%; }
    .kjsce-pillers-wrapper p {
      margin: 15px 85px 0 0; }
    .kjsce-pillers-wrapper .pillars-left {
      padding-left: 40px;
      padding-top: 50px; }
    .kjsce-pillers-wrapper .pillars-right .pillarSlider-main .slick-arrow {
      top: 90%; }
    .kjsce-pillers-wrapper .pillars-right .pillarSlider-main .slick-prev {
      left: -98%; }
    .kjsce-pillers-wrapper .pillars-right .pillarSlider-main .slick-next {
      left: -91%; }

  .home-aff-acc .aff-heading {
    font-size: 30px;
    line-height: 40px;
    padding-left: 20px; }

  .home-program-section-title .link-right-section {
    right: 20px;
    width: 100%;
    position: relative; }

  .home-program-section {
    margin-top: 40px; }

  .whats-happning .nav-tabs {
    padding-top: 0; }

  .home-projects .projectscontent-wrapper p {
    font-size: 14px;
    line-height: 24px; } }
@media (max-width: 800px) {
  .kjsce-pillers-wrapper .pillars-left {
    padding-left: 20px;
    padding-bottom: 20px;
    padding-top: 25px; }
    .kjsce-pillers-wrapper .pillars-left p {
      margin: 15px 60px 0 0; }
  .kjsce-pillers-wrapper .pillars-right .pillarSlider-main .slick-prev {
    left: -103%; }
  .kjsce-pillers-wrapper .pillars-right .pillarSlider-main .slick-next {
    left: -94%; }

  .home-aff-acc .affiliation_right {
    padding: 0 0 0 70px; }
    .home-aff-acc .affiliation_right .affiliation-main .slick-list {
      width: 70%; }
    .home-aff-acc .affiliation_right .affiliation-main .slick-next {
      border-top: 40px solid transparent;
      border-bottom: 60px solid transparent; }
    .home-aff-acc .affiliation_right .affiliation-main .slick-prev {
      border-top: 40px solid transparent;
      border-bottom: 60px solid transparent; }
    .home-aff-acc .affiliation_right .aff_item_wrapper .aff_item_thumb {
      padding: 10px 10px; }
      .home-aff-acc .affiliation_right .aff_item_wrapper .aff_item_thumb img {
        min-height: 80px;
        max-height: 70px; }
  .home-aff-acc .aff-heading {
    font-size: 25px;
    line-height: 35px;
    padding-left: 10px; }

  .home-about-section .home-aboutslider {
    padding-top: 15px; } }
@media (max-width: 769px) {
  .flexible-introbox .flexble-subheading {
    font-size: 30px;
    line-height: 45px; }

  .fullLpatch .fullwidth {
    padding-top: 22px; }
    .fullLpatch .fullwidth .dir-mainhead {
      font-size: 36px;
      line-height: 30px;
      padding-left: 20px; }

  .directorpicimgbox.backpatch_right {
    height: auto; }
    .directorpicimgbox.backpatch_right::before {
      right: -25%;
      top: 50%; }
    .directorpicimgbox.backpatch_right::after {
      right: 25%;
      top: 50%; }
    .directorpicimgbox.backpatch_right img {
      height: 240px; }

  .directors-intro-box {
    margin-top: 125px; }
    .directors-intro-box p {
      font-size: 14px;
      line-height: 20px; }
    .directors-intro-box .marath-head35 {
      font-size: 28px;
      line-height: 30px;
      padding-left: 20px; }
    .directors-intro-box .dir-heading {
      width: 100%;
      font-size: 28px;
      line-height: 40px;
      padding-left: 20px; }
    .directors-intro-box .director-right {
      margin-top: 0; }
      .directors-intro-box .director-right .tabmartop70 {
        margin-top: 0px; }
    .directors-intro-box .directorimgwrapper .img-bottom-box {
      bottom: -12px;
      padding: 0 8px; }

  .wideBluebox .wide-wrapper {
    width: 100%;
    padding: 50px 0px; }

  .flexible-major-minor p,
  .research-box p,
  .flexible-introbox .para {
    padding-right: 0;
    font-size: 16px;
    line-height: 24px; }

  .flexible-introbox .wrapper {
    width: 90%; }

  .flexible-major-minor .sub_heading {
    font-size: 18px;
    line-height: 27px;
    margin-bottom: 10px; }

  .home-higlight .highlight-imgbox:after {
    width: 70%; }
  .home-higlight p {
    font-size: 16px;
    line-height: 24px; }

  .kjsce-pillers-wrapper .homepage_section_header {
    font-size: 28px; }

  .home-projects .projects-controls-wrapper {
    width: 50%;
    float: left;
    text-align: left; }

  .home-aff-acc .affiliation_right .affiliation-main .slick-next {
    top: 20px; }
  .home-aff-acc .affiliation_right .affiliation-main .slick-prev:after {
    left: -100px;
    top: 5px; }

  .explore_somaiya_wrap {
    margin: 0; }
    .explore_somaiya_wrap ul li {
      width: calc(100% / 2);
      text-align: center; }
      .explore_somaiya_wrap ul li a {
        width: 95%;
        margin-bottom: 10px;
        padding-left: 15px; }
        .explore_somaiya_wrap ul li a span {
          min-width: calc(100% - 50px); }

  .home-lifeat-somaiya .life-box {
    margin-bottom: 10px; }
    .home-lifeat-somaiya .life-box img {
      height: 200px;
      border: none;
      border-bottom: 20px solid #fff; }

  .home-program-section-title .link-right-section {
    position: relative;
    margin-top: 10px;
    right: 25px;
    width: 100%; }

  .home-program-section .programmes_details_content p {
    font-size: 14px;
    margin-bottom: 20px; }
  .home-program-section .programmes_details_content ul {
    padding-left: 0; }
    .home-program-section .programmes_details_content ul li a {
      padding: 0 0 6px 15px;
      font-size: 14px; }

  .home-program-section .home-program-right .home-programmes_details_img h3 {
    font-size: 18px;
    padding: 15px 0 15px 15px; }

  .home-aff-acc {
    margin: 60px 0;
    margin-top: 100px; }
    .home-aff-acc .aff-heading {
      font-size: 24px;
      line-height: 34px; }

  .home-about-section .whats-new h3, .home-program-section-title h2, .explore_somaiya_wrap h2 {
    font-size: 28px;
    line-height: 38px; }

  .home-program-section .home-prgm-box p.prgm-hm-heading {
    font-size: 16px;
    padding: 10px 0 10px 10px; }

  .home-program-section .programmes_details_content h3 {
    font-size: 18px;
    line-height: 27px;
    margin-bottom: 15px; }

  .home-about-section .home-aff-acc {
    margin-top: 100px;
    margin: 60px 0; }
    .home-about-section .home-aff-acc .aff-heading {
      font-size: 26px; }

  .home-about-section .whats-new {
    padding-bottom: 0; }
    .home-about-section .whats-new ul.whats-container {
      height: 300px; }
    .home-about-section .whats-new h3 {
      padding-left: 38px; }

  .kjsce-pillers-wrapper {
    padding: 30px 0 70px 0; }
    .kjsce-pillers-wrapper .pillars-right .pillarSlider-main .slick-arrow {
      top: 120%;
      position: absolute; } }
@media (max-width: 767px) {
  .fullLpatch .fullwidth .dir-mainhead {
    font-size: 32px;
    line-height: 25px; }

  .directors-intro-box {
    margin-top: 100px; }
    .directors-intro-box p {
      font-size: 16px;
      line-height: 24px; }
    .directors-intro-box .directorimgwrapper {
      margin-bottom: 40px; }
      .directors-intro-box .directorimgwrapper img {
        height: auto; }
    .directors-intro-box .direcr-first-sec {
      margin-top: 60px; }
    .directors-intro-box p.mtopbtm30 {
      margin-bottom: 0; }
    .directors-intro-box .tabmartop70,
    .directors-intro-box .director-right .tabmartop70 {
      margin-top: 30px; }
    .directors-intro-box .director-signaturebox {
      margin-top: 30px;
      margin-bottom: 40px; }
      .directors-intro-box .director-signaturebox:after {
        display: none; }

  .directorpicimgbox.backpatch_right {
    max-height: initial;
    height: auto; }
    .directorpicimgbox.backpatch_right:before, .directorpicimgbox.backpatch_right:after {
      height: 55%; }
    .directorpicimgbox.backpatch_right img {
      display: block;
      text-align: center;
      margin: 0 auto;
      height: auto;
      width: auto;
      margin-top: 25px; }

  .fullwidthintro {
    font-size: 20px;
    line-height: 34px; }

  .sksc-flexiintro-box {
    margin-top: 10px; }
    .sksc-flexiintro-box img {
      margin-top: 20px; }
    .sksc-flexiintro-box .Llist-main li {
      font-size: 18px;
      line-height: 25px; }

  .flexible-major-minor img {
    width: auto;
    text-align: center;
    margin: 0 auto;
    display: block;
    margin-bottom: 20px; }

  .flexible-major-minor .flex-mainhead, .flexible-major-minor .wideBluebox .wide-wrapper .widehead, .wideBluebox .wide-wrapper .flexible-major-minor .widehead, .flexible-major-minor .research-box .flexiheading, .research-box .flexible-major-minor .flexiheading, .flexible-major-minor .directors-intro-box .dir-heading, .directors-intro-box .flexible-major-minor .dir-heading,
  .wideBluebox .wide-wrapper .widehead .flexible-major-minor .flex-mainhead,
  .flexible-major-minor .wideBluebox .wide-wrapper .widehead .flex-mainhead,
  .wideBluebox .wide-wrapper .widehead .widehead,
  .wideBluebox .wide-wrapper .widehead .research-box .flexiheading,
  .research-box .wideBluebox .wide-wrapper .widehead .flexiheading,
  .wideBluebox .wide-wrapper .widehead .directors-intro-box .dir-heading,
  .directors-intro-box .wideBluebox .wide-wrapper .widehead .dir-heading,
  .research-box .flexible-major-minor .flex-mainhead,
  .flexible-major-minor .research-box .flex-mainhead,
  .research-box .wideBluebox .wide-wrapper .widehead,
  .wideBluebox .wide-wrapper .research-box .widehead,
  .research-box .flexiheading,
  .research-box .directors-intro-box .dir-heading,
  .directors-intro-box .research-box .dir-heading {
    font-size: 30px;
    line-height: 42px; }

  .research-box {
    margin-top: 0; }
    .research-box:nth-child(odd) img {
      margin-top: 20px; }
    .research-box:nth-child(even) img {
      margin-bottom: 20px; }

  .home-higlight .highlight-imgbox:after {
    display: none; }
  .home-higlight .highlight-contentbox {
    margin-bottom: 30px; }

  .home-about-section .whats-new ul.whats-container .slick-prev,
  .home-about-section .whats-new ul.whats-container .slick-next {
    top: -15%;
    width: 30px;
    height: 30px; }

  .home-projects .home-projectsslider img {
    width: auto; }

  .home-projects .projects-controls-wrapper {
    margin-top: 20px; }

  .home-aff-acc .dark-gray-bg {
    width: 40%; }

  .home-program-section .home-prgm-box {
    margin-bottom: 30px;
    height: 350px; }
    .home-program-section .home-prgm-box h3 {
      display: none; }
    .home-program-section .home-prgm-box h3.pg-heading {
      display: block; }
    .home-program-section .home-prgm-box p.prgm-hm-heading {
      display: none; }
    .home-program-section .home-prgm-box .programmes_details_content {
      opacity: 1;
      transform: translateY(0px); }

  .home-program-right {
    z-index: 9;
    display: none; }
    .home-program-right .home-programmes_details_img {
      height: 380px;
      margin-bottom: 30px; }

  .redpatch_left:before, .redpatch_left:after {
    height: 30%;
    top: auto;
    bottom: 0; }

  .home-program-section .programmes_details_content p {
    width: 100%; }

  .kjsce-pillers-wrapper {
    padding: 0px 0 0px 0;
    margin-bottom: 92px; }
    .kjsce-pillers-wrapper:before {
      transform: skew(0);
      left: 0;
      width: 100%;
      height: 50%; }
    .kjsce-pillers-wrapper .pillars-right .pillarSlider-main .slick-arrow {
      top: -50%;
      left: auto;
      right: 0;
      transform: translate(0, 50%);
      display: none; }

  .whats-happning {
    margin-top: 50px; }
    .whats-happning .tab-content > .tab-pane {
      display: block !important;
      opacity: 1;
      border-radius: 0;
      margin-bottom: 25px; }
      .whats-happning .tab-content > .tab-pane .card-header h5 a {
        font-family: "FiraSans-Medium";
        color: #58595b;
        font-size: 20px;
        line-height: 27px;
        margin-bottom: 25px; }
        .whats-happning .tab-content > .tab-pane .card-header h5 a:after {
          content: "\f067";
          font-size: 16px;
          margin-top: 3px;
          font-family: FontAwesome;
          float: right; }
      .whats-happning .tab-content > .tab-pane .card-header h5 a[aria-expanded="true"] {
        color: #b7202e;
        text-decoration: none; }
        .whats-happning .tab-content > .tab-pane .card-header h5 a[aria-expanded="true"]:after {
          content: "\f068";
          font-size: 16px;
          margin-top: 3px;
          font-family: FontAwesome;
          float: right; }
    .whats-happning .happn-card {
      margin-bottom: 25px;
      border-bottom: 1px solid #ddd;
      padding-left: 0; }
      .whats-happning .happn-card .happn-card-imgbox {
        width: 35%;
        float: left;
        position: relative; }
        .whats-happning .happn-card .happn-card-imgbox .dates {
          left: 10px; }
        .whats-happning .happn-card .happn-card-imgbox img {
          width: auto;
          max-height: 200px;
          height: auto; }
      .whats-happning .happn-card .happn-card-contentbox {
        width: 50%;
        float: left;
        background: #fff;
        min-height: auto; }

  .home-projects .projects-controls-wrapper {
    margin-top: -15px;
    position: relative;
    left: 45px; }
  .home-projects .projectscontent-wrapper {
    padding: 25px 0; }
    .home-projects .projectscontent-wrapper .inner-wrapper {
      position: relative; }

  .whats-happning .link-right-section {
    top: 0;
    width: 100%;
    position: relative; }
  .whats-happning .card-body {
    padding-top: 20px; }
    .whats-happning .card-body .happn-card:first-child {
      margin-top: 30px; } }
@media (max-width: 600px) {
  .home-aff-acc .aff-heading {
    font-size: 18px;
    line-height: 34px; }
  .home-aff-acc .dark-gray-bg {
    transform: skew(0);
    width: 40%; }

  .whats-happning .happn-card .happn-card-imgbox {
    width: 50%; }

  .home-about-section .whats-new ul.whats-container li .whatsnew-date {
    text-align: left;
    padding-left: 20px; }

  .kjsce-pillers-wrapper .pillars-right .pillarSlider-main .slick-arrow {
    display: none !important; } }
@media (max-width: 550px) {
  .fullLpatch .fullwidth .dir-mainhead {
    font-size: 28px;
    line-height: 24px; }

  .directors-intro-box {
    margin-top: 90px; }
    .directors-intro-box .direcr-first-sec {
      margin-top: 40px; }
    .directors-intro-box .marath-head35,
    .directors-intro-box .dir-heading {
      padding-left: 20px;
      font-size: 24px;
      line-height: 36px;
      margin-bottom: 5px; }
    .directors-intro-box .dir-mainhead {
      margin-bottom: 25px; }
    .directors-intro-box .director-signaturebox {
      padding: 30px; }

  .research-box:nth-child(even) {
    margin-bottom: 40px; }

  .flexible-introbox .wrapper {
    width: 92%; }
  .flexible-introbox .flexble-subheading {
    font-size: 26px;
    line-height: 39px;
    margin-bottom: 10px; }
  .flexible-introbox .para {
    font-size: 16px;
    line-height: 24px; }

  .flexible-major-minor {
    margin-bottom: 50px; }

  .flexible-major-minor .flex-mainhead, .flexible-major-minor .wideBluebox .wide-wrapper .widehead, .wideBluebox .wide-wrapper .flexible-major-minor .widehead, .flexible-major-minor .research-box .flexiheading, .research-box .flexible-major-minor .flexiheading, .flexible-major-minor .directors-intro-box .dir-heading, .directors-intro-box .flexible-major-minor .dir-heading,
  .wideBluebox .wide-wrapper .flexible-major-minor .flex-mainhead,
  .flexible-major-minor .wideBluebox .wide-wrapper .flex-mainhead,
  .wideBluebox .wide-wrapper .widehead,
  .wideBluebox .wide-wrapper .research-box .flexiheading,
  .research-box .wideBluebox .wide-wrapper .flexiheading,
  .wideBluebox .wide-wrapper .directors-intro-box .dir-heading,
  .directors-intro-box .wideBluebox .wide-wrapper .dir-heading,
  .research-box .flexible-major-minor .flex-mainhead,
  .flexible-major-minor .research-box .flex-mainhead,
  .research-box .wideBluebox .wide-wrapper .widehead,
  .wideBluebox .wide-wrapper .research-box .widehead,
  .research-box .flexiheading,
  .research-box .directors-intro-box .dir-heading,
  .directors-intro-box .research-box .dir-heading {
    font-size: 26px;
    line-height: 34px; }

  .wideBluebox .wide-wrapper p {
    font-size: 16px;
    line-height: 24px;
    padding: 0; }

  .home-about-section .whats-new ul.whats-container .slick-prev,
  .home-about-section .whats-new ul.whats-container .slick-next {
    top: -10%; }

  .home-about-section .whats-new h3, .home-program-section-title h2, .explore_somaiya_wrap h2,
  .home-aff-acc .aff-heading {
    font-size: 24px;
    line-height: 34px; }

  .home-aff-acc .aff-heading {
    text-align: center;
    display: block;
    float: none;
    padding: 15px; }
  .home-aff-acc .dark-gray-bg {
    left: 0;
    transform: skew(0);
    width: 100%;
    height: 70px; }
  .home-aff-acc .affiliation_right .affiliation-main .slick-prev {
    border-top: 35px solid transparent;
    border-bottom: 35px solid transparent;
    border-left: 70px solid #58595b; }
    .home-aff-acc .affiliation_right .affiliation-main .slick-prev:after {
      left: -95px;
      top: 0;
      background-position: right; }
    .home-aff-acc .affiliation_right .affiliation-main .slick-prev:hover {
      border-left: 70px solid #b7202e; }
  .home-aff-acc .affiliation_right .affiliation-main .slick-next {
    border-top: 35px solid transparent;
    border-bottom: 35px solid transparent;
    top: 26px;
    border-left: 70px solid #58595b; }
    .home-aff-acc .affiliation_right .affiliation-main .slick-next:after {
      left: -95px;
      background-position: right; }
    .home-aff-acc .affiliation_right .affiliation-main .slick-next:hover {
      border-left: 70px solid #b7202e; }

  .home-about-section .whats-new h3 {
    padding-left: 20px; }
  .home-about-section .whats-new ul.whats-container {
    margin: 0; }
    .home-about-section .whats-new ul.whats-container li .whatsnew-date {
      border-right: none;
      width: 20%;
      float: left; }
    .home-about-section .whats-new ul.whats-container li .whatsnew-info {
      width: 80%;
      float: left;
      padding-left: 0;
      padding-left: 10px; }

  .explore_somaiya_wrap ul {
    margin-top: 30px; }
    .explore_somaiya_wrap ul li {
      width: calc(100% / 1); }
      .explore_somaiya_wrap ul li a {
        width: 100%;
        padding-left: 15px; }

  .kjsce-pillers-wrapper
  .pillars-right
  .pillarSlider-main
  .pillar_item_wrapper {
    margin-right: 0; } }
@media (max-width: 480px) {
  .flexible-introbox .flexble-subheading,
  .research-box .flexiheading,
  .flexible-major-minor .flex-mainhead,
  .wideBluebox .wide-wrapper .widehead {
    font-size: 24px;
    line-height: 34px;
    margin-bottom: 10px; }

  .wideBluebox .wide-wrapper {
    margin-top: 20px; }
  .wideBluebox .wide-iconbox {
    top: -40px; }
    .wideBluebox .wide-iconbox img {
      width: 50px; }

  .flexible-major-minor {
    margin-top: 30px; }

  .home-aff-acc .affiliation_right .carousel-inner {
    width: 90% !important; }

  .home-projects .projectscontent-wrapper .inner-wrapper {
    padding: 0 30px; }

  .home-program-section .home-prgm-box {
    height: 370px; }

  .home-program-section .programmes_details_content p {
    margin-bottom: 5px; } }
@media (max-width: 414px) {
  .research-box {
    margin-bottom: 50px; }
    .research-box .ridl-logoimg {
      margin-left: -20px; }

  .directors-intro-box .direcr-first-sec {
    margin-top: 50px; } }
@media (max-width: 375px) {
  .fullLpatch .fullwidth .dir-mainhead {
    font-size: 24px;
    line-height: 26px; }

  .directors-intro-box .marath-head35 {
    font-size: 22px;
    line-height: 15px; }
  .directors-intro-box .marath-head35,
  .directors-intro-box .dir-heading {
    padding-left: 15px;
    font-size: 22px;
    line-height: 36px; }

  .home-about-section .whats-new ul.whats-container .slick-prev,
  .home-about-section .whats-new ul.whats-container .slick-next {
    top: -12%; }

  .home-about-section .whats-new ul.whats-container {
    height: 325px;
    margin: 20px auto 0; }

  .home-aff-acc .affiliation_right .carousel-inner {
    width: 100% !important; }

  .home-aff-acc .aff-heading {
    line-height: 53px;
    padding: 8px; }

  .whats-happning .happn-card {
    padding: 10px; }
    .whats-happning .happn-card .happn-card-imgbox {
      width: 100%; }
      .whats-happning .happn-card .happn-card-imgbox img {
        width: 100%; }
    .whats-happning .happn-card .happn-card-contentbox {
      width: 100%;
      float: left; }

  .home-aff-acc .affiliation_right .affiliation-main .slick-list {
    width: 50%;
    margin: 0 auto; } }
@media (max-width: 320px) {
  .home-aff-acc .aff-heading {
    line-height: 55px;
    padding: 8px;
    font-size: 22px; }

  .home-program-section .home-prgm-box {
    height: 395px; }

  .directors-intro-box.direcr-first-sec {
    margin-top: 50px; }
    .directors-intro-box.direcr-first-sec .marath-head35 {
      font-size: 18px;
      line-height: 12px; }

  .directors-intro-box {
    margin-top: 85px; }
    .directors-intro-box .marath-head35,
    .directors-intro-box .dir-heading {
      font-size: 18px;
      line-height: 30px; }

  .research-box .ridl-logoimg {
    margin-left: -20px; }

  .fullLpatch .fullwidth .dir-mainhead {
    font-size: 20px;
    line-height: 24px; } }

/*# sourceMappingURL=app.css.map */
