%btn {
     padding: 0px 10px;
    height: 42px;
    line-height: 42px;
    display: inline-block;
    font-size: 18px;
    font-family: 'FiraSans-Medium';
        border-radius: 0px;
}

%banner_title {
	font-family: 'Marcellus-Regular';
    font-size: 48px;
    line-height:  60px;
}

%sub_title {
	font-family: 'Marcellus-Regular';
    font-size: 38px;
    line-height:  48px;
}

%sub_title28 {
	font-family: 'Marcellus-Regular';
    font-size: 28px;
    line-height:  42px;

}
%sub_titlef28 {
	font-family: 'FiraSans-Regular';
    font-size: 28px;
    line-height:  48px;

}
%sub_titlef24 {
	font-family: 'FiraSans-Regular';
    font-size: 24px;
    line-height:  36px;

}
%sub_titlefm24 {
	    font-family: 'FiraSans-Medium';
    font-size: 24px;
    line-height:  36px;

}
%sub_titlefm22 {
	    font-family: 'FiraSans-Medium';
    font-size: 22px;
    line-height:  33px;

}
%sub_titlefm20 {
        font-family: 'FiraSans-Medium';
    font-size: 20px;
    line-height:  30px;

}
%para {
	font-family: 'FiraSans-Regular';
    color: $grey;
    font-size: 18px;
    line-height: 27px;    margin: 0px 0px 25px 0px;
}

%para18 {
	
	font-family: 'FiraSans-Regular';
	font-size: 	18px;
	line-height: 27px;color: $grey;    margin: 0px 0px 25px 0px;

}
%a_link {
    font-family: FiraSans-Regular;
    font-size: 18px;
    color: #006699;
}
%link {
	font-family: 'FiraSans-Regular';
	font-size: 	18px;
	line-height: 27px;
	color: 	$linkblue;
}
%btn {
    padding: 0px 10px;
    height: 42px;
    line-height: 42px;
    display: inline-block;
    font-size: 18px;
    font-family: 'FiraSans-Medium';
    border-radius: 0px;
}
