/*@import "../../default_asset/uni-scss/footer";*/
.hide-desk {
  display: none; }

.zindex {
  z-index: 1; }

.uni_campus_life {
  position: relative;
  padding-top: 0%;
  margin-bottom: 0;
  display: block;
  overflow: auto;
  overflow-x: hidden; }
  .uni_campus_life a:hover {
    cursor: pointer; }
  .uni_campus_life .stud-item li {
    float: left; }
  .uni_campus_life div#slider {
    position: relative;
    top: -32px; }
  .uni_campus_life .cm_link {
    font-family: 'Fira Sans', sans-serif;
    font-size: 18px;
    color: #006699;
    /*&:hover::before{
      background-image: url(../../default_asset/img/social/Sprite-icon.svg);
     
      transition: all ease 0.5s;
     
      // background-position:  -572px -24px;
      background-position:  -548px -24px;
    }*/
    float: right;
    position: relative;
    top: -34px; }
    .uni_campus_life .cm_link:before {
      content: '';
      background-image: url(../../default_asset/img/social/Sprite-icon.svg);
      background-repeat: no-repeat;
      width: 20px;
      height: 18px;
      float: right;
      background-position: -572px -24px;
      margin-top: 8px;
      margin-left: 10px; }
    .uni_campus_life .cm_link:hover {
      color: #004466;
      transition: all 0.3s ease;
      text-decoration: none; }
  .uni_campus_life h2 {
    font-family: Marcellus-Regular;
    color: #b7202e;
    font-size: 38px;
    margin-bottom: 0px;
    text-align: center; }
  .uni_campus_life p {
    font-family: 'Fira Sans', sans-serif;
    color: #58595b;
    font-size: 20px;
    text-align: center;
    margin-bottom: 20px; }
  .uni_campus_life .campover {
    z-index: 19;
    overflow: visible;
    position: relative; }
  .uni_campus_life .cam-link {
    border: #58595b;
    border: #58595b 1px solid;
    padding: 8px 35px;
    font-size: 18px;
    display: initial;
    font-family: FiraSans-Medium;
    color: #58595b; }
  .uni_campus_life ul.carousel-indicators.list-inline .active .thnum-box {
    background: #b7202e; }
  .uni_campus_life .thnum-wrap {
    display: table-cell;
    vertical-align: middle;
    font-family: FiraSans-Medium;
    color: #fff; }
  .uni_campus_life .thnum-box {
    background: #58595b;
    height: 90px;
    text-align: center;
    display: block;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: row; }
  .uni_campus_life .carousel-indicators li {
    flex: auto;
    background: transparent;
    padding: 0;
    margin: 10px 10px 10px 0; }
  .uni_campus_life .carousel-indicators .active {
    background: transparent; }
  .uni_campus_life .thnum-box:hover {
    background: #b7202e !important; }
  .uni_campus_life .ucam-wrap {
    padding: 20px 0; }
  .uni_campus_life .ucam-wrap {
    font-family: Marcellus-Regular;
    font-size: 38px; }
  .uni_campus_life .ucam-head {
    color: #b7202e;
    margin-bottom: 20px; }
  .uni_campus_life .ucam-wrap .ucam-head-small {
    font-size: 28px;
    display: block;
    line-height: 20px; }
  .uni_campus_life .ucam-wrap P {
    font-size: 18px;
    color: #58595b;
    text-align: left; }
  .uni_campus_life .uni_campus_life_bg {
    background: #e7e8e9;
    padding-bottom: 70px;
    padding-bottom: 34px;
    margin-top: 86px; }
  .uni_campus_life .ucam-wrapper {
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: row; }
  .uni_campus_life #myCarousel .list-inline {
    white-space: nowrap;
    overflow-x: auto; }
  .uni_campus_life ul.carousel-indicators.list-inline img {
    width: 200px; }
  .uni_campus_life #myCarousel .carousel-indicators {
    position: relative;
    left: initial;
    width: 100%;
    margin-left: initial;
    overflow: hidden;
    top: -54px; }
  .uni_campus_life #myCarousel .carousel-indicators > li {
    width: initial;
    height: initial;
    text-indent: initial; }
  .uni_campus_life #myCarousel .carousel-indicators > li.active img {
    opacity: 0.7; }
  .uni_campus_life .red-left {
    width: 19%;
    height: 257px;
    background-color: #ee1c24;
    left: 0;
    top: 0;
    float: none;
    position: absolute;
    z-index: -5;
    background: linear-gradient(to right, #ee1c24, #ee1c24); }
  .uni_campus_life .red-left-aft {
    content: "";
    position: absolute;
    width: 195px;
    height: 50%;
    background-color: #b7202e;
    left: 0;
    top: 0;
    z-index: 9; }
  .uni_campus_life .carousel-fade .carousel-item {
    opacity: 0;
    transition-duration: .6s;
    transition-property: opacity; }
  .uni_campus_life .carousel-fade .carousel-item.active,
  .uni_campus_life .carousel-fade .carousel-item-next.carousel-item-left,
  .uni_campus_life .carousel-fade .carousel-item-prev.carousel-item-right {
    opacity: 1; }
  .uni_campus_life ::-webkit-scrollbar {
    display: none !important;
    width: 0 !important; }
  .uni_campus_life .carousel-inner {
    overflow: visible; }
  .uni_campus_life img.img-fluid {
    position: relative;
    top: -38px; }
  .uni_campus_life .cm_link:before {
    background-color: transparent; }

.uni_events {
  position: relative;
  padding-bottom: 28px; }
  .uni_events .nav {
    float: left; }
  .uni_events .uniev_link {
    font-family: 'Fira Sans', sans-serif;
    font-size: 18px;
    color: #006699;
    /*&:hover::before{
      background-image: url(../../default_asset/img/social/Sprite-icon.svg);
     
      transition: all ease 0.5s;
     
      // background-position:  -572px -24px;
      background-position:  -548px -24px;
    }*/
    float: right;
    position: relative;
    top: 18px; }
    .uni_events .uniev_link:before {
      content: '';
      background-image: url(../../default_asset/img/social/Sprite-icon.svg);
      background-repeat: no-repeat;
      width: 20px;
      height: 18px;
      float: right;
      background-position: -572px -24px;
      margin-top: 8px;
      margin-left: 10px; }
    .uni_events .uniev_link:hover {
      color: #004466;
      transition: all 0.3s ease;
      text-decoration: none; }
  .uni_events .aniwrap:nth-child(1) .uni_acontent, .uni_events .aniwrap:nth-child(4) .uni_acontent {
    position: relative;
    background: #e7e8e9; }
  .uni_events .aniwrap:nth-child(2) .uni_acontent, .uni_events .aniwrap:nth-child(3) .uni_acontent {
    position: relative;
    background: #fff; }
  .uni_events .aniwrap:nth-child(2) .uni_aimg_wrap, .uni_events .aniwrap:nth-child(3) .uni_aimg_wrap {
    box-shadow: 3px 0px 6px rgba(105, 97, 97, 0.1), 0 3px 6px rgba(0, 0, 0, 0.1); }
  .uni_events .uni_aimg_wrap a, .uni_events .uni-announcemnt a {
    float: left;
    width: 100%; }
  .uni_events .uni_aimg_wrap a:hover .evlink, .uni_events .evlink:hover {
    text-decoration: underline;
    color: #004466; }
  .uni_events .evlink {
    font-family: 'Fira Sans', sans-serif;
    font-size: 18px;
    color: #000; }
  .uni_events .dates {
    position: absolute;
    left: 20px;
    top: 15px;
    font-family: FiraSans-Bold;
    width: 50px;
    height: 50px;
    padding: 6px 0px 6px 0px;
    background-color: #b7202e;
    color: #fff;
    box-shadow: 0px 2px 5px 0px #00000094; }
  .uni_events .dates span.number {
    font-size: 21px;
    width: 100%;
    float: left;
    line-height: 20px;
    text-align: center; }
  .uni_events .dates span.text {
    font-size: 13px;
    width: 100%;
    float: left;
    text-align: center; }
  .uni_events .uni-announcemnt img {
    width: 100%;
    height: 640px;
    object-fit: cover;
    transition: all ease 1s; }
  .uni_events .uni_acontent .clg {
    font-family: FiraSans-Bold;
    color: #b7202e;
    padding-bottom: 4px;
    font-size: 18px; }
  .uni_events .uni_acontent a, .uni_events .uni_aimg_wrap a, .uni_events .uni-announcemnt a {
    font-family: RobotoSlab-Bold;
    color: #57585b;
    font-size: 16px;
    border-bottom: 3px solid transparent; }
  .uni_events .uni_acontent a:hover, .uni_events .uni_aimg_wrap a:hover, .uni_events .uni-announcemnt a:hover {
    border-bottom: 3px solid #b7202e;
    cursor: pointer; }
  .uni_events .uni_acontent {
    height: 114px;
    position: relative;
    bottom: 0px;
    width: 100%;
    display: block;
    float: left;
    color: #fff;
    color: #333;
    z-index: 9;
    padding: 16px 20px; }
  .uni_events .uni-announcemnt {
    overflow: hidden;
    width: 100%;
    float: left;
    display: block;
    /*box-shadow: 3px 0px 6px rgba(105,97,97,0.1), 0 3px 6px rgba(0,0,0,0.1);*/
    position: relative; }
  .uni_events .uni-announcemnt .evlink {
    font-size: 22px;
    line-height: 22px;
    padding-top: 5px; }
  .uni_events .uni-announcemnt .uni_acontent {
    position: absolute;
    height: 114px;
    bottom: 0px;
    width: 100%;
    display: block;
    float: left;
    color: #fff;
    color: #333;
    z-index: 9;
    padding: 16px 20px;
    background: #e7e8e9; }
  .uni_events .uni-announcemnt .uni_acontent a {
    color: #fff; }
  .uni_events .uni_aimg_wrap {
    overflow: hidden;
    width: 100%;
    float: left;
    position: relative;
    transition: all ease 1s;
    /*box-shadow: 3px 0px 6px rgba(105,97,97,0.1), 0 3px 6px rgba(0,0,0,0.1);*/
    margin-bottom: 30px; }
  .uni_events .uni_aimg_wrap img {
    height: 190px;
    width: 100%;
    object-fit: cover;
    transition: all ease 1s; }
  .uni_events .nav-item a.active {
    color: #b7202e;
    opacity: inherit;
    text-decoration: underline; }
  .uni_events .nav-item a {
    font-size: 38px;
    font-family: Marcellus-Regular;
    color: #58595b;
    padding-right: 20px; }
  .uni_events .nav-tabs li {
    position: relative;
    margin-bottom: 20px; }
  .uni_events .nav-tabs li:nth-child(1):after {
    position: absolute;
    left: 100%;
    top: 35%;
    bottom: 30%;
    content: "";
    background: #ddd;
    color: #ddd;
    height: 23px;
    width: 1px; }
  .uni_events .nav-tabs .ml {
    margin-left: 20px; }
  .uni_events .container {
    background: #fff; }
  .uni_events .red-left {
    width: 19%;
    height: 268px;
    background-color: #ee1c24;
    left: auto;
    right: 0;
    top: auto;
    bottom: 0;
    float: none;
    position: absolute;
    z-index: 1;
    background: linear-gradient(to right, #ee1c24, #ee1c24); }
  .uni_events .red-left-aft {
    content: "";
    position: absolute;
    width: 195px;
    height: 46.8%;
    background-color: #b7202e;
    right: 0;
    top: auto;
    z-index: 9;
    bottom: 0; }
  .uni_events .tab-content {
    z-index: 19;
    overflow: visible;
    position: relative; }

.uniinitaive_link {
  margin-top: 0px; }
  .uniinitaive_link .ulinlink {
    font-family: 'Fira Sans', sans-serif;
    font-size: 18px;
    color: #006699;
    /*&:hover::before{
      background-image: url(../../default_asset/img/social/Sprite-icon.svg);
     
      transition: all ease 0.5s;
     
      // background-position:  -572px -24px;
      background-position:  -548px -24px;
    }*/
    text-decoration: underline;
    font-size: 17px;
    text-decoration: underline;
    display: inline-block; }
    .uniinitaive_link .ulinlink:before {
      content: '';
      background-image: url(../../default_asset/img/social/Sprite-icon.svg);
      background-repeat: no-repeat;
      width: 20px;
      height: 18px;
      float: right;
      background-position: -572px -24px;
      margin-top: 8px;
      margin-left: 10px; }
    .uniinitaive_link .ulinlink:hover {
      color: #004466;
      transition: all 0.3s ease;
      text-decoration: none; }
  .uniinitaive_link .ulinlink:hover {
    text-decoration: none; }
  .uniinitaive_link h2 {
    font-family: Marcellus-Regular;
    color: #b7202e;
    font-size: 38px;
    margin-bottom: 25px;
    text-align: center; }
  .uniinitaive_link p {
    font-family: 'Fira Sans', sans-serif;
    color: #58595b;
    font-size: 20px;
    text-align: center;
    margin-bottom: 40px; }
  .uniinitaive_link .simt {
    margin-top: 30px; }
  .uniinitaive_link .ulinlink:after {
    content: '';
    height: 0; }

section.uni_accredation.backpatch_right:before, section.uni_accredation.backpatch_right:after {
  height: 70%; }

.uni_accredation {
  margin-top: 0px;
  position: relative; }
  .uni_accredation p.uni_bp {
    font-size: 28px;
    font-family: 'Fira Sans', sans-serif;
    color: #58595b;
    margin-bottom: 20px;
    line-height: 42px; }
  .uni_accredation .uni_smp {
    font-size: 20px;
    margin-bottom: 20px; }
  .uni_accredation .accrewrap p, .uni_accredation .regnised-wrap p {
    color: #fff; }
  .uni_accredation .level-accredition {
    color: #fff;
    margin-top: 30px; }
  .uni_accredation .accrewrap {
    padding: 70px 40px;
    position: relative;
    margin-left: 10%; }
  .uni_accredation .regnised-wrap {
    padding: 70px 40px;
    position: relative;
    margin-right: 10%; }
  .uni_accredation .regnisedbg {
    background: #58595b; }
  .uni_accredation .accbg {
    background: #68696b; }
  .uni_accredation .acc_head {
    font-size: 38px;
    font-family: Marcellus-Regular;
    margin-bottom: 32px; }
  .uni_accredation .category_accredation {
    margin-top: 60px; }
  .uni_accredation .category_accredation .acc_head {
    color: #b7202e;
    line-height: 48px; }
  .uni_accredation .category_accredation li a {
    font-family: 'Fira Sans', sans-serif;
    font-size: 18px;
    color: #006699;
    text-decoration: underline; }
  .uni_accredation .category_accredation li a:hover {
    text-decoration: none;
    color: #58595b; }
  .uni_accredation .category_accredation li {
    font-family: 'Fira Sans', sans-serif;
    font-size: 18px;
    margin-bottom: 20px;
    line-height: 27px;
    color: #006699;
    list-style-type: disc; }
  .uni_accredation .certified-head {
    font-family: 'Fira Sans', sans-serif;
    font-size: 28px;
    color: #58595b;
    margin-top: -31px;
    margin-bottom: 10px; }
  .uni_accredation .uni_loc {
    color: #58595b;
    display: block; }
  .uni_accredation .category_accredation ul {
    padding: 0 35px; }
  .uni_accredation hr {
    margin-top: 30px;
    margin-bottom: 30px; }
  .uni_accredation .unititle {
    text-align: center;
    font-size: 48px;
    font-family: Marcellus-Regular;
    color: #b7202e;
    margin-bottom: 50px;
    margin-top: 50px; }
  .uni_accredation .banner-red-left {
    content: "";
    position: absolute;
    width: 20%;
    height: 100%;
    background-color: #b7202e;
    right: 0;
    top: 0; }
  .uni_accredation .banner-red-lef-alt {
    content: "";
    position: absolute;
    width: 65.6px;
    height: 100%;
    background: #ee1c24;
    right: 20%;
    z-index: 0;
    top: 0; }
  .uni_accredation .aboutinfo-row {
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: row; }

@media only screen and (max-width: 1024px) {
  .uni_campus_life p {
    margin-bottom: 0; }

  .uni_campus_life .ucam-head {
    margin-bottom: 0px; }

  .uni_events .red-left {
    width: 24%; }

  .uni_events .uni-announcemnt .evlink {
    font-size: 18px; }

  .uni_campus_life .ucam-wrap .ucam-head-small {
    font-size: 24px;
    display: inline-block; }

  .uni_campus_life .ucam-wrap {
    font-size: 24px; }

  .uni_campus_life h2, .uniinitaive_link h2, .uni_events .nav-item a {
    font-size: 30px; }

  .uni_campus_life .ucam-wrap P {
    font-size: 16px;
    margin-bottom: 12px; }

  .uni_campus_life .cam-link {
    padding: 8px 15px; } }
@media only screen and (max-width: 991px) {
  .uni_campus_life .red-left-aft {
    width: 55px; }

  .uni_events .uni-announcemnt .evlink {
    font-size: 18px; }

  .uni_campus_life p {
    font-size: 18px; } }
@media only screen and (max-width: 959px) {
  .uniinitaive_link .ulinlink {
    margin-bottom: 20px;
    display: block; } }
@media only screen and (max-width: 769px) {
  .uni_campus_life .ucam-wrap .ucam-head-small {
    font-size: 22px; }

  .uni_campus_life #myCarousel .carousel-indicators {
    display: none; }

  .uni_campus_life .ucam-wrap .ucam-head-small {
    display: inline-block; }

  .uni_campus_life .ucam-head {
    font-size: 22px; }

  .uni_events .nav-tabs li:nth-child(1):after {
    top: 30%; }

  .uni_events .nav-item a {
    font-size: 26px;
    padding-right: 17px; }

  .ucam-wrap p {
    display: block; }

  .uni_campus_life .ucam-wrap {
    padding: 0; }

  .uni_campus_life .red-left {
    width: 24%; }

  .more-campus {
    width: auto;
    position: relative;
    text-align: center;
    display: block;
    margin: 0 auto; }

  .uni_campus_life .cm_link {
    top: -23px; }

  .uni_campus_life img.img-fluid {
    top: -15px; }

  .uni_campus_life .uni_campus_life_bg {
    margin-bottom: 50px;
    padding-bottom: 0; }

  .uniinitaive_link p {
    display: none; }

  .uni_events .uni_acontent {
    padding: 16px 12px; } }
@media (min-width: 320px) and (max-width: 767px) {
  /*    .uni_events .aniwrap:nth-child(2) .uni_aimg_wrap img{display:none;}
  .uni_events .aniwrap:nth-child(3) .uni_aimg_wrap img{display:none;}
  .uni_events .aniwrap:nth-child(1) .uni_aimg_wrap img{display:none;}
  .uni_events .aniwrap:nth-child(4) .uni_aimg_wrap img{display:none;}*/
  /*.uni_events .aniwrap:nth-child(1) .uni_acontent, .uni_events .aniwrap:nth-child(4) .uni_acontent {
      position: relative;
      background: #fff;
      box-shadow: 3px 0px 6px rgba(105, 97, 97, 0.1), 0 3px 6px rgba(0, 0, 0, 0.1);
  }*/
  /*.uni_events .aniwrap:nth-child(1) .uni_aimg_wrap, .uni_events .aniwrap:nth-child(3) .uni_aimg_wrap {
      box-shadow: 3px 0px 6px rgba(105, 97, 97, 0.1), 0 3px 6px rgba(0, 0, 0, 0.1);
  }*/
  section.uni_accredation.backpatch_right:before, section.uni_accredation.backpatch_right:after {
    height: 40%; }

  section.uni_accredation.backpatch_right:before {
    right: auto; }

  section.uni_accredation.backpatch_right:after {
    left: 20%; }

  section.uni_accredation .zindex img {
    padding-left: 10px; }

  .uni_campus_life .carousel-inner {
    overflow: hidden; }

  .uni_campus_life .campover {
    overflow: hidden;
    position: relative; }

  .uniinitaive_link br {
    display: none; }

  .uni_campus_life div#slider {
    position: relative;
    top: -35px; }

  .uni_campus_life .ucam-wrap {
    padding: 0;
    height: 200px; }

  .uniinitaive_link {
    margin-top: 0px;
    margin-bottom: 0; }

  .uni_campus_life {
    margin-bottom: -30px; }

  .aniwrap.col-md-6 {
    display: none; }

  .uni_campus_life .red-left-aft {
    width: 55px;
    height: 40%; }

  .uni_events {
    padding-bottom: 0; }

  .uni_campus_life h2, .uniinitaive_link h2 {
    font-size: 24px; }

  .uni_campus_life h2 {
    margin-top: 20px;
    margin-bottom: -16px; }

  .uni_campus_life h2 {
    font-size: 24px; }

  .uni_events .uni_aimg_wrap:nth-child(1) .uni_acontent, .uni_events .uni_aimg_wrap:nth-child(4) .uni_acontent,
  .uni_events .uni_aimg_wrap:nth-child(4) .uni_acontent {
    display: none; }

  .hide-desk {
    display: block; }

  .uni_events .nav-item a {
    font-size: 26px; }

  .uni_events .uni-announcemnt img {
    height: 300px; }

  .uni_accredation .accrewrap {
    padding: 25px 10px 30px;
    margin-left: 0; }

  .uni_accredation .regnised-wrap {
    padding: 25px 10px 30px;
    margin-right: 0; }

  .uni_accredation .acc_head, .uni_accredation .unititle {
    font-size: 28px;
    line-height: 45px; }

  .uni_accredation .acc_head {
    margin-bottom: 13px; }

  .uni_accredation .accbg {
    margin-bottom: 30px; }

  .uni_accredation .abutcontainer {
    background: #fff;
    z-index: 1;
    position: relative;
    background: #fff;
    margin: 40px 0 0; }

  .uni_accredation p.uni_bp {
    font-size: 18px;
    line-height: 27px;
    font-family: 'Fira Sans', sans-serif;
    margin-top: 20px; }

  .uni_accredation .uni_smp {
    font-size: 16px;
    margin-bottom: 20px;
    line-height: 24px; }

  .uni_accredation .category_accredation {
    margin-top: 30px; }

  .uni_accredation .certified-head {
    margin-top: -18px;
    margin-bottom: 13px;
    font-size: 24px; }

  .uni_accredation .category_accredation ul {
    padding: 0 5px 0 15px; }

  .uni_accredation .unititle {
    margin-bottom: 23px;
    line-height: 33px;
    margin-top: 15px; } }
@media only screen and (max-width: 860px) {
  .uni_events .evlink {
    font-size: 15px; } }
@media screen and (max-width: 1024px) {
  section.uni_accredation.backpatch_right {
    padding: 0 0 20px 0; } }
@media (min-width: 768px) and (max-width: 860px) {
  .uni_events .uni_aimg_wrap img {
    height: 120px; }

  .uni_events .uni-announcemnt img {
    height: 500px; }

  .uni_accredation .unititle {
    font-size: 34px;
    line-height: 50px; }

  .uni_accredation .accrewrap {
    padding: 30px 20px;
    margin-left: 2%; }

  .uni_accredation .regnised-wrap {
    padding: 30px 20px;
    margin-right: 2%; }

  .uni_accredation .category_accredation .acc_head {
    line-height: 37px;
    font-size: 34px; } }
@media (min-width: 860px) and (max-width: 1024px) {
  .uni_campus_life {
    margin-bottom: -62px; }

  .uni_footer .container {
    background: transparent;
    padding-left: 26px; }

  .uni_campus_life div#slider {
    top: -70px; }

  .uni_campus_life .carousel-inner {
    overflow: hidden; } }
.content-High, .content-Medium, .content-Low {
  color: #fff;
  background: #FFCB05; }

.notice-msg {
  display: block;
  z-index: 999;
  float: right;
  padding-top: 10px;
  border: 0;
  font-family: 'FiraSans-Medium';
  color: #fff;
  margin-top: 0px;
  position: relative;
  cursor: pointer; }

.emer_p {
  padding-bottom: 18px; }

.fruit p {
  position: relative; }

.fruit p:before {
  content: "\f071";
  background-repeat: no-repeat;
  /* width: 20px; */
  font-family: fontawesome;
  height: 18px;
  float: left;
  /* background-position: -572px -24px; */
  margin-top: 7px;
  /* margin-left: -19px; */
  left: -30px;
  position: absolute;
  font-size: 25px; }

.fruit p {
  padding-top: 20px; }

@media (min-width: 320px) and (max-width: 860px) {
  .fruit p {
    padding-top: 20px;
    font-size: 16px;
    padding-left: 0px; }

  .fruit p:before {
    content: ""; }

  .notice-msg {
    margin-top: -4px; } }

/*# sourceMappingURL=style.css.map */
