@import url(/assets/campaign_page/css/bootstrap.min.css);
@import url(/assets/campaign_page/css/font-awesome.min.css);
@import url(/assets/default_asset/uni-css/slick.css);
@import url(/assets/default_asset/uni-css/animate.min.css);
@font-face {
  font-family: FiraSans-Bold;
  src: url(../fonts/Fira-sans-paragraph/FiraSans-Bold.ttf); }
@font-face {
  font-family: FiraSans-Light;
  src: url(../fonts/Fira-sans-paragraph/FiraSans-Light.ttf); }
@font-face {
  font-family: FiraSans-Thin;
  src: url(../fonts/Fira-sans-paragraph/FiraSans-Thin.ttf); }
@font-face {
  font-family: FiraSans-SemiBold;
  src: url(../fonts/Fira-sans-paragraph/FiraSans-SemiBold.ttf); }
@font-face {
  font-family: FiraSans-Medium;
  src: url(../fonts/Fira-sans-paragraph/FiraSans-Medium.ttf); }
@font-face {
  font-family: Marcellus-Regular;
  src: url(../fonts/Marcellus/Marcellus-Regular.ttf); }
.herotitle {
  font-size: 38px;
  line-height: 57px;
  color: #b7202e;
  font-family: Marcellus-Regular; }

.hvr-right {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  position: relative;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s; }

.hvr-right:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #b7202e;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transform-origin: 0 50%;
  transform-origin: 0 50%;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out; }

.hvr-right:hover:before,
.hvr-right:focus:before,
.hvr-right:active:before {
  -webkit-transform: scaleX(1);
  transform: scaleX(1); }

.simple-link {
  width: auto;
  display: inline-block;
  font-family: "Fira Sans", sans-serif;
  font-size: 18px;
  color: #006699;
  text-decoration: underline;
  font-weight: 400;
  margin-top: 15px; }
  .simple-link i {
    padding-left: 15px; }
  .simple-link:before {
    content: "";
    background-image: url(../../default_asset/img/social/Sprite-icon.svg);
    background-repeat: no-repeat;
    width: 20px;
    height: 18px;
    float: right;
    background-position: -572px -24px;
    margin-top: 8px;
    margin-left: 10px; }
  .simple-link:hover {
    color: #004466;
    transition: all 0.3s ease;
    text-decoration: none; }

.herotitle {
  margin-bottom: 30px; }

.navbar-toggler:focus {
  outline: none;
  border: none; }

body,
html {
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
  border: 0;
  outline: none; }

* {
  outline: none; }

nav.navbar {
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
  margin: 0 !important;
  padding: 15px 0 15px 0 !important;
  float: left;
  width: 100%; }
  nav.navbar .navbar-toggler {
    z-index: 999; }
  nav.navbar button.navbar-toggler:after {
    content: "\f0c9";
    font-family: fontAwesome;
    color: #b7202e; }
  nav.navbar ul.navbar-nav a.nav-link {
    color: #58595b !important;
    font-family: FiraSans-Medium;
    font-size: 16px;
    line-height: 18px; }
    nav.navbar ul.navbar-nav a.nav-link:hover {
      color: #b7202e;
      text-decoration: underline; }
  nav.navbar ul.navbar-nav li.nav-item a.nav-link .icons {
    margin: 0 10px 0 0;
    position: relative; }
  nav.navbar ul.navbar-nav li.nav-item a.nav-link:hover span {
    color: #b7202e;
    text-decoration: underline; }
  nav.navbar ul.navbar-nav a.btn.btn-primary {
    background: #b7202e !important;
    border: none;
    outline: none;
    border-radius: 0;
    font-size: 16px;
    padding: 10px; }
    nav.navbar ul.navbar-nav a.btn.btn-primary:hover, nav.navbar ul.navbar-nav a.btn.btn-primary:focus {
      border: none;
      outline: none;
      box-shadow: none; }

.w_100,
.full-width {
  width: 100%;
  float: left; }

.backpatch_left {
  position: relative;
  padding: 0 0 70px 0; }

.itcamp-slider .university-slider .carousel-caption {
  width: 35%; }

.form_div {
  padding: 30px 20px;
  width: 100%;
  float: left;
  box-shadow: 0 11px 20px 0 rgba(0, 0, 0, 0.16);
  margin-top: -70px;
  background-color: #fff; }
  .form_div p {
    font-weight: 400;
    color: #000;
    font-family: "Fira Sans", sans-serif;
    margin-bottom: 15px; }
  .form_div .title {
    font-family: Marcellus-Regular;
    color: #b7202e;
    font-size: 34px;
    line-height: 42px; }
  .form_div .form-group input,
  .form_div .form-group select,
  .form_div .form-group textarea {
    border: solid 1px #58595b52;
    color: #000;
    font-size: 16px;
    height: 40px;
    line-height: 40px;
    padding: 0 15px;
    font-family: "Fira Sans", sans-serif;
    border-radius: 0;
    background: transparent; }
    .form_div .form-group input:focus,
    .form_div .form-group select:focus,
    .form_div .form-group textarea:focus {
      box-shadow: none; }
  .form_div .form-group textarea {
    width: 100%;
    float: left;
    resize: none;
    border-radius: 0;
    height: 70px; }
    .form_div .form-group textarea:focus {
      box-shadow: none;
      border-radius: 0;
      outline: none; }
  .form_div .custom-checkbox {
    padding: 0; }
    .form_div .custom-checkbox input {
      width: initial;
      margin-bottom: 0;
      display: none;
      cursor: pointer; }
      .form_div .custom-checkbox input:checked + label:after {
        content: "";
        display: block;
        position: absolute;
        top: 3px;
        left: 7px;
        width: 6px;
        height: 10px;
        border: solid #b7202e;
        border-width: 0 2px 2px 0;
        transform: rotate(45deg); }
    .form_div .custom-checkbox label {
      color: #58595b;
      font-size: 14px;
      line-height: 24px;
      position: relative;
      padding: 0px 0px 0px 30px;
      font-family: "Fira Sans", sans-serif; }
      .form_div .custom-checkbox label:before {
        content: "";
        -webkit-appearance: none;
        background-color: transparent;
        border: 2px solid #b7202e;
        box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05);
        padding: 8px;
        display: inline-block;
        position: relative;
        vertical-align: middle;
        cursor: pointer;
        margin-right: 5px;
        position: absolute;
        left: 0px; }
  .form_div .btn {
    padding: 0 20px;
    height: 42px;
    line-height: 42px;
    display: inline-block;
    font-size: 18px;
    font-family: FiraSans-Medium;
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border: none;
    background-color: #58595b;
    color: #fff; }

.error {
  font-size: 12px !important;
  color: #ed1c24 !important;
  font-family: "Fira Sans", sans-serif; }

.modal-body {
  text-align: center;
  padding: 30px 30px; }
  .modal-body p.title {
    font-family: Marcellus-Regular;
    font-size: 28px;
    color: #b7202e;
    margin: 0px 0px 15px 0px; }
  .modal-body p.para {
    font-family: FiraSans-Regular;
    font-size: 18px;
    line-height: 25px;
    color: #58595b;
    margin: 0px 0px 5px 0px; }

.subheading {
  font-family: FiraSans-Medium;
  color: #000;
  font-size: 24px;
  line-height: 36px;
  margin-bottom: 20px; }

.blue-link {
  color: #006699;
  font-family: "Fira Sans", sans-serif;
  font-family: FiraSans-Medium;
  font-weight: 400;
  text-decoration: underline; }
  .blue-link:hover {
    text-decoration: none;
    color: #004466;
    cursor: pointer; }

p {
  font-size: 18px;
  line-height: 30px;
  color: #000;
  font-family: "Fira Sans", sans-serif;
  font-weight: 300;
  margin: 0; }

.margin0 {
  margin: 0 !important; }

.padding0 {
  padding: 0 !important; }

.italic {
  font-style: italic; }

.herotitle {
  margin-bottom: 30px; }

.herotitle.black {
  color: #000; }

.width-50 {
  width: 50%;
  float: left; }

.simple-list {
  padding-left: 15px; }
  .simple-list li {
    margin-bottom: 15px; }
    .simple-list li a {
      font-size: 18px;
      line-height: 27px; }

.about-it {
  margin-bottom: 20px; }
  .about-it .about-leftcont {
    margin: 8% 0 5% 12%;
    width: 85%; }
  .about-it .blue-link {
    font-family: "Fira Sans", sans-serif; }
  .about-it .herotitle {
    font-size: 30px; }
  .about-it p {
    margin-bottom: 20px; }
  .about-it .abt-highlights {
    background: #fff;
    box-shadow: 0 3px 20px 0 rgba(0, 0, 0, 0.16);
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 46%;
    margin-right: 4%;
    height: 110px;
    margin-top: 30px; }
    .about-it .abt-highlights .imgwrap {
      width: 20%;
      float: left; }
    .about-it .abt-highlights .contentwrap {
      padding-left: 20px; }
    .about-it .abt-highlights p {
      font-size: 16px;
      line-height: 24px;
      color: #000;
      font-family: "FiraSans-Medium";
      margin-bottom: 0; }
  .about-it .awards-lightintro {
    display: flex;
    justify-content: center; }

.prgm-admns {
  margin: 40px 0 40px 0; }
  .prgm-admns .subtext {
    font-family: FiraSans-Medium;
    font-size: 16px;
    color: #58595b;
    margin-left: 10px; }
  .prgm-admns .prgm-card {
    box-shadow: 0 3px 20px 0 rgba(0, 0, 0, 0.16);
    background-color: #fff;
    text-align: left;
    margin-bottom: 30px; }
    .prgm-admns .prgm-card .blue-link {
      font-size: 18px; }
    .prgm-admns .prgm-card img {
      width: 100%; }
    .prgm-admns .prgm-card .card0-cont {
      padding: 30px; }
  .prgm-admns .related-card {
    box-shadow: none; }
  .prgm-admns .relatedcont .subheading {
    margin-bottom: 15px; }
  .prgm-admns .related-list {
    padding-left: 0; }
    .prgm-admns .related-list li {
      padding-bottom: 10px;
      list-style-type: none; }
      .prgm-admns .related-list li a {
        border-bottom: 1px solid #ddd;
        font-family: "Fira Sans", sans-serif;
        font-size: 18px;
        font-weight: 500;
        color: #006699;
        text-decoration: none;
        width: 100%; }
        .prgm-admns .related-list li a:after {
          content: "";
          display: block;
          width: 0;
          height: 1px;
          background: #004466;
          transition: width 0.3s;
          margin-left: 0; }
        .prgm-admns .related-list li a:hover:after {
          width: 100%; }

.gearsbox {
  position: relative;
  width: 100%;
  float: right;
  height: 225px;
  text-align: right;
  top: 30px; }
  .gearsbox img {
    padding-right: 70px; }

.linesbox {
  position: relative;
  width: 50%;
  float: left;
  margin-top: -280px; }
  .linesbox img {
    margin-top: 40px; }

.greycolorwrapper {
  position: relative; }
  .greycolorwrapper:after {
    position: absolute;
    width: 70%;
    right: auto;
    left: 0;
    height: 100%;
    content: "";
    z-index: -1;
    top: 0;
    background: #f5f6f6;
    margin-top: -200px;
    margin-top: -305px; }

.comps-colorwrapper {
  position: relative;
  padding: 50px 0;
  margin: 0 0 70px 0; }
  .comps-colorwrapper:after {
    position: absolute;
    width: 90%;
    right: 0;
    left: auto;
    height: 100%;
    content: "";
    z-index: -1;
    top: 0;
    box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.16); }

.recruitersbox .companys-list li {
  width: calc(100% / 6);
  float: left;
  margin: 0 0 40px 0;
  list-style-type: none; }
.recruitersbox .companys-list li.fullwidth {
  width: 100%;
  margin: 0; }

.lifesmbox {
  margin: 0 0 70px 0; }
  .lifesmbox .cdwrap {
    position: relative; }
    .lifesmbox .cdwrap:hover {
      box-shadow: 0 3px 20px 0 rgba(0, 0, 0, 0.16); }
      .lifesmbox .cdwrap:hover .overlay {
        opacity: 1; }
  .lifesmbox .image {
    display: block;
    width: 100%;
    height: auto; }
  .lifesmbox .overlay {
    position: absolute;
    bottom: 0;
    background: #fff;
    color: #b7202e;
    width: 100%;
    transition: 0.5s ease;
    opacity: 0;
    font-size: 20px;
    padding: 10px;
    text-align: center;
    font-family: FiraSans-Medium; }

.why-it {
  margin: 0 0 70px 0;
  float: left;
  width: 100%; }
  .why-it .bldgimg {
    position: absolute;
    z-index: 4;
    box-shadow: 0 3px 20px 0 rgba(0, 0, 0, 0.16); }
  .why-it .features {
    padding-left: 0; }
    .why-it .features li {
      list-style-type: none;
      font-size: 20px;
      font-family: "Fira Sans", sans-serif;
      color: #000;
      font-weight: 300;
      margin-bottom: 15px;
      padding-left: 40px; }
      .why-it .features li:before {
        content: "";
        background-image: url(/assets/campaign_page/img/Kjsieit-Campaign/list-icon.svg);
        background-repeat: no-repeat;
        width: 30px;
        height: 20px;
        position: absolute;
        margin-left: -40px;
        margin-top: 7px;
        margin-right: 10px; }

.mbot20 {
  margin-bottom: 20px !important; }

.padleft0 {
  padding-left: 0 !important; }

.backpatch-right {
  position: relative;
  padding: 70px 0 0 0; }

.backpatch-right:before {
  content: "";
  position: absolute;
  width: 20%;
  right: 0;
  top: 0;
  background-color: #b7202e;
  height: 90%;
  z-index: 0; }

.backpatch-right:after {
  content: "";
  position: absolute;
  width: 5%;
  right: 15%;
  top: 0;
  background-color: #ed1c24;
  height: 90%;
  z-index: 1; }

.backpatch_left {
  position: relative;
  padding: 0 0 70px 0; }
  .backpatch_left:before {
    content: "";
    position: absolute;
    width: 20%;
    left: 0;
    top: 0;
    background-color: #b7202e;
    height: 100%;
    z-index: 0; }
  .backpatch_left::after {
    content: "";
    position: absolute;
    width: 5%;
    left: 20%;
    top: 0;
    background-color: #ed1c24;
    height: 100%; }

footer {
  float: left;
  width: 100%;
  margin-top: 70px; }
  footer .container {
    background-color: #fff;
    position: relative;
    z-index: 4;
    padding: 50px 30px; }
  footer .ft-heading {
    font-size: 16px;
    line-height: 18px;
    color: #b7202e;
    text-transform: uppercase;
    margin-bottom: 20px; }
  footer .qkwrapper {
    padding-left: 50px; }
  footer .quick-list {
    padding-left: 0; }
    footer .quick-list li {
      list-style-type: none; }
      footer .quick-list li a {
        font-size: 16px;
        color: #58595b;
        font-family: FiraSans-Medium;
        line-height: 24px;
        text-decoration: underline; }
        footer .quick-list li a:hover {
          color: #b7202e; }
  footer .contdetls-list {
    padding-left: 0; }
    footer .contdetls-list li {
      list-style-type: none;
      font-size: 15px;
      font-family: FiraSans-Medium;
      color: #58595b;
      line-height: 18px;
      margin-bottom: 10px;
      width: auto;
      float: left; }
      footer .contdetls-list li:before {
        content: "";
        background-image: url(/assets/campaign_page/img/phone.svg);
        width: 30px;
        height: 20px;
        position: relative;
        float: left;
        background-repeat: no-repeat; }
      footer .contdetls-list li.email {
        text-decoration: underline; }
        footer .contdetls-list li.email::before {
          background-image: url(/assets/campaign_page/img/mail.svg); }
      footer .contdetls-list li span {
        width: 100%;
        width: calc(100% - 30px);
        float: right;
        margin-bottom: 15px; }
  footer ul.social {
    width: 100%;
    float: left;
    margin-top: 30px;
    padding-left: 0; }
    footer ul.social li {
      display: inline-block;
      padding: 0px 15px 0px 0px;
      width: auto;
      float: left; }
      footer ul.social li a {
        display: block;
        width: 38px;
        height: 35px;
        margin-right: 10px;
        position: relative; }
        footer ul.social li a .icons {
          margin-right: 5px; }
        footer ul.social li a:after {
          content: "";
          background-image: url(/assets/default_asset/img/social/Sprite-icon.svg);
          width: 35px;
          height: 35px;
          position: absolute;
          background-repeat: no-repeat; }
        footer ul.social li a.facebook:after {
          background-position: -108px -14px;
          margin-left: 12px; }
        footer ul.social li a.twitter:after {
          background-position: -194px -14px;
          width: 40px; }
        footer ul.social li a.insta:after {
          background-position: -314px -13px; }
        footer ul.social li a.youtube:after {
          background-position: -422px -14px;
          width: 40px; }
        footer ul.social li a.linkedin:after {
          background-position: -108px -60px;
          margin-top: -5px; }
        footer ul.social li a:hover.facebook:after {
          background-position: -144px -14px; }
        footer ul.social li a:hover.twitter:after {
          background-position: -245px -14px; }
        footer ul.social li a:hover.insta:after {
          background-position: -358px -14px; }
        footer ul.social li a:hover.youtube:after {
          background-position: -475px -15px; }
        footer ul.social li a:hover.linkedin:after {
          background-position: -148px -60px; }

@media screen and (max-width: 1024px) {
  .herotitle,
  .form_div .title {
    font-size: 34px;
    line-height: 48px; }

  .subheading {
    font-size: 22px;
    line-height: 30px; }

  .comps-colorwrapper:after {
    width: 94%; }

  .about-it .abt-highlights {
    height: 140px; }

  .gearsbox {
    top: 40px; }
    .gearsbox img {
      padding-right: 5px; }

  .recruitersbox .companys-list li {
    width: calc(100% / 4); }

  .why-it {
    margin: 0; }
    .why-it .features li {
      font-size: 18px;
      line-height: 27px;
      margin-bottom: 10px; }
    .why-it .bldgimg {
      position: relative; }

  .backpatch-right::before, .backpatch-right:after {
    height: 65%; }

  .prgm-admns {
    margin: 70px 0 40px 0; }

  .linesbox img {
    margin-top: 80px;
    width: 100%; } }
@media screen and (max-width: 991px) {
  .container {
    max-width: 90%; }

  .navbar-brand img {
    width: 100%; }

  .about-it .abt-highlights {
    width: 100%; }
    .about-it .abt-highlights .imgwrap {
      width: 10%; }

  .navbar .navbar-nav {
    display: block !important; }
    .navbar .navbar-nav .nav-item {
      width: 100%; }
      .navbar .navbar-nav .nav-item:last-child {
        display: none; } }
@media screen and (max-width: 800px) {
  .container {
    max-width: 95%; }

  .about-it .awards-lightintro {
    display: block; }

  .itcamp-slider .university-slider .carousel-caption {
    width: 95%;
    box-shadow: 0 3px 20px 0 rgba(0, 0, 0, 0.16);
    height: 200px;
    height: 145px; }

  .herotitle {
    text-align: center; }

  .herotitle,
  .form_div .title {
    font-size: 30px;
    line-height: 44px; }

  .subheading {
    font-size: 20px;
    line-height: 30px; }

  .form_div {
    margin: 0 auto;
    float: none;
    margin-top: 180px;
    margin-top: 145px;
    width: 95%; }

  .why-it .features li {
    font-size: 16px;
    line-height: 24px; }

  .about-it .herotitle {
    text-align: left; }
  .about-it .abt-highlights .imgwrap {
    width: 25%; }
  .about-it .about-leftcont {
    width: 95%;
    float: none;
    margin: 0 auto;
    padding: 30px;
    margin-top: 175px; }

  .linesbox img {
    width: 100%; }

  .gearsbox {
    display: none; }

  .prgm-admns {
    margin: 70px 0 40px 0; }

  .greycolorwrapper:after {
    margin-top: -140px;
    width: 100%;
    height: 90%; }

  .backpatch-right::before,
  .backpatch-right:after {
    height: 50%; }

  .comps-colorwrapper:after {
    width: 97%; }

  .recruitersbox .companys-list li {
    margin: 0 0 30px 0;
    width: calc(100% / 3); }

  footer .full-width {
    text-align: center; }
  footer .qkwrapper {
    padding: 0; }
  footer ul.social {
    margin-bottom: 40px; }
    footer ul.social li {
      float: none; }

  .lifesmbox .overlay {
    font-size: 16px; } }
@media screen and (max-width: 767px) {
  .itcamp-slider .university-slider .carousel-caption p {
    text-align: left; }

  .form_div .title {
    text-align: center; }
  .form_div p {
    text-align: center; }

  .about-it .herotitle {
    font-size: 28px;
    text-align: center; }
  .about-it .about-leftcont {
    margin-top: 20px; }

  p {
    text-align: center;
    font-size: 16px; }

  .linesbox {
    display: none; }

  .prgm-admns {
    margin: 70px 0 30px 0; }
    .prgm-admns .prgm-card .relatedcont {
      box-shadow: 0 3px 20px 0 rgba(0, 0, 0, 0.16); }

  .comps-colorwrapper:after {
    width: 100%; }

  .mbot20 {
    margin-bottom: 0 !important; }

  .lifesmbox .image {
    margin-bottom: 30px; }

  .why-it .bldgimg {
    margin-bottom: 30px; }

  .about-it .abt-highlights .contentwrap p {
    text-align: left; }

  .lifesmbox .padleft0 {
    padding-left: 15px !important; }
  .lifesmbox .row.margin0 {
    margin-right: -15px !important;
    margin-left: -15px !important; }

  footer .container {
    max-width: 85%;
    padding: 30px; }
  footer .qkwrapper {
    padding-left: 100px; }

  nav.navbar ul.navbar-nav a.nav-link {
    font-size: 14px;
    line-height: 15px; }
    nav.navbar ul.navbar-nav a.nav-link.trust {
      display: none; }

  .about-it .abt-highlights {
    width: 46%; }
  .about-it .awards-lightintro {
    display: flex; } }
@media screen and (max-width: 575px) {
  .navbar .navbar-nav {
    padding-top: 20px; }
    .navbar .navbar-nav .nav-item {
      width: 100%;
      text-align: center; }
  .navbar .navbar-brand {
    width: 70%; }

  .modal-body {
    padding: 20px; }
    .modal-body p.title {
      font-size: 20px;
      margin: 0px 0px 15px 0px; }
    .modal-body p.para {
      font-size: 16px;
      line-height: 25px; }

  .prgm-admns .prgm-card .card0-cont {
    padding: 20px 20px; }

  .recruitersbox .companys-list li {
    width: calc(100% / 2); }

  .about-it .abt-highlights {
    width: 100%; }

  .herotitle,
  .form_div .title,
  .about-it .herotitle {
    font-size: 26px;
    line-height: 38px; }

  footer .qkwrapper {
    padding-left: 30px; }

  .lifesmbox {
    margin: 0 0 35px 0; } }
@media screen and (max-width: 480px) {
  .herotitle,
  .form_div .title,
  .about-it .herotitle {
    font-size: 24px;
    line-height: 34px; }

  .about-it .abt-highlights .imgwrap {
    width: 35%; }
  .about-it .awards-lightintro {
    display: block; }

  .recruitersbox .companys-list {
    padding: 0; }
    .recruitersbox .companys-list li {
      text-align: center; }
      .recruitersbox .companys-list li img {
        text-align: center;
        width: 75%; }

  .backpatch-right::before,
  .backpatch-right:after {
    height: 35%; }

  .itcamp-slider .university-slider .carousel-caption {
    height: 135px; }

  .backpatch-right {
    padding: 40px 0 0 0; }

  .form_div {
    margin-top: 210px;
    margin-top: 140px; }

  .prgm-admns .container {
    padding-right: 15px !important;
    padding-left: 15px !important; }
  .prgm-admns .prgm-card .blue-link {
    font-size: 16px;
    line-height: 24px; }

  footer .ft-heading {
    text-align: center; }
  footer .container {
    padding: 20px; }
  footer img {
    width: 100%; }
  footer .width-50 {
    width: 100%; }
  footer .contdetls-list li, footer .quick-list li {
    width: 100%;
    text-align: center; }
  footer .contdetls-list {
    width: 100%;
    float: left; }
    footer .contdetls-list li {
      text-align: left;
      margin: 0 auto; }
  footer .qkwrapper {
    padding-left: 0; }
  footer ul.social li {
    float: left;
    padding: 0px; }
    footer ul.social li a.linkedin:after {
      margin-left: 5px; } }

/*# sourceMappingURL=kjsiet-campaign.css.map */
